<%= render "shared/academy_header" %>
<div class="yellow-title">MODIFIER UNE CATÉGORIE</div>
<div class="flexy">
  <div class="form-container">
    <%= form_with(model: @category, url: managers_category_path, method: :put, id: "category-form") do |form| %>
      <%= form.label :name, "Nom :" %>
      <%= form.text_field :name, class: "form-control" %>
      <div class="flex-btn">
        <%= form.submit "Valider", class: "btn-etendart" %>
        <%= link_to "Annuler", managers_categories_path, class: "btn-etendart-black" %>
      </div>
    <% end %>
  </div>
</div>
