<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">LES CATÉGORIES</div>
</div>
<div class="yellow-title">LES CATÉGORIES D'ACTIVITÉ</div>
<div class="container flexy" style="max-width:300px">
  <table class="table table-striped form-container table-center table-responsive">
    <thead>
      <tr>
        <th>Nom de la catégorie</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <%= link_to edit_managers_category_path(category), data: { turbolinks: false } do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div data-controller="hidden-forms">
    <div class="flexy">
      <button class="btn-etendart-square" data-action="click->hidden-forms#displayCategoryForm">Ajouter une categorie</button>
      <%= simple_form_for @category, url: managers_categories_path, method: :post, html: { class: "hidden-form form-container-hidden", id: "category-form"}, data: { hidden_forms_target: "categoryForm" } do |form| %>
        <%= form.input :name, label: "Nom :" %>
        <%= form.input :super_category, label: "Super catégorie :", collection: ['Sport', 'Eveil', 'Cuisine', 'Accompagnement'], input_html: { class: "form-control" } %>
        <div class="flex-btn">
          <%= form.button :submit, "Valider", class: "btn-etendart" %>
          <button class="btn-etendart-black" data-action="click->hidden-forms#hideCategoryForm" type="button">Annuler</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
