<div class="form-container table-center col-11" data-search-student-target="list">
  <table id="myTable" class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Genre</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Date de naissance</th>
        <th>Cotisant ?</th>
      </tr>
    </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr class="clickable-tr" onclick="window.location.href='<%= managers_student_path(student) %>'">
            <td class="align-middle"><%= student.last_name %></td>
            <td class="align-middle"><%= student.first_name %></td>
            <td class="align-middle"><%= student.gender %></td>
            <td class="align-middle"><%= student.email %></td>
            <td class="align-middle"><%= student.phone_number %></td>
            <td class="align-middle"><%= student.french_date_of_birth %></td>
            <% if student.current_membership && student.current_membership.paid %>
              <td><i class="fa-solid fa-circle-check text-success fa-small"></i></td>
            <% else %>
              <td><i class="fa-solid fa-circle-xmark fa-pink fa-small"></i></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
<div class="flexy mb-3 pagy-list">
  <%== pagy_bootstrap_nav(@pagy, link_extra: "data-search-student-target='paginationLink'") if @pagy.pages > 1 %>
</div>
