<div class="student-title"><%= @student.full_name.upcase %></div>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES ÉLÈVES", managers_students_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to @student.full_name.upcase, managers_student_path(@student, academy_id: @academy.id) %></div>
  <div class="header-nav-item active">MODIFIER</div>
</div>
<div class="yellow-title">MODIFIER LES INFORMATIONS</div>
<div class="container flexy">
  <div class="form-container form-min-width">
    <%= simple_form_for @student, url: managers_student_path(@student), html: {class: 'form-horizontal'}, method: :put do |form| %>
      <%= form.input :last_name, label: "Nom de famille", required: true %>

      <%= form.input :first_name, label: "Prénom", required: true %>

      <%= form.input :email, required: true %>

      <%= form.input :phone_number, label: "Téléphone", required: true %>

      <%= form.input :date_of_birth, as: :date, label: "Date de naissance", required: true, start_year: Date.today.year - 30, end_year: Date.today.year %>

      <%= form.input :gender, as: :select, collection: ["Garçon", "Fille"], label: "Genre", required: true %>

      <%= form.input :address, label: "Adresse", required: true %>

      <%= form.input :zipcode, label: "Code Postal", required: true %>

      <%= form.input :city, label: "Ville", required: true %>

      <%= form.input :academy1_id, label: "Académie 1", collection: current_user.academies_as_manager, label_method: :name, value_method: :id, required: true, selected: @academy1&.id %>

      <%= form.input :academy2_id, label: "Académie 2 (optionnel)", collection: current_user.academies_as_manager, label_method: :name, value_method: :id, include_blank: true, selected: @academy2&.id || 'Sélectionnez une académie' %>

      <%= form.input :academy3_id, label: "Académie 3 (optionnel)", collection: current_user.academies_as_manager, label_method: :name, value_method: :id, include_blank: true, selected: @academy3&.id || 'Sélectionnez une académie' %>

      <div class="flex-btn">
        <%= form.button :submit, "Valider", class: "btn-etendart" %>
        <%= link_to "Annuler", managers_student_path(@student, academy_id: @academy.id), class: "btn-etendart-black" %>
      </div>
    <% end %>
  </div>
</div>
