<div class="student-title"><%= @student.last_name %> - <%= @student.first_name %></div>
<div class="flexy container">
  <div class="container form-container form-max-width">
    <%= simple_form_for @student, url: managers_student_path(@student), method: :put do |f| %>
      <%= f.input :first_name, label: "Prénom" %>
      <%= f.input :last_name, label: "Nom" %>
      <%= f.input :date_of_birth, label: "Date de naissance" %>
      <%= f.input :gender, as: :select, collection: ["Garçon", "Fille"], label: "Genre" %>
      <%= f.input :email, label: "Email" %>
      <%= f.input :phone_number, label: "Numéro de téléphone" %>
      <%= f.input :address, label: "Adresse" %>
      <%= f.input :zipcode, label: "Code postal" %>
      <%= f.input :city, label: "Ville" %>
      <div class="flexy">
        <%= f.button :submit, "Valider", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
