<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">LES ÉLÈVES</div>
</div>
<div class="yellow-title">LES ÉLÈVES</div>
<div class="row justify-content-center align-items-center" data-controller="search-student" data-search-student-academy-id-value="<%= @academy.id  %>">
  <div class="col-11  mt-2 mb-3 <%= current_user.manager? ? "student-list-header" : "d-flex justify-content-center gap-4" %>">
    <%= link_to export_students_csv_managers_students_path(academy: @academy, format: :csv), class: 'btn-add-student' do %>
      <i class="fa-solid fa-download fa-no-margin"></i>EXPORTER<i class="fa-solid fa-download fa-no-margin"></i>
    <% end %>
    <% if current_user.manager? %>
      <div>
        <button type="button" class="btn-add-student" style="max-width:250px" data-bs-toggle="modal" data-bs-target="#importModal">
          <i class="fas fa-upload fa-no-margin"></i>IMPORTER<i class="fas fa-upload fa-no-margin"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= "Importer un fichier d'élèves (hors stage)" %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="flexy" data-controller="import-csv">
                  <div class="loader d-none" data-import-csv-target="spinner"></div>
                  <div class="container flexy mt-3">
                      <%= simple_form_for :import, url: import_without_camp_managers_import_students_path, method: :post, data: { action: "change->import-csv#handleFileSelect" } do |form| %>
                        <%= hidden_field_tag :academy_id, @academy.id %>
                        <div class="form-group">
                          <%= form.input :csv_file, as: :file, label: false, input_html: { accept: '.csv', data: { import_csv_target: "csvFileInput" }, class: "form-control-file" } %>
                        </div>
                        <%= form.submit 'Importer', disabled: true, data: { import_csv_target: "importButton", action: "click->import-csv#showSpinner" }, class: "btn btn-primary" %>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div style="width:40%">
      <%= form_with url: managers_students_path, method: :get, html: {class: "d-flex", data: {search_student_target: "form"}} do |f| %>
        <%= f.text_field :query,
              class: "student-input-search",
              placeholder: "Rechercher",
              value: params[:query],
              data: {
                search_student_target: "input",
                action: "keyup->search-student#update"
              },
              autofocus: false %>
      <% end %>
    </div>
    <% if current_user.manager? %>
      <%= link_to new_managers_student_path(academy_id: @academy.id), class: "btn-add-student" do %>
        <i class="fa-solid fa-square-plus fa-square-bigger"></i>NOUVEAU<i class="fa-solid fa-square-plus fa-square-bigger"></i>
      <% end %>
    <% end %>
  </div>
  <%= render "list", students: @students, pagy: @pagy %>
</div>
