<%= render "shared/home_header" %>
<div class="yellow-title">Ajouter un élève</div>
<div class="container flexy">
  <div class="form-container">
    <%= simple_form_for @student, url: managers_students_path, html: {class: 'form-horizontal'} do |form| %>
      <%= form.input :last_name, label: "Nom de famille", required: true %>

      <%= form.input :first_name, label: "Prénom", required: true %>

      <%= form.input :email, required: true %>

      <%= form.input :phone_number, label: "Téléphone", required: true %>

      <%= form.input :date_of_birth, as: :date, label: "Date de naissance", required: true %>

      <%= form.input :gender, as: :select, collection: ["Garçon", "Fille"], label: "Genre", required: true %>

      <%= form.input :address, label: "Adresse", required: true %>

      <%= form.input :zipcode, label: "Code Postal", required: true %>

      <%= form.input :city, label: "Ville", required: true %>

      <%= form.input :academy1_id, label: "Académie 1", collection: current_user.academies_as_manager, label_method: :name, value_method: :id, required: true %>

      <%= form.input :academy2_id, label: "Académie 2 (optionnel)", collection: current_user.academies_as_manager, label_method: :name, value_method: :id, include_blank: true %>

      <%= form.button :submit, "Valider", class: "btn-etendart" %>
    <% end %>
  </div>
</div>
