<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES ÉLÈVES", managers_students_path(academy: @academy) %></div>
  <div class="header-nav-item active">NOUVEL ÉLÈVE</div>
</div>
<div class="yellow-title">AJOUTER UN ÉLÈVE</div>
<div class="container flexy">
  <%= simple_form_for @student, url: managers_students_path, html: {class: 'form-horizontal'} do |form| %>
  <div class="row form-container">
      <div class="col-6">
        <%= form.input :last_name, label: "Nom de famille", required: true %>
        <%= form.input :email, required: true %>
        <%= form.input :date_of_birth, as: :date, label: "Date de naissance", start_year: Date.today.year - 30, end_year: Date.today.year, required: true, input_html: { value: '' }, default: nil, include_blank: true %>
        <%= form.input :address, label: "Adresse" %>
        <%= form.input :city, label: "Ville" %>
        <%= form.input :academy2_id, label: "Académie 2 (optionnel)", collection: @academies, label_method: :name, value_method: :id, include_blank: true %>
      </div>
      <div class="col-6">
        <%= form.input :first_name, label: "Prénom", required: true %>
        <%= form.input :phone_number, label: "Téléphone", required: true %>
        <%= form.input :gender, as: :select, collection: ["Garçon", "Fille"], label: "Genre", required: true %>
        <%= form.input :zipcode, label: "Code Postal" %>
        <%= form.input :academy1_id, label: "Académie 1", collection: @academies, label_method: :name, value_method: :id, required: true %>
        <%= form.input :academy3_id, label: "Académie 3 (optionnel)", collection: @academies, label_method: :name, value_method: :id, include_blank: true %>
      </div>
      <div class="flexy">
        <%= form.button :submit, "Valider", class: "btn-add-student btn-add-student-small btn-no-hover" %>
      </div>
    <% end %>
  </div>
</div>
