<div class="student-title"><%= @student.full_name %></div>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES ÉLÈVES", managers_academy_students_path(@academy) %></div>
  <div class="header-nav-item active"><%= @student.full_name.upcase %></div>
</div>


<div class="row mt-3 justify-content-center align-items-stretch">

  <div class="col-lg-5 col-sm-12 mt-3" data-controller="upload-photo">
    <div class="header-info">INFORMATIONS</div>
    <div class="content-info content-info-student">
      <div class="student-info">
        <p>NOM : <%= @student.last_name %></p>
        <p>PRÉNOM : <%= @student.first_name %></p>
        <p><%= @student.gender %> - <%= @student.age %> ans </p>
        <p>EMAIL: <%= @student.email %></p>
        <p>TEL : 0<%= @student.phone_number %></p>
        <p>ADRESSE : <%= @student.address %> - <%= @student.zipcode %> - <%= @student.city %></p>
      </div>
      <div class="student-photo">
        <% if @student.photo.attached? %>
          <%= cl_image_tag @student.photo_or_default, id: "student-photo-manager", width: 120, height: 120, crop: :thumb, gravity: "face", class: "avatar", data: { upload_photo_target: "photo" } %>
          <div class="spinner-border text-primary d-none" role="status" data-upload-photo-target="spinner">
            <span class="sr-only">Loading...</span>
          </div>
          <%= simple_form_for(@student, url: update_photo_managers_student_path(@student, academy_id: @academy.id), method: :put, html: { multipart: true, data: { upload_photo_target: "form" } }) do |form| %>
            <%= form.input :photo, label: "Changer la photo", as: :file, input_html: { onchange: 'this.form.submit();', id: 'photo-input', style: 'display:none;cursor:pointer', accept: "image/*" }, label_html: { class: "btn-photo" } %>
          <% end %>
        <% else %>
          <%= cl_image_tag @student.photo_or_default, id: "student-photo-manager", width: 120, height: 120, crop: :thumb, gravity: "face", class: "avatar", data: { upload_photo_target: "photo" } %>
          <div class="spinner-border text-primary d-none" role="status" data-upload-photo-target="spinner">
            <span class="sr-only">Loading...</span>
          </div>
          <%= simple_form_for(@student, url: update_photo_managers_student_path(@student, academy_id: @academy.id), method: :put, html: { multipart: true, data: { upload_photo_target: "form" } }) do |form| %>
            <%= form.input :photo, label: "Ajouter une photo", as: :file, input_html: { onchange: 'this.form.submit();', id: 'photo-input', style: 'display:none;cursor:pointer', accept: "image/*"}, label_html: { class: "btn-photo" } %>
          <% end %>
        <% end %>
      </div>
      <div class="flexy">
        <%= link_to "Modifier les informations", edit_managers_student_path(@student), class: "btn-etendart-blue", style: "width:300px" %>
      </div>
    </div>
  </div>

  <div class="col-lg-7 col-sm-12 mt-3">
    <div class="header-info">PROCHAINES ACTIVITÉS</div>
    <div class="content-info">
      <% if @student.next_activities.empty? %>
      <div class="text-center">
        Aucune activité à venir
      </div>
      <% else %>
      <div>
        <table class="table table-striped table-responsive table-center">
          <thead>
            <tr>
              <th>Académie</th>
              <th>Stage</th>
              <th>Semaine</th>
              <th>Activité</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <% @student.next_activities.each do |activity| %>
            <tr>
              <td class="align-middle"><%= activity.academy.name %></td>
              <td class="align-middle"><%= activity.school_period.name %></td>
              <td class="align-middle"><%= activity.camp.name %></td>
              <td class="align-middle"><%= activity.name %></td>
              <td class="align-middle">
                <%= link_to managers_activity_enrollment_path(activity.activity_enrollments.find_by(student_id: @student.id), redirect_to: 'student'), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir enlever cet élève ?" } do %>
                  <i class="fas fa-trash trash"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
      <div data-controller="enrollment-form">
        <div class="flexy">
          <button type="button" class="btn-etendart-blue" data-action="click->enrollment-form#openModal" style="width:300px">
            Inscrire à une activité
          </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= "Inscription de #{@student.first_name} #{@student.last_name}" %></h5>
                <i class="fas fa-times" data-action="click->enrollment-form#closeModal" style="cursor: pointer;"></i>
              </div>
              <div class="modal-body">
                <%= form_with url: managers_enrollments_path, local: true do |form| %>
                    <%= form.hidden_field :student_id, value: @student.id %>

                    <%= form.label :academy, "Académie" %>
                    <%= form.collection_select :academy, @academies, :id, :name, {}, {class: "form-select", required: true, data: { enrollment_form_target: 'academy', action: "change->enrollment-form#updateSchoolPeriods" } } %>

                    <%= form.label :school_period, "Période" %>
                    <%= form.collection_select :school_period, [], :id, :name, {}, {class: "form-select", required: true, data: { enrollment_form_target: 'schoolPeriod', action: "change->enrollment-form#updateCamps" } } %>

                    <%= form.label :camp, "Stage" %>
                    <%= form.collection_select :camp, [], :id, :name, {}, {class: "form-select", required: true, data: { enrollment_form_target: 'camp', action: "change->enrollment-form#updateActivities" } } %>

                    <%= form.label :activity, "Activité" %>
                    <%= form.collection_select :activity, [], :id, :name, {}, {class: "form-select", required: true, data: { enrollment_form_target: 'activity' } } %>
                    <div class="d-flex justify-content-around mt-3">
                      <%= form.submit "Valider", class: "btn-etendart" %>
                      <button class="btn-etendart-black" type="button" data-action="click->enrollment-form#closeModal">Annuler</button>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12 mt-4">
    <div class="header-info">HISTORIQUE</div>
    <div class="content-info">
      <div>
        <p><%= "Nb total stages : #{@student.camps_count}" %></p>
        <p><%= "Nb de cours passés : #{@student.past_courses_count}" %></p>
        <p><%= "Nb absences : #{@student.unattended_courses_count}" %></p>
        <p><%= "Taux d'absentéisme : #{@student.unattended_rate}%" %></p>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sm-12 mt-4">
    <div class="header-info">FEEDBACKS</div>
    <div class="content-info">
      <div>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Auteur</th>
              <th>Date</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <% @student.feedbacks.each do |feedback| %>
            <tr>
              <td class="align-middle"><%= feedback.coach.full_name %></td>
              <td class="align-middle"><%= l(feedback.created_at, format: :date)  %></td>
              <td class="align-middle"><%= feedback.content %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="flexy">
        <%= link_to "Ajouter un feedback", new_managers_feedback_path(params: { student_id: @student.id }), class: "btn-etendart-blue", style:"width:300px" %>
      </div>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div class="header-info">COURS A VENIR</div>
    <div class="content-info">
      <table class="table table-responsive table-striped table-center">
        <thead>
          <tr>
            <th>Academie</th>
            <th>Stage</th>
            <th>Semaine</th>
            <th>Activité</th>
            <th>Jour</th>
          </tr>
        </thead>
        <tbody>
          <% @student.next_courses.each do |course| %>
            <tr>
              <td class="align-middle"><%= course.academy.name %></td>
              <td class="align-middle"><%= course.school_period.name %></td>
              <td class="align-middle"><%= course.camp.name %></td>
              <td class="align-middle"><%= course.activity.name %></td>
              <td class="align-middle"><%= l(course.starts_at, format: :default) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div class="header-info">COURS PASSÉS</div>
    <div class="content-info">
      <table class="table table-responsive table-striped table-center">
        <thead>
          <tr>
            <th>Academie</th>
            <th>Stage</th>
            <th>Activité</th>
            <th>Jour</th>
            <th>Présent</th>
          </tr>
        </thead>
        <tbody>
          <% @student.past_courses.each do |course| %>
            <tr style="<%= course.student_presence(@student) ? '' : 'background-color: orange !important;' %>">
              <td class="align-middle"><%= course.academy.name %></td>
              <td class="align-middle"><%= course.school_period.name %></td>
              <td class="align-middle"><%= course.activity.name %></td>
              <td class="align-middle"><%= l(course.starts_at, format: :date) %></td>
              <td class="align-middle"><%= course.student_presence(@student) ? 'présent' : 'absent' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
