<div class="student-title"><%= @student.full_name.upcase %></div>
<div class="header-nav">
  <% if @academy %>
    <div class="header-nav-item"><%= link_to @academy&.name&.upcase, managers_academy_path(@academy) %></div>
    <div class="header-nav-item"><%= link_to "LES ÉLÈVES", managers_students_path(academy: @academy) %></div>
  <% end %>
  <div class="header-nav-item active"><%= @student.full_name.upcase %></div>
</div>

<div data-controller="loading-message">
  <div class="flexy-wrap gap-4" data-controller="selected-button">
    <%= link_to "INFORMATIONS",
                managers_student_path(@student),
                data: { turbo_frame: "selected_content",
                        selected_button_target: "button",
                        action: "click->selected-button#toggleButtons click->loading-message#showLoading" },
                class: "btn-selection btn-fill selected" %>
    <%= link_to "ACTIVITÉS À VENIR",
                current_activities_managers_student_path(@student),
                data: { turbo_frame: "selected_content",
                        selected_button_target: "button",
                        action: "click->selected-button#toggleButtons click->loading-message#showLoading" },
                class: "btn-selection btn-fill" %>
    <%= link_to "HISTORIQUE",
                past_activities_managers_student_path(@student),
                data: { turbo_frame: "selected_content",
                        selected_button_target: "button",
                        action: "click->selected-button#toggleButtons click->loading-message#showLoading" },
                class: "btn-selection btn-fill" %>
  </div>

  <%= turbo_frame_tag "selected_content", data: { loading_message_target: "turboFrame" }  do %>
    <div class="row justify-content-center align-items-stretch">
      <div class="col-lg-5 col-md-7 col-sm-12" data-upload-photo-student-id-value="<%=@student.id%>">
        <div class="header-info">
          INFORMATIONS
          <%= link_to edit_managers_student_path(@student), style: "margin-left:1rem" do %>
            <i class="fa-solid fa-user-pen"></i>
          <% end %>
        </div>
        <div class="content-info content-info-show-student">
          <div class="student-info">
            <p>NOM : <strong><%= @student.last_name.try(:upcase) %></strong></p>
            <p>PRÉNOM : <strong><%= @student.first_name %></strong></p>
            <strong>
              <p class="d-flex gap-2">
              COTISANT <%= @start_year %>-<%= @start_year + 1 %> :
              <% if @membership&.paid %>
                <i class="fa-solid fa-circle-check text-success fa-small"></i>
              <% else %>
                <i class="fa-solid fa-circle-xmark fa-pink fa-big fa-small"></i>
              <% end %>
              </p>
            </strong>
            <p><%= @student.gender %> - <%= @student.age %> ans </p>
            <p>EMAIL : <%= @student.email %></p>
            <p>TEL : <%= @student.phone_number %></p>
            <p>ADRESSE : <%= @student.address %></p>
            <p>VILLE : <%= @student.city %> - <%= @student.zipcode %></p>
          </div>
          <div class="student-photo">
            <div class="loader-photo d-none" data-upload-photo-target="spinner"></div>
            <% if @student.photo.key? %>
              <%= cl_image_tag @student.photo_or_default,
                      data: { upload_photo_target: "photo" },
                      class: "avatar-medium",
                      crop: "thumb",
                      gravity: "face",
                      width: 300,
                      height: 300 %>
            <% else %>
              <%= image_tag "avatar.png",
                      data: { upload_photo_target: "photo" },
                      class: "avatar-medium" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="header-info">ACADEMIES</div>
        <div class="content-info content-info-show-student">
            <%= simple_form_for @student, url: managers_student_path(@student), method: :put do |form| %>
            <div>
                <%= form.input :academy1_id, label: "Académie 1", collection: @academies, label_method: :name, value_method: :id, required: true, selected: @academy1&.id, wrapper_html: { style: 'margin-bottom:0.5rem!important' } %>

                <%= form.input :academy2_id, label: "Académie 2 (optionnel)", collection: @academies, label_method: :name, value_method: :id, include_blank: true, selected: @academy2&.id || 'Sélectionnez une académie', wrapper_html: { style: 'margin-bottom:0.5rem!important' } %>

                <%= form.input :academy3_id, label: "Académie 3 (optionnel)", collection: @academies, label_method: :name, value_method: :id, include_blank: true, selected: @academy3&.id || 'Sélectionnez une académie', wrapper_html: { style: 'margin-bottom:0.5rem!important' } %>
            </div>

            <div class="flexy">
              <%= form.button :submit, "VALIDER", class: "btn-add-student btn-add-student-small btn-no-hover" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="header-info">HISTORIQUE</div>
        <div class="content-info content-info-show-student">
          <div>
            <p><%= "STAGES : #{@student.camps_count}" %></p>
            <p><%= "PROGRAMMES : #{@student.annual_programs_count}" %></p>
            <p><%= "COURS : #{@student.past_courses_count}" %></p>
            <p><%= "ABSENCES: #{@student.unattended_courses_count}" %></p>
            <p><%= "TAUX ABS : #{@student.unattended_rate}%" %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-11 col-sm-12 mt-3">
        <div class="header-info"> PAIEMENT COTISATIONS </div>
        <div class="content-info content-info-show-student">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Année</th>
                <th>Montant</th>
                <th>Date du paiement</th>
                <th>Mode de paiement</th>
                <th>Reçu par</th>
                <th class="text-center">Payé ?</th>
              </tr>
            </thead>
            <tbody>
              <% @memberships.each do |membership| %>
                <%= render "managers/students/membership", membership: membership, student: @student, start_year: membership.start_year %>
              <% end %>
            </tbody>
          </table>
          <% if !@membership %>
            <div class="flexy">
              <button type="button" class="btn-add-student btn-large" data-bs-toggle="modal" data-bs-target="#membershipModal">
                <i class="fa-solid fa-square-plus fa-square-bigger"></i>AJOUTER COTISATION<i class="fa-solid fa-square-plus fa-square-bigger"></i>
              </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true" data-controller="close-modal">
              <div class="modal-dialog">
                <div class="modal-content" style="width:80%;padding:0px">
                  <div class="modal-header modal-header-deposit">
                    <h5 class="modal-title"><%= "Nouvelle cotisation pour #{@student.first_name} #{@student.last_name}" %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <%= simple_form_for Membership.new, url: managers_memberships_path, data: { action: "submit->close-modal#closeModal", controller: "payment-method" }, method: :post do |f| %>
                      <div class="modal-body" style="text-align:left;">
                        <%= f.hidden_field :student_id, value: @student.id %>
                        <%= f.hidden_field :start_year, value: @start_year %>

                        <%= f.input :start_year_display,
                                    label: "Année",
                                    input_html: { value: "#{@start_year}-#{@start_year + 1}", readonly: true, class: "form-control mb-3" } %>

                        <%= f.input :amount,
                                    label: "Montant",
                                    input_html: { value: Membership::PRICE, class: "form-control mb-3", required: true, readonly: true } %>

                        <%= f.input :payment_method,
                                    label: "Moyen de paiement",
                                    required: true,
                                    collection: [['Chèque', 'cheque'], ['Espèces', 'cash'], ['Hello Asso', 'hello_asso'], ['Pass', 'pass'], ['Virement', 'virement'], ['Offert', 'offert']],
                                    prompt: "Sélectionner",
                                    input_html: { class: "form-select mb-3", data: { action: "change->payment-method#toggleReceiverRequired" } } %>

                        <%= f.input :receiver_id,
                                    label: "Personne ayant reçu le paiement",
                                    collection: User.all.order(:last_name).map { |user| [user.full_name_reverse, user.id] },
                                    selected: current_user.id, # Si aucune valeur n'est pré-sélectionnée
                                    prompt: "Sélectionner",
                                    include_blank: true,
                                    input_html: { class: "form-select mb-3", data: { payment_method_target: "receiver" }} %>
                      </div>
                      <div class="modal-footer d-flex justify-content-around">
                        <%= f.submit "Valider", class: "btn-add-student btn-add-student-small" %>
                        <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-11 col-sm-12 mt-3">
        <div class="header-info"> PAIEMENT STAGES </div>
        <div class="content-info content-info-show-student">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Académie</th>
                <th>Stage</th>
                <th>Semaine</th>
                <th>Montant</th>
                <th>Date du paiement</th>
                <th>Mode de paiement</th>
                <th>Reçu par</th>
                <th class="text-center">Payé ?</th>
              </tr>
            </thead>
            <tbody>
              <% @camp_enrollments.each do |camp_enrollment| %>
                <%= render "managers/students/camp_enrollment", camp_enrollment: camp_enrollment, student: @student %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-11 mt-3 mb-4">
        <div class="header-info">FEEDBACKS</div>
        <div class="content-info content-info-show-student">
          <div>
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>Auteur</th>
                  <th>Date</th>
                  <th>Message</th>
                  <th class="text-center">Supprimer</th>
                </tr>
              </thead>
              <tbody>
                <% @feedbacks.each do |feedback| %>
                <tr>
                  <td class="align-middle"><%= feedback.coach.full_name %></td>
                  <td class="align-middle"><%= l(feedback.created_at, format: :date_short_year)  %></td>
                  <td class="align-middle"><%= feedback.content %></td>
                  <% if feedback.coach == current_user %>
                    <td class="text-center">
                      <%= link_to managers_feedback_path(feedback), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce feedback ?", turbo_confirm_class: "confirmation-message" } do %>
                        <i class="fas fa-trash trash"></i>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="flexy">
            <button type="button" class="btn-add-student" style="max-width:250px" data-bs-toggle="modal" data-bs-target="#feedbackModal">
              <i class="fa-solid fa-square-plus fa-square-bigger"></i>NOUVEAU<i class="fa-solid fa-square-plus fa-square-bigger"></i>
            </button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true" data-controller="close-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= "Ajouter un feedback pour #{@student.first_name} #{@student.last_name}" %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <%= form_with(model: @feedback, url: managers_feedbacks_path(student_id: @student.id), data: { action: "submit->close-modal#closeModal" }, local: true) do |form| %>
                  <div class="modal-body">
                      <div class="form-group">
                        <%= form.text_area :content, class: "form-control", placeholder: "Ecrivez votre commentaire ici...", required: true %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <%= form.submit "Valider", class: "btn-add-student btn-add-student-small" %>
                    <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render "shared/flashes" %>
  <% end %>
</div>
