<div class="student-title"><%= @student.full_name.upcase %></div>
<div class="header-nav">
  <% if @academy %>
    <div class="header-nav-item"><%= link_to @academy&.name&.upcase, managers_academy_path(@academy) %></div>
    <div class="header-nav-item"><%= link_to "LES ÉLÈVES", managers_students_path(academy: @academy) %></div>
  <% end %>
  <div class="header-nav-item active"><%= @student.full_name.upcase %></div>
</div>

<div class="flexy-wrap mt-2 mb-2 gap-4" data-controller="selected-button">
  <%= link_to "INFORMATIONS",
              managers_student_path(@student),
              data: { turbo_frame: "selected_content",
                      selected_button_target: "button",
                      action: "click->selected-button#toggleButtons" },
              class: "btn-selection btn-fill selected" %>
  <%= link_to "ACTIVITÉS À VENIR",
              current_activities_managers_student_path(@student),
              data: { turbo_frame: "selected_content",
                      selected_button_target: "button",
                      action: "click->selected-button#toggleButtons" },
              class: "btn-selection btn-fill" %>
  <%= link_to "HISTORIQUE",
              past_activities_managers_student_path(@student),
              data: { turbo_frame: "selected_content",
                      selected_button_target: "button",
                      action: "click->selected-button#toggleButtons" },
              class: "btn-selection btn-fill" %>
</div>

  <%= turbo_frame_tag "selected_content" do %>
    <div class="row justify-content-center align-items-stretch">
      <div class="col-lg-5 col-md-7 col-sm-12" data-upload-photo-student-id-value="<%=@student.id%>">
        <div class="header-info">INFORMATIONS</div>
        <div class="content-info">
          <div class="student-info">
            <p>NOM : <strong><%= @student.last_name.try(:upcase) %></strong></p>
            <p>PRÉNOM : <strong><%= @student.first_name %></strong></p>
            <p><%= @student.gender %> - <%= @student.age %> ans </p>
            <p>EMAIL: <%= @student.email %></p>
            <p>TEL : <%= @student.phone_number %></p>
            <p>ADRESSE : <%= @student.address %> - <%= @student.zipcode %> - <%= @student.city %></p>
          </div>
          <div class="student-photo">
            <div class="loader-photo d-none" data-upload-photo-target="spinner"></div>
            <% if @student.photo.key? %>
              <%= cl_image_tag @student.photo_or_default,
                      data: { upload_photo_target: "photo" },
                      class: "avatar",
                      crop: "thumb",
                      gravity: "face",
                      width: 300,
                      height: 300 %>
            <% else %>
              <%= image_tag "avatar.png",
                      data: { upload_photo_target: "photo" },
                      class: "avatar" %>
            <% end %>
          </div>
          <div class="flexy">
            <%= link_to "Modifier les informations", edit_managers_student_path(@student), class: "btn-etendart-yellow", style: "width:300px" %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-5 col-sm-12">
        <div class="header-info">ACADEMIES</div>
        <div class="content-info">
          <%= simple_form_for @student, url: managers_student_path(@student), html: {class: 'form-horizontal'}, method: :put do |form| %>
            <%= form.input :academy1_id, label: "Académie 1", collection: @academies, label_method: :name, value_method: :id, required: true, selected: @academy1&.id %>

            <%= form.input :academy2_id, label: "Académie 2 (optionnel)", collection: @academies, label_method: :name, value_method: :id, include_blank: true, selected: @academy2&.id || 'Sélectionnez une académie' %>

            <%= form.input :academy3_id, label: "Académie 3 (optionnel)", collection: @academies, label_method: :name, value_method: :id, include_blank: true, selected: @academy3&.id || 'Sélectionnez une académie' %>

            <div class="flexy">
              <%= form.button :submit, "Valider", class: "btn-add-student btn-add-student-small btn-no-hover" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="header-info">HISTORIQUE</div>
        <div class="content-info">
          <div>
            <p><%= "STAGES : #{@student.camps_count}" %></p>
            <p><%= "PROGRAMMES : #{@student.annual_programs_count}" %></p>
            <p><%= "COURS : #{@student.past_courses_count}" %></p>
            <p><%= "DONT ABSENCES: #{@student.unattended_courses_count}" %></p>
            <p><%= "TAUX ABS : #{@student.unattended_rate}%" %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 mt-3">
        <div class="header-info"> PAIEMENT COTISATIONS </div>
        <div class="content-info">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Année</th>
                <th>Montant</th>
                <th>Date du paiement</th>
                <th>Mode de paiement</th>
                <th>Reçu par</th>
                <th class="text-center">Payé ?</th>
              </tr>
            </thead>
            <tbody>
              <% @memberships.each do |membership| %>
                <%= render "managers/students/membership", membership: membership, student: @student, start_year: membership.start_year %>
              <% end %>
            </tbody>
          </table>
          <% if !@membership %>
            <div class="flexy">
              <button type="button" class="btn-add-student btn-large" data-bs-toggle="modal" data-bs-target="#membershipModal">
                <i class="fa-solid fa-square-plus fa-square-bigger"></i>AJOUTER COTISATION<i class="fa-solid fa-square-plus fa-square-bigger"></i>
              </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="width:80%;padding:0px">
                  <div class="modal-header modal-header-deposit">
                    <h5 class="modal-title"><%= "Nouvelle cotisation pour #{@student.first_name} #{@student.last_name}" %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <%= form_with(model: Membership.new, url: managers_memberships_path, local: true) do |form| %>
                      <div class="modal-body">
                        <%= form.hidden_field :student_id, value: @student.id %>

                        <%= form.label :start_year, "Année" %>
                        <%= form.text_field :start_year_display, value: "#{@start_year}-#{@start_year + 1}", class: "form-control mb-3", readonly: true %>
                        <%= form.hidden_field :start_year, value: @start_year %>

                        <%= form.label :amount, "Montant" %>
                        <%= form.number_field :amount, value: 15, class: "form-control mb-3", required: true %>

                        <%= form.label :payment_method, "Méthode de Paiement" %>
                        <%= form.collection_select :payment_method,
                                                    [['Chèque', 'cheque'], ['Espèces', 'cash'], ['Hello Asso', 'hello_asso'], ['Pass', 'pass'], ['Virement', 'virement'], ['Offert', 'offert']],
                                                    :last, :first,
                                                    { prompt: 'Sélectionnez une méthode de paiement' },
                                                    { class: "form-select mb-3", required: true } %>

                        <%= form.label :receiver_id, "Personne ayant reçu le paiement" %>
                        <%= form.collection_select :receiver_id,
                                                    User.all.order(:last_name).map { |user| [user.full_name_reverse, user.id] },
                                                    :second,
                                                    :first,
                                                    { selected: current_user.id, prompt: 'Sélectionnez une personne' },
                                                    { class: "form-select mb-3", required: true } %>
                      </div>
                      <div class="modal-footer d-flex justify-content-around">
                          <%= form.submit "Valider", class: "btn-add-student btn-add-student-small" %>
                          <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 mt-3">
        <div class="header-info"> PAIEMENT STAGES </div>
        <div class="content-info">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Académie</th>
                <th>Stage</th>
                <th>Semaine</th>
                <th>Montant</th>
                <th>Date du paiement</th>
                <th>Mode de paiement</th>
                <th>Reçu par</th>
                <th class="text-center">Payé ?</th>
              </tr>
            </thead>
            <tbody>
              <% @camp_enrollments.each do |camp_enrollment| %>
                <%= render "managers/students/camp_enrollment", camp_enrollment: camp_enrollment, student: @student %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="header-info">FEEDBACKS</div>
        <div class="content-info">
          <div>
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>Auteur</th>
                  <th>Date</th>
                  <th>Message</th>
                  <th class="text-center">Supprimer</th>
                </tr>
              </thead>
              <tbody>
                <% @feedbacks.each do |feedback| %>
                <tr>
                  <td class="align-middle"><%= feedback.coach.full_name %></td>
                  <td class="align-middle"><%= l(feedback.created_at, format: :date_short_year)  %></td>
                  <td class="align-middle"><%= feedback.content %></td>
                  <% if feedback.coach == current_user %>
                    <td class="text-center">
                      <%= link_to managers_feedback_path(feedback), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce feedback ?", turbo_confirm_class: "confirmation-message" } do %>
                        <i class="fas fa-trash trash"></i>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="flexy">
            <button type="button" class="btn-add-student" style="max-width:250px" data-bs-toggle="modal" data-bs-target="#feedbackModal">
              <i class="fa-solid fa-square-plus fa-square-bigger"></i>NOUVEAU<i class="fa-solid fa-square-plus fa-square-bigger"></i>
            </button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true" data-controller="close-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= "Ajouter un feedback pour #{@student.first_name} #{@student.last_name}" %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <%= form_with(model: @feedback, url: managers_feedbacks_path(student_id: @student.id), data: { action: "submit->close-modal#closeModal" }, local: true) do |form| %>
                  <div class="modal-body">
                      <div class="form-group">
                        <%= form.text_area :content, class: "form-control", placeholder: "Ecrivez votre commentaire ici...", required: true %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <%= form.submit "Valider", class: "btn-add-student btn-add-student-small" %>
                    <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/flashes" %>
  <% end %>
