
<%#
  Cette vue affiche une liste des enfants enregistrés pour les parents.
  Les parents peuvent ajouter de nouveaux enfants et accéder aux informations détaillées de chaque enfant.
%>

<h1 class="text-center py-3 my-5 bg-black text-white">
  Mes Enfants
</h1>

<% if @existing_children %>
  <%= simple_form_for :assign_children, url: assign_children_parents_children_path, method: :post do |f| %>

    <ul class="px-1">
      <% @existing_children.each do |child| %>
        <li class="card p-3 border-0 mb-3">
          <div class="row">

            <div class="col-3 d-flex align-items-center justify-content-center">
              <% if child.photo.key %>
                <%= cl_image_tag child.photo.key, class: "img-fluid rounded-circle" %>
              <% else %>
                <i class="fa-solid fa-circle-user" style="font-size: 4rem"></i>
              <% end %>
            </div>

            <div class="col-6 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title"><%= child.first_name %> <%= child.last_name %></h5>
                <p class="card-text"><%= l(child.date_of_birth, format: '%d/%m/%Y') %></p>
              </div>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
              <%= check_box_tag "child_ids[]", child.id, false, class: "form-check-input" %>
            </div>

          </div>
        </li>

      <% end %>
    </ul>

    <div class="text-center my-3">
      <%= f.submit "Associer les enfants", class: "btn btn-primary" %>
    </div>
  <% end %>


<% end %>


<section class="container">
  <% if @parent.children.any? %>

    <ul class="row g-3">
      <% @parent.children.each do |child| %>
        <li class="p-3 mb-3 col-12 col-md-6 col-lg-4">
          <%= link_to parents_child_path(child) do %>
            <section class="card rounded-4 bg-white p-3 h-100 border-0">
              <section class="row g-3">
                <div class="col-4">
                  <div class="ratio ratio-1x1">
                    <% if child.photo.key %>
                      <%= cl_image_tag child.photo.key, class: "img-fluid rounded-circle object-fit-cover" %>
                    <% else %>
                      <%= image_tag 'defaultvalue/profile-photo.png', class: "img-fluid rounded-circle object-fit-cover border" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-8">
                  <h2 class="card-title fs-6 p-2 bg-black text-white text-center rounded-4">
                    <%= child.first_name %> <%= child.last_name.upcase %>
                  </h2>
                  <ul class="card-text">
                    <li class="p-1">
                      <%= child.age %> ans
                    </li>
                    <li class="p-1">
                      <%= child.gender %>
                    </li>
                    <li class="p-1">
                      COTISANT <%= @start_year %>-<%= @start_year + 1 %>
                      <% if child.current_membership.paid %>
                        <i class="fa-solid fa-circle-check text-success fa-small"></i>
                      <% else %>
                        <i class="fa-solid fa-circle-xmark fa-pink fa-big fa-small"></i>
                      <% end %>
                    </li>
                    <li class="p-1">
                      <% if child.any_lack_of_infos? %>
                        <p class="text-danger">
                          <i class="fa-solid fa-exclamation-triangle"></i>
                          Il manque des informations
                        </p>

                      <% end %>
                    </li>
                  </ul>
                </div>

              </section>
            </section>
          <% end %>
        </li>
      <% end %>

        <li class="p-3 mb-3 col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
          <%= link_to 'Ajouter un enfant ➕', new_parents_child_path, class: "btn btn-dark rounded-4 px-4 py-2" %>
        </li>
    </ul>

  <% else %>
    <p class="text-center">
      Vous n'avez pas encore d'enfants enregistrés.
    </p>

    <div class="text-center my-3">
      <%= link_to 'Ajouter un enfant ➕', new_parents_child_path, class: "btn btn-dark rounded-4 px-4 py-2" %>
    </div>
  <% end %>
</section>
