
<%#
  Cette vue affiche une liste des enfants enregistrés pour les parents.
  Les parents peuvent ajouter de nouveaux enfants et accéder aux informations détaillées de chaque enfant.
%>

<h1 class="text-center py-1 my-3 bg-yellow">
  Mes Enfants
</h1>

<% if @parent.children.any? %>

  <ul class="row justify-content-center">
    <% @parent.children.each do |child| %>

        <li class="col-lg-4 col-md-6 col-12" data-upload-photo-student-id-value="<%=child.id%>">
          <%= link_to parents_child_path(child) do %>

            <div class="header-info">
              <%= child.first_name %> <%= child.last_name.upcase %>
            </div>

            <div class="content-info content-info-show-student">
              <div class="student-info">
                <strong>
                  <p class="d-flex gap-2">
                  COTISANT <%= @start_year %>-<%= @start_year + 1 %> :
                  <% if child.memberships.find_by(start_year: @start_year)&.paid %>
                    <i class="fa-solid fa-circle-check text-success fa-small"></i>
                  <% else %>
                    <i class="fa-solid fa-circle-xmark fa-pink fa-big fa-small"></i>
                  <% end %>
                  </p>
                </strong>
                <p><%= child.gender %> - <%= child.age %> ans </p>
              </div>
              <div class="student-photo">
                <div class="loader-photo d-none" data-upload-photo-target="spinner"></div>
                <% if child.photo.key? %>
                  <%= cl_image_tag child.photo_or_default,
                          data: { upload_photo_target: "photo" },
                          class: "avatar-medium",
                          crop: "thumb",
                          gravity: "face",
                          width: 300,
                          height: 300 %>
                <% else %>
                  <i class="fa-solid fa-circle-user" style="font-size: 7.5rem"></i>
                <% end %>
              </div>
              <% if child.any_lack_of_infos? %>

                <div class="text-center mt-5">
                  <p class="text-danger">
                    <i class="fa-solid fa-exclamation-triangle"></i>
                    <strong>Attention</strong> : des informations sont manquantes pour cet enfant.
                  </p>
                </div>
                <div class="text-center">
                  <%= link_to "Modifier", edit_parents_child_path(child), class: "btn btn-secondary" %>
                </div>
              <% end %>

            </div>

          <% end %>
        </li>

    <% end %>
  </ul>

<% else %>
  <p class="text-center">
    Vous n'avez pas encore d'enfants enregistrés.
  </p>
<% end %>

<div class="text-center">
  <%= link_to 'Ajouter un enfant', new_parents_child_path, class: "btn btn-primary" %>

</div>
