<h4 class="text-center bg-black text-white py-3 fw-bold">
  Ajouter un enfant
</h4>

<section class="container bg-white rounded-4 shadow p-3 my-3">

  <%= simple_form_for @child, url: parents_children_path do |f| %>

    <div class="form-inputs">

      <div class="p-3 my-3">
        <h3 class="mb-3">
          Identité de l'enfant
        </h3>

        <div class="row mb-2">

          <div class="col-md-6">
            <%= f.input :first_name, label: "Prénom" %>
          </div>
          <div class="col-md-6">
            <%= f.input :last_name, label: "Nom" %>
          </div>

        <%= f.input :date_of_birth, label: "Date de naissance", as: :date, start_year: 2004,
                    end_year: 2025, include_blank: true %>

        </div>

        <div class="row mb-2">

            <div class="col-md-6">
            <%= f.input :gender, label: "Genre", collection: ["Garçon", "Fille", "Autre"], include_blank: "Sélectionner un genre" %>
            </div>

        </div>

        <div class="row mb-2">

          <div class="col-12">
            <%= f.input :photo, label: "Photo (optionnel)", as: :file %>
          </div>

          <div class="col-md-6">
            <%= f.input :siblings_count, label: "Nombre de frères et soeurs", collection: 0..10, include_blank: false %>
          </div>
        </div>

       <div class="row mb-2">
          <div class="col-md-6">
            <%= f.input :email, label: "Email (si l'enfant en a un)", input_html: { value: @parent.email } %>
          </div>

          <div class="col-md-6">
            <%= f.input :phone_number, label: "Numéro de téléphone (si l'enfant en a un)", as: :tel, input_html: { value: @parent.phone_number } %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <%= f.input :address, label: "Adresse", input_html: { value: @parent.parent_profile.address } %>
          </div>

          <div class="col-md-6">
            <%= f.input :zipcode, label: "Code Postal", input_html: { value: @parent.parent_profile.zipcode } %>
          </div>

          <div class="col-md-6">
            <%= f.input :city, label: "Ville", input_html: { value: @parent.parent_profile.city } %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <%= f.input :school, label: "Etablissement Scolaire" %>
          </div>
        </div>

      </div>


      <div class="p-3 my-3">
        <h2 class="mb-3">
          Administratif
        </h2>

        <div class="row mb-2">

          <div class="col-md-6">
            <%= f.input :has_medical_treatment, label: "L'enfant suit-il un traitement médical ?", as: :radio_buttons, collection: [['Oui', true], ['Non', false]] %>
          </div>

          <div class="col-12">
            <%= f.input :medical_treatment_description, label: "Description du traitement médical", as: :text %>
          </div>

        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <%= f.input :has_consent_for_photos, label: "J'autorise la prise de photos de mon enfant", as: :radio_buttons, collection: [["J'autorise", true], ["Je n'autorise pas", false]] %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <%= f.input :rules_signed,
            label: "J'ai pris connaissance du <a href='#' class='text-primary' data-bs-toggle='modal' data-bs-target='#termsModal'>règlement intérieur</a>".html_safe,
            as: :boolean,
            checked_value: true,
            unchecked_value: false,
            required: true %>

            <%= render 'parents/children/components/rules-modal' %>
          </div>
        </div>

      </div>

      <div class="text-center">
        <%= f.button :submit, "Ajouter", class: "btn btn-dark rounded-pill px-4 py-2" %>
      </div>

    </div>

  <% end %>

</section>
