<h4 class="text-center bg-black parent-title py-3 fw-bold mb-0">
  Ajouter un enfant
</h4>

<section class="row  justify-content-center bg-white rounded-4 shadow p-0 mb-3">

  <%= simple_form_for @child, url: parents_children_path, html: { class: "col-12 col-sm-10 col-md-8 col-lg-6", data: { controller: "medical-treatment", action: "submit->medical-treatment#validateForm" } } do |f| %>

    <div class="form-inputs">

      <div class="py-3 my-3">
        <h3 class="mb-3">
          Informations
        </h3>

        <div class="row mb-2">

          <div class="col-12 col-md-6 justify-content-center">
            <%= f.input :first_name, label: "Prénom" %>
          </div>
           <div class="col-12 col-md-6 justify-content-center">
            <%= f.input :last_name, label: "Nom" %>
          </div>
            <%= f.input :date_of_birth, label: "Date de naissance", as: :date, start_year: Time.current.year - 25,
                    end_year: Time.current.year, include_blank: true %>
        </div>

        <div class="row mb-2">

            <div class="col-12 col-sm-10 col-md-6 justify-content-center">
            <%= f.input :gender, label: "Genre", collection: ["Garçon", "Fille"], include_blank: "Sélectionner un genre" %>
            </div>

        </div>

        <div class="row mb-2">

          <div class="col-12">
            <%= f.input :photo, label: "Photo (optionnel)", as: :file %>
          </div>
        </div>


      <div class="py-3 my-3">
        <h2 class="mb-3">
          Administratif
        </h2>

        <div class="row mb-2">

          <div class="col-md-6">
            <%= f.input :has_medical_treatment, label: "L'enfant suit-il un traitement médical ?", as: :radio_buttons, collection: [['Oui', true], ['Non', false]], input_html: { data: { medical_treatment_target: "hasMedicalTreatment", action: "change->medical-treatment#toggleDescriptionRequirement" } } %>
          </div>

          <div class="col-12 d-none" data-medical-treatment-target="descriptionContainer">
            <%= f.input :medical_treatment_description, label: "Description du traitement médical", as: :text, input_html: { data: { medical_treatment_target: "description" } } %>
          </div>

        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <%= f.input :has_consent_for_photos,
                        label: "J'autorise la prise de photos de mon enfant",
                        as: :radio_buttons,
                        collection: [["J'autorise", true], ["Je n'autorise pas", false]],
                        checked: true %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <%= f.input :rules_signed,
            label: "J'ai pris connaissance du <a href='#' class='text-primary' data-bs-toggle='modal' data-bs-target='#termsModal'>règlement intérieur</a>".html_safe,
            as: :boolean,
            checked_value: true,
            unchecked_value: false,
            required: true %>

            <%= render 'parents/children/components/rules-modal' %>
          </div>
        </div>

      </div>

      <div class="text-center">
        <%= f.button :submit, "VALIDER", class: "btn btn-dark rounded-4 px-4 py-2 mb-3" %>
      </div>

    </div>

  <% end %>

</section>
