<%= turbo_stream.replace "flash-messages" do %>
  <%= render "shared/flashes" %>
<% end %>

<%= turbo_stream.append "next-camp-activities" do %>
  <tr id="activity-enrollment-<%= @activity_enrollment.id %>">
    <td class="align-middle"><%= @activity_enrollment.activity.academy.name %></td>
    <td class="align-middle"><%= @activity_enrollment.activity.school_period.full_name %></td>
    <td class="align-middle"><%= @activity_enrollment.activity.camp.name %></td>
    <td class="align-middle"><%= @activity_enrollment.activity.name %></td>
    <td class="align-middle">
      <% if policy([:managers, @activity_enrollment]).destroy? %>
        <%= link_to managers_activity_enrollment_path(@activity_enrollment, redirect_to: 'student', origin: 'camp'), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir enlever cet élève ?", turbo_confirm_class: "confirmation-message" } do %>
          <i class="fas fa-trash trash"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>

<% @courses.each do |course| %>
  <%= turbo_stream.append "next-camp-courses" do %>
      <% course_enrollment = @student.course_enrollments.find_by(course: course)  %>
      <tr id=<%= "course-enrollment-#{course_enrollment.id}" %> class="clickable-tr" onclick="window.location.href='<%= managers_course_path(course) %>'">
        <td class="align-middle"><%= course.academy.name %></td>
        <td class="align-middle"><%= course.school_period.full_name %></td>
        <td class="align-middle"><%= course.camp.name %></td>
        <td class="align-middle"><%= course.activity.name %></td>
        <td class="align-middle"><%= l(course.starts_at, format: :default) %></td>
      </tr>
  <% end %>
<% end %>
