<%= turbo_frame_tag "selected_content" do %>
  <% if students.any? %>
    <div class="flexy mt-3 mb-3 d-flex flex-row">
      <%= link_to export_annual_students_managers_annual_program_path(annual_program, format: :csv), class: 'btn-etendart-square btn-download mt-0' do %>
        LES ÉLÈVES<i class="fa-solid fa-download"></i>
      <% end %>
      <%= link_to export_past_enrollments_managers_annual_program_path(annual_program, format: :csv), class: "btn-etendart-square btn-download mt-0" do %>
        LES ABSENCES<i class="fa-solid fa-download"></i>
      <% end %>
    </div>

    <div class="container container-big mb-4" data-controller="clickable-table">
      <div class="card-row-container">
        <div class="row pb-2 pt-2 header-row sticky-header align-items-center">
          <div class="col flexy-row">Élève</div>
          <div class="col flexy-row text-wrap text-center small-col">Cotisant ?</div>
          <% if annual_program.paid %>
            <div class="col flexy-row text-wrap text-center small-col">Programme payé ?</div>
          <% end %>
          <div class="col flexy-row text-wrap text-center small-col">Droit à l'image ?</div>
          <div class="col flexy-row small-col">Age</div>
          <div class="col flexy-row">Activité 1</div>
          <div class="col flexy-row">Activité 2</div>
          <div class="col flexy-row small-col">Suppr</div>
        </div>
        <%= render "managers/annual_programs/student_list",
              students: students,
              annual_program: annual_program,
              start_year: start_year %>
      </div>
    </div>
  <% else %>
    <div class="flexy mb-4 mt-4">Aucun élève inscrit pour le moment.</div>
  <% end %>
  <%= render "shared/flashes" %>
<% end %>
