<% students.each do |student| %>
  <% annual_program_enrollment = student.annual_program_enrollments.find_by(annual_program: annual_program) %>
  <% activities = student.student_activities_annual(annual_program) %>
  <div id="annual-program-enrollment-<%= annual_program_enrollment.id %>" class="row card-row card-row-no-transform clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_student_path(student) %>">
    <div class="col flexy-row">
      <span class="ellipsis"><%= student.full_name_separator %></span>
    </div>

    <% membership = student.memberships.find_by(start_year: start_year) %>
    <div class="col flexy-row small-col">
      <% if membership && membership.paid %>
        <i class="fa-solid fa-circle-check text-success fa-small"></i>
      <% else %>
        <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
      <% end %>
    </div>

    <% if annual_program.paid %>
      <div class="col flexy-row small-col">
        <% if annual_program_enrollment.paid %>
          <i class="fa-solid fa-circle-check text-success fa-small"></i>
        <% else %>
          <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
        <% end %>
      </div>
    <% end %>

    <div class="col flexy-row small-col">
      <% if student.has_consent_for_photos %>
        <i class="fa-solid fa-circle-check text-success fa-small"></i>
      <% else %>
        <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
      <% end %>
    </div>

    <div class="col flexy-row small-col">
      <span class="ellipsis"><%= student.age %> ans</span>
    </div>

    <div class="col flexy-row">
      <span class="ellipsis"><%= activities.first&.name %></span>
    </div>

    <div class="col flexy-row">
      <span class="ellipsis"><%= activities.second&.name %></span>
    </div>

    <div class="col flexy-row small-col">
      <% if annual_program.paid && annual_program_enrollment.paid %>
        <!-- Ne pas afficher le bouton supprimer si déjà payé -->
      <% else %>
        <span class="ellipsis">
          <%= link_to managers_annual_program_enrollment_path(annual_program_enrollment), data: { turbo_frame: "top", turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet élève du programme ?" } do %>
            <i class="fas fa-trash trash"></i>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
