<div class="container">
  <div class="form-container flexy">
    <%= form_with model: @annual_program, url: managers_annual_programs_path(academy: @academy) do |f| %>

      <!-- Champ pour le start_year -->
      <%= f.label :start_year, 'Année de début' %>
      <%= f.number_field :start_year %>

      <!-- Champs pour les program_periods -->
      <% @default_program_periods.each_with_index do |default_period, index| %>
        <div class="mb-4">
          <h5>Période <%= index + 1 %></h5> <!-- Affichage du numéro de la période -->

          <!-- Ajout de data-controller="date-picker" pour le champ start_date -->
          <%= f.fields_for :program_periods, default_period do |program_period| %>
            <%= program_period.label :start_date, 'Date de début' %>
            <%= program_period.date_field :start_date, class: "form-control" %>

            <%= program_period.label :end_date, 'Date de fin' %>
            <%= program_period.date_field :end_date, class: "form-control" %>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit 'Créer', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
