<%= render "shared/academy_header" %>
<% if current_user.manager? || current_user.coordinator? %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES PROGRAMMES", managers_annual_programs_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@annual_program.name.upcase}", managers_annual_program_path(@annual_program) %></div>
  <div class="header-nav-item active">BILAN</div>
</div>
<% end %>
<div class="yellow-title mb-0">BILAN - <%= @annual_program.name.upcase %></div>

<div class="black-title mb-3">GLOBAL</div>
<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Inscrits</th>
        <th>Présents (%)</th>
        <th>Absents (%)</th>
        <th>Garçon (%)</th>
        <th>Fille (%)</th>
        <th>Âge moyen</th>
        <th>Taux abs</th>
        <th>Nb Coach</th>
      </tr>
    </thead>
    <tbody>
      <tr class="total-row">
        <td><%= @annual_program_stat.students_count%></td>
        <td><%= "#{@annual_program_stat.show_count} (#{@annual_program_stat.show_rate}%)"%></td>
        <td><%= "#{@annual_program_stat.no_show_count} (#{@annual_program_stat.no_show_rate}%)"%></td>
        <td><%= "#{@annual_program_stat.percentage_of_boy} %"%></td>
        <td><%= "#{@annual_program_stat.percentage_of_girl} %"%></td>
        <td><%= "#{@annual_program_stat.age_of_students} ans" %></td>
        <td><%= "#{@annual_program_stat.absenteeism_rate} %"%></td>
        <td><%= @annual_program_stat.coaches_count %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="black-title mb-3">BILAN PAR CATÉGORIE</div>
<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Inscrits</th>
        <th>Présents</th>
        <th>Garçon (%)</th>
        <th>Fille (%)</th>
        <th>Taux abs</th>
        <th>Nb Coach</th>
      </tr>
    </thead>
    <tbody>
      <% @category_ids.each do |id| %>
        <tr>
          <td><%= Category.find(id).name %></td>
          <td><%= @annual_program_stat.enrolled_students_count_by_category[id.to_s] %></td>
          <td><%= @annual_program_stat.students_count_by_category[id.to_s] %></td>
          <td><%= "#{@annual_program_stat.percentage_of_boy_by_category[id.to_s]} %" %></td>
          <td><%= "#{@annual_program_stat.percentage_of_girl_by_category[id.to_s]} %" %></td>
          <td><%= "#{@annual_program_stat.absenteisme_rate_by_category[id.to_s]} %" %></td>
          <td><%= @annual_program_stat.number_of_coaches_by_category[id.to_s] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="black-title mb-3 mt-3">BILAN PAR ACTIVITÉ</div>
<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Activité</th>
        <th>Jour</th>
        <th>Inscrits</th>
        <th>Présents</th>
        <th>Nb Garçon</th>
        <th>Nb Fille</th>
        <th>Âge moyen</th>
        <th>Taux abs</th>
        <th>Nb Coach</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <% activity_stat = activity.activity_stat %>
          <td><%= activity.name %></td>
          <td><%= l(activity.courses.first.starts_at, format: :day_name ) %></td>
          <td><%= activity_stat.enrolled_students_count%></td>
          <td><%= activity_stat.students_count%></td>
          <td><%= activity_stat.number_of_boy%></td>
          <td><%= activity_stat.number_of_girl%></td>
          <td><%= "#{activity_stat.age_of_students} ans"%></td>
          <td><%= "#{activity_stat.absenteeism_rate} %"%></td>
          <td><%= activity_stat.coaches_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="black-title mb-3 mt-3">BILAN PAR ÂGE</div>
<div class="container">
  <table class="table table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Âge</th>
        <th class="total-row">Nb élèves</th>
      </tr>
    </thead>
    <tbody>
      <% @annual_program_stat.participant_ages.each do |age| %>
        <tr>
          <td><%= "#{age} ans" %></td>
          <td class="total-row"><%= @annual_program_stat.student_count_by_age[age.to_s] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="black-title mb-3 mt-3">BILAN PAR DEPARTEMENT</div>
<div class="container">
  <table class="table table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Département</th>
        <th class="total-row">Nb élèves</th>
      </tr>
    </thead>
    <tbody>
      <% @sorted_departments.each do |department| %>
        <tr>
          <td><%= department %></td>
          <td class="total-row"><%= @annual_program_stat.student_count_by_department[department.to_s] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
