<%= turbo_frame_tag "selected_content" do %>
  <div class="container container-big" data-controller="clickable-table">
    <% if @activities.any? %>
      <div class="card-row-container">
        <div class="row pb-2 pt-2 header-row align-items-center">
          <div class="col flexy-row">Activité</div>
          <div class="col large-col flexy-row">Catégorie</div>
          <div class="col flexy-row">Lieu</div>
          <div class="col large-col flexy-row">Coach Référent</div>
          <div class="col small-col flexy-row">Age min</div>
          <div class="col small-col flexy-row">Age max</div>
          <div class="col small-col flexy-row">Inscrits</div>
          <% if current_user.manager? %>
            <div class="col small-col flexy-row">Supp</div>
          <% end %>
        </div>
        <% @activities.sort_by(&:name).each do |activity| %>
          <div id="activity-<%= activity.id %>" class="row card-row card-row-no-transform clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_activity_path(activity) %>">
            <div class="col flexy-row">
              <span class="ellipsis"><%= activity.name %></span>
            </div>
            <div class="col large-col flexy-row">
              <span class="ellipsis"><%= activity.category.name %></span>
            </div>
            <div class="col flexy-row">
              <span class="ellipsis"><%= activity.location.name %></span>
            </div>
            <div class="col large-col flexy-row">
              <span class="ellipsis"><%= activity.coach.try(:full_name_short) || "" %></span>
            </div>
            <div class="col small-col flexy-row">
              <span class="ellipsis"><%= activity.age_restricted ? "#{activity.min_age} ans" : "" %></span>
            </div>
            <div class="col small-col flexy-row">
              <span class="ellipsis"><%= activity.age_restricted ? "#{activity.max_age} ans" : "" %></span>
            </div>
            <div class="col small-col flexy-row">
              <span class="ellipsis"><%= activity.students.count %></span>
            </div>
            <% if current_user.manager? %>
              <% if activity.can_delete? %>
                <div class="col small-col flexy-row">
                  <%= link_to managers_activity_path(activity), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette activité ?" } do %>
                    <i class="fas fa-trash trash"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="col small-col flexy-row"></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="flexy mb-4 mt-4">Aucune activité pour le moment.</div>
    <% end %>
    <% if current_user.manager? %>
      <div class="flexy">
        <%= link_to new_managers_activity_path(camp: @camp), data: { turbo_frame: "_top" }, class: "btn-add-student btn-large btn-flex mt-3" do %>
          <i class="fa-solid fa-square-plus fa-square-bigger"></i>AJOUTER UNE ACTIVITÉ<i class="fa-solid fa-square-plus fa-square-bigger"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
