<% students.each do |student| %>

  <% camp_enrollment = student.camp_enrollments.find_by(camp: camp) %>
  <% school_period_enrollment = student.school_period_enrollments.find_by(school_period: school_period) %>
  <% membership = student.memberships.find_by(start_year: start_year) %>
  <% activities = student.student_activities(camp) %>
  <%# name_style = school_period.paid && camp_enrollment.present && !camp_enrollment.paid && !all_students_with_free_judo.include?(student) ? 'color: #fc3535;font-weight:bold' : '' %>
  <div id="camp-enrollment-<%= camp_enrollment.id %>" class="row card-row card-row-no-transform clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_student_path(student) %>">
    <div class="col flexy-row">
      <span class="ellipsis"><%= student.full_name_separator %></span>
    </div>

    <% if academy.banished %>
      <div class="col flexy-row small-col <%= camp_enrollment&.banished ? 'non-bg' : '' %>">
        <span class="ellipsis"><%= camp_enrollment&.banished ? "Oui" : "" %></span>
      </div>
    <% end %>

   <div class="col flexy-row small-col">
      <% if !membership || !membership.paid %>
        <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
      <% else %>
      <i class="fa-solid fa-circle-check text-success fa-small"></i>
      <% end %>
    </div>

    <% if school_period.paid %>
      <% if all_students_with_free_judo.include?(student) %>
        <div class="col flexy-row small-col">
          <% if camp_enrollment.paid %>
            <i class="fa-solid fa-circle-check text-success fa-small"></i>
          <% else %>
            <span class="ellipsis">Gratuit</i></span>
          <% end %>
        </div>
      <% else %>
        <div class="col flexy-row small-col">
          <% if camp_enrollment.paid %>
            <i class="fa-solid fa-circle-check text-success fa-small"></i>
          <% else %>
            <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="col flexy-row small-col <%= student&.has_consent_for_photos ? '' : 'non-bg' %>">
      <span class="ellipsis"><%= student.has_consent_for_photos ? "" : "Non" %></span>
    </div>
    <% if school_period.tshirt %>
      <div class="col flexy-row small-col <%= school_period_enrollment&.tshirt_delivered ? '' : 'non-bg' %>">
        <span class="ellipsis"><%= school_period_enrollment&.tshirt_delivered ? "Oui" : "Non" %></span>
      </div>
    <% end %>

    <div class="col flexy-row small-col">
      <span class="ellipsis"><%= student.age %> ans</span>
    </div>

    <div class="col flexy-row">
      <span class="ellipsis"><%= activities.first&.name %></span>
    </div>

    <div class="col flexy-row">
      <span class="ellipsis"><%= activities.second&.name %></span>
    </div>

    <div class="col flexy-row small-col">
      <span class="ellipsis">
        <%= link_to managers_camp_enrollment_path(camp_enrollment), data: { turbo_frame: "top", turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet élève de la semaine ?" } do %>
          <i class="fas fa-trash trash"></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
