<% students.each_with_index do |student, index| %>

  <% camp_enrollment = student.camp_enrollments.find_by(camp: camp) %>
  <% school_period_enrollment = student.school_period_enrollments.find_by(school_period: school_period) %>
  <% activities = student.student_activities_without_acc(camp) %>
  <% name_style = school_period.paid && camp_enrollment.present && !camp_enrollment.paid && !students_with_free_judo.include?(student) ? 'color: #fc3535;font-weight:bold' : '' %>
  <div id="camp-enrollment-<%= camp_enrollment.id %>" class="row card-row card-row-no-transform clickable-tr <%= 'bg-white' if index.odd? %>" data-clickable-table-target="clickable" data-url="<%= managers_student_path(student) %>">
    <div class="col flexy-row" style="<%= name_style %>">
      <span class="ellipsis"><%= student.last_name %></span>
    </div>
    <div class="col flexy-row" style="<%= name_style %>">
      <span class="ellipsis"><%= student.first_name %></span>
    </div>
    <% if academy.banished %>
      <div class="col flexy-row small-col <%= camp_enrollment&.banished ? 'non-bg' : '' %>">
        <span class="ellipsis"><%= camp_enrollment&.banished ? "Oui" : "" %></span>
      </div>
    <% end %>
    <div class="col flexy-row small-col <%= camp_enrollment&.image_consent ? '' : 'non-bg' %>">
      <span class="ellipsis"><%= camp_enrollment&.image_consent ? "" : "Non" %></span>
    </div>
    <% if school_period.paid %>
      <% if camp_enrollment.present && !students_with_free_judo.include?(student) %>
        <div class="col flexy-row small-col <%= camp_enrollment&.paid ? '' : 'non-bg' %>">
          <span class="ellipsis"><%= camp_enrollment&.paid ? "Oui" : "Non" %></span>
        </div>
      <% elsif camp_enrollment.present && students_with_free_judo.include?(student) %>
        <div class="col flexy-row small-col">
          <span class="ellipsis">Gratuit</span>
        </div>
      <% else %>
        <div class="col flexy-row small-col">
          <span class="ellipsis">Absent</span>
        </div>
      <% end %>
    <% end %>
    <% if school_period.tshirt %>
      <div class="col flexy-row small-col <%= school_period_enrollment&.tshirt_delivered ? '' : 'non-bg' %>">
        <span class="ellipsis"><%= school_period_enrollment&.tshirt_delivered ? "Oui" : "Non" %></span>
      </div>
    <% end %>
    <div class="col flexy-row small-col">
      <span class="ellipsis"><%= student.age %> ans</span>
    </div>
    <div class="col flexy-row">
      <span class="ellipsis"><%= activities.first&.name %></span>
    </div>
    <div class="col flexy-row small-col">
      <span class="ellipsis"><%= "#{student.unattended_activity_rate(activities.first)}%" if activities.first.present? %></span>
    </div>
    <div class="col flexy-row">
      <span class="ellipsis"><%= activities.second&.name %></span>
    </div>
    <div class="col flexy-row small-col">
      <span class="ellipsis"><%= "#{student.unattended_activity_rate(activities.second)}%" if activities.second.present? %></span>
    </div>
    <div class="col flexy-row small-col">
      <span class="ellipsis">
        <%= link_to managers_camp_enrollment_path(camp.camp_enrollments.find_by(student: student)), data: { turbo_frame: "top", turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet élève de la semaine ?" } do %>
          <i class="fas fa-trash trash"></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
