<%= render "shared/academy_header" %>

<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@school_period.name.upcase} - #{@school_period.year}", managers_school_period_path(@school_period) %></div>
  <div class="header-nav-item active"><%= @camp.name.upcase %></div>
</div>


<div class="flexy-wrap mt-2 mb-2 gap-4" data-controller="selected-button">
  <%= link_to "LES ACTIVITÉS",
              activities_managers_camp_path(@camp),
              data: { turbo_frame: "selected_content",
                      selected_button_target: "button",
                      action: "click->selected-button#toggleButtons" },
              class: "btn-add-student btn-selection selected" %>
  <%= link_to "LES ÉLÈVES",
              students_managers_camp_path(@camp),
              data: { turbo_frame: "selected_content",
                      selected_button_target: "button",
                      action: "click->selected-button#toggleButtons" },
              class: "btn-add-student btn-selection" %>
  <%= link_to "LES PAIMENTS",
              payment_details_managers_camp_path(@camp),
              data: { turbo_frame: "selected_content",
                      selected_button_target: "button",
                      action: "click->selected-button#toggleButtons" },
              class: "btn-add-student btn-selection" %>
</div>

<%= turbo_frame_tag "selected_content" do %>
  <%= render "managers/camps/activities", activities: @activities, camp: @camp %>
<% end %>


<% if false %>
  <div class="yellow-title mb-3 mt-3">IMPORT CSV</div>
  <div class="flexy" data-controller="import-csv">
    <div class="loader d-none" data-import-csv-target="spinner"></div>
    <div class="container flexy">
      <div class="form-container">
        <%= simple_form_for(@camp, url: import_managers_import_students_path, method: :post, data: { action: "change->import-csv#handleFileSelect" }) do |form| %>
          <%= form.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
          <div class="form-group">
            <%= form.input :csv_file, as: :file, label: false, input_html: { accept: '.csv', data: { import_csv_target: "csvFileInput" }, class: "form-control-file" } %>
          </div>
          <%= form.submit 'Importer', disabled: true, data: { import_csv_target: "importButton", action: "click->import-csv#showSpinner" }, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
