<%= render "shared/academy_header" %>

<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@camp.school_period.name.upcase} - #{@camp.school_period.year}", managers_school_period_path(@camp.school_period) %></div>
  <div class="header-nav-item active"><%= @camp.name.upcase %></div>
</div>

<div class="yellow-title">LES ACTIVITÉS</div>

<div class="container">
  <table class="table table-striped table-responsive table-center form-container" data-controller="clickable-table">
    <thead>
      <tr>
        <th>Activité</th>
        <th>Catégorie</th>
        <th>Lieu</th>
        <th>Coach Référent</th>
        <th>Nombre d'élèves inscrits</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <% @camp.activities.sort.each do |activity| %>
        <tr class="clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_activity_path(activity) %>">
          <td><%= activity.name %></td>
          <td><%= activity.category.name %></td>
          <td><%= activity.location.name %></td>
          <td><%= activity.lead_coach.try(:full_name) || "" %></td>
          <td><%= activity.students.count %></td>
          <% if activity.can_delete? %>
            <td>
              <%= link_to managers_activity_path(activity), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette activité ?" } do %>
                <i class="fas fa-trash trash"></i>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "AJOUTER UNE ACTIVITÉ", new_managers_activity_path(camp: @camp), class: "btn-etendart-square" %>
  </div>
</div>

<div class="yellow-title mb-3 mt-3">IMPORT CSV</div>

<% if @camp.can_import? %>
  <div class="flexy" data-controller="import-csv">
    <div class="loader d-none" data-import-csv-target="spinner"></div>
    <div class="container flexy">
      <div class="form-container">
        <%= simple_form_for(@camp, url: managers_import_students_path, method: :post, data: { action: "change->import-csv#handleFileSelect" }) do |form| %>
          <%= form.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
          <div class="form-group">
            <%= form.input :csv_file, as: :file, label: false, input_html: { accept: '.csv', data: { import_csv_target: "csvFileInput" }, class: "form-control-file" } %>
          </div>
          <%= form.submit 'Importer', disabled: true, data: { import_csv_target: "importButton", action: "click->import-csv#showSpinner" }, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p class="text-center">Vous ne pouvez plus importer de fichier csv pour cette semaine</p>
<% end %>



<div class="yellow-title yellow-title-flex mt-3 mb-3">
    ÉLÈVES INSCRITS
    <%= link_to export_students_csv_managers_camp_path(@camp, format: :csv) do %>
      <i class="fa-solid fa-download fa-download-black"></i>
    <% end %>
</div>

<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <% if @academy.banished %>
          <th>Banni ?</th>
        <% end %>
        <th>Age</th>
        <th>Activité 1</th>
        <th>Taux abs</th>
        <th>Activité 2</th>
        <th>Taux abs</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="clickable-tr" onclick="window.location.href='<%= managers_student_path(student, academy_id: @camp.academy.id) %>'">
          <td><%= student.last_name %></td>
          <td><%= student.first_name %></td>
          <% if @academy.banished %>
            <td><%= student.camp_enrollments.where(camp: @camp).first.banished ? "Oui" : "" %></td>
          <% end %>
          <td><%= student.age %> ans</td>
          <td><%= student.student_activities(@camp).first.name %></td>
          <td><%= "#{student.unattended_rate(student.student_activities(@camp).first)}%"%></td>
          <td><%= student.student_activities(@camp).second.name if student.student_activities(@camp).second.present? %></td>
          <td><%= "#{student.unattended_rate(student.student_activities(@camp).second)}%" if student.student_activities(@camp).second.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
