<%= render "shared/academy_header" %>

<div class="header-nav">
  <div class="header-nav-item"><%= link_to @camp.academy.name.upcase, managers_academy_path(@camp.academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_academy_school_periods_path(@camp.academy, @camp.school_period) %></div>
  <div class="header-nav-item"><%= link_to "#{@camp.school_period.name.upcase} - #{@camp.school_period.year}", managers_school_period_path(@camp.academy, @camp.school_period) %></div>
  <div class="header-nav-item active"><%= @camp.name.upcase %></div>
</div>
<div class="yellow-title">LES ACTIVITÉS</div>

<div class="container">
  <table class="table table-striped table-responsive table-center form-container" data-controller="clickable-table">
    <thead>
      <tr>
        <th>Activité</th>
        <th>Catégorie</th>
        <th>Lieu</th>
        <th>Coach</th>
        <th>Nombre d'élèves inscrits</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <% @camp.activities.sort.each do |activity| %>
        <tr class="clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_activity_path(activity) %>">
          <td><%= activity.name %></td>
          <td><%= activity.category.name %></td>
          <td><%= activity.location.name %></td>
          <td><%= activity.coach.first_name %> <%= activity.coach.last_name %></td>
          <td><%= activity.students_count %></td>
          <% if activity.can_delete? %>
            <td>
              <%= link_to managers_activity_path(activity), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette activité ?" } do %>
                <i class="fas fa-trash trash"></i>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "AJOUTER UNE ACTIVITÉ", new_managers_camp_activity_path(@camp), class: "btn-etendart-square" %>
  </div>
</div>

<div class="yellow-title mt-3 mb-3">ÉLÈVES INSCRITS</div>

<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Activité 1</th>
        <th>Taux abs</th>
        <th>Activité 2</th>
        <th>Taux abs</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="clickable-tr" onclick="window.location.href='<%= managers_student_path(student, academy_id: @camp.academy.id) %>'">
          <td><%= student.last_name %></td>
          <td><%= student.first_name %></td>
          <td><%= student.age %> ans</td>
          <td><%= student.student_activities(@camp).first.name %></td>
          <td><%= student.unattended_rate(student.student_activities(@camp).first)%></td>
          <td><%= student.student_activities(@camp).second.name if student.student_activities(@camp).second.present? %></td>
          <td><%= student.unattended_rate(student.student_activities(@camp).second) if student.student_activities(@camp).second.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Exporter en CSV", export_csv_managers_camp_path(@camp, format: :csv), class: "btn btn-success mb-3" %>
