<h1 class="text-center my-3 bg-yellow text-black py-3 my-3">
  <%= @academy.name.upcase %> - Nos prochains stages
</h1>
<section class="container-sm p-3">

  <%# Il faut les school_periods avec l'année sur la row %>
  <%# les stages qui prennent une portion de row %>
  <%# il faut les lieux de l'academie %>

  <div class="row">

    <div class="col-md-8">

      <% if @academy.next_school_periods.any? %>

        <% @academy.next_school_periods.each do |school_period| %>

          <div class="mb-3">

            <%= link_to academy_school_period_path(@academy, school_period) do %>
              <h2 class="text-white bg-black p-3 rounded-top-4 text-center">
                <%= school_period.name %> - <%= school_period.year %>
              </h2>
            <% end %>

            <div class="row">

              <% if school_period.camps.any? %>

                <% school_period.camps.each do |camp| %>

                  <div class="col-md-4 col-6">
                    <h3>
                      <%= camp.name %>
                    </h3>
                    <i class="fa-solid fa-people-group"></i> <%= camp.students_count %> / <%= camp.capacity %>

                    <hr class="mb-3">


                  <% if camp.activities.any? %>
                    <ul>
                      <% camp.activities.each do |activity| %>
                        <li>
                          <%= link_to activity.name, academy_school_period_activity_path(@academy, school_period, activity) %>
                        </li>
                      <% end %>
                    </ul>

                  <% else %>
                    <p class="text-center">
                      <em>
                        Restez patients ! Les activités seront bientôt disponibles.
                      </em>
                    </p>
                  <% end %>

                  </div>

                <% end %>

              <% else %>
                <p class="text-center">
                  <em>
                    Restez patients ! Les stages seront bientôt disponibles.
                  </em>
                </p>
              <% end %>
            </div>

          </div>

        <% end %>

      <% else %>
        <p class="text-center">
          <em>
            Restez patients ! Les stages seront bientôt disponibles.
          </em>
        </p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h2 class="header-info">
        LIEUX
      </h2>

      <ul>
        <% @academy.locations.each do |location| %>


          <li>
            <h3>
              <%= location.name %>
            </h3>
            <p>
              <%= location.address %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

  </div>






</section>
