<h1 class="text-center my-3 bg-warning text-black p-1">
  <%= @academy.name.upcase %> - Nos prochains stages
</h1>
<section class="container-sm p-3">

  <%# Il faut les school_periods avec l'année sur la row %>
  <%# les stages qui prennent une portion de row %>
  <%# il faut les lieux de l'academie %>

  <div class="row">

    <div class="col-md-8">
      <% @academy.next_school_periods.each do |school_period| %>

        <%= link_to academy_school_period_path(@academy, school_period) do %>
        <h3 class="text-white bg-black p-3 rounded-top-4">
          <%= school_period.name %> - <%= school_period.year %>
        </h3>

        <div class="row">
          <% school_period.camps.each do |camp| %>

            <div class="col-md-4">
              <h4>
                <%= camp.name %>
              </h4>

              <ul>
                <% camp.activities.each do |activity| %>
                  <li>
                    <%= activity.name %>
                  </li>
                <% end %>
              </ul>

            </div>

          <% end %>
        </div>

        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h2 class="header-info">
        LIEUX
      </h2>

      <ul>
        <% @academy.locations.each do |location| %>


          <li>
            <h3>
              <%= location.name %>
            </h3>
            <p>
              <%= location.address %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

  </div>






</section>
