<section class="container-sm p-3">
  <h1 class="text-center my-3 text-warning bg-black rounded-top-4">
    <%= @academy.name %>
  </h1>

  <div class="row">
    <% @academy.next_school_periods.each do |school_period|  %>
      <div class="col-md-4 border p-3">
        <h3><%= school_period.name %> <%= school_period.year %></h3>

        <div class="row">

          <% school_period.activities.each do |activity| %>
            <div class="col-md-6">

              <h4>
                <%= link_to activity.camp.name, academy_school_period_path(@academy, school_period) %>
              </h4>
              <p>
                <strong>
                  <%= link_to activity.name, academy_school_period_activity_path(@academy, school_period, activity) %>
                </strong>
              </p>
            </div>
          <% end %>

        </div>

      </div>

    <% end %>
  </div>

</section>
