<h1 class="text-center my-3 bg-yellow text-black py-3 my-3">
  <%= @academy.name.upcase %> / <%= @school_period.name %> <%= @school_period.year %>
</h1>

<main class="container-sm p-3">
  <h2 class="text-center">
    Inscrire mon enfant
  </h2>

  <section id="student-form" class="row">
    <div class="col-md-8 col-12 my-3">
      <%= form_with url: filter_camps_parents_academy_school_period_school_period_enrollments_path(@academy, @school_period), method: :get, data: { controller: "form--auto-submit" } do |f| %>
        <%= f.label "Sélectionner un enfant" %>
        <%= f.collection_radio_buttons :student_id, @students, :id, :full_name, checked: @selected_student.id do |b| %>
          <%= b.radio_button data: { action: "change->form--auto-submit#submit" } %>
          <%= b.label %>
        <% end %>
      <% end %>

    </div>

  </section>

  <section id="enrollment_form" class="row">
    <%= render 'form_camp', locals: {
      academy: @academy,
      school_period: @school_period,
      school_period_enrollment: @school_period_enrollment,
      student: @selected_student,
      camps: @camps,
      students: @students} %>
  </section>

</main>
