<h1 class="text-center my-3 bg-yellow text-black py-3 my-3">
  <%= @academy.name.upcase %> / <%= @school_period.name %> <%= @school_period.year %>
</h1>

<main class="container-sm p-3">
  <h2 class="text-center">
    Inscrire mon enfant
  </h2>

  <section id="student-form" class="row">
    <div class="col-md-8 col-12 my-3">
      <%= form_with url: filter_camps_parents_academy_school_period_school_period_enrollments_path(@academy, @school_period), method: :get do |f| %>
        <%= f.label "Sélectionner un enfant" %>
        <%= f.collection_radio_buttons :student_id, @students, :id, :full_name do |b| %>
          <%= b.radio_button %>
          <%= b.label %>
        <% end %>
        <%= f.submit "Valider", class: "btn btn-primary" %>
      <% end %>

    </div>

  </section>

  <section id="form" class="row">
    <%= simple_form_for @school_period_enrollment, url: parents_academy_school_period_school_period_enrollments_path(@academy, @school_period) do |f| %>
      <section class="row justify-content-center">
        <div class="col-md-8 col-12 my-3">
          <%# radio button des enfants du current_user, avec label personnalisés %>
          <%= f.association :student, collection: @students, as: :radio_buttons, label: "Sélectionner un enfant", label_method: :full_name %>
        </div>

        <div class="col-md-8 col-12 my-3">

          <%# checkbox des camps de la school_period, avec label personnalisés %>
          <%= f.label "Sélectionner les stages" %>



          <% @school_period.camps.each do |camp, index| %>

            <section class="row" id="camp_<%= camp.id %>" data-controller="form--enrollment--camp">

              <div class="form-check mt-3">
                <%= check_box_tag "camp_ids[]", camp.id, false, data: { action: "change->form--enrollment--camp#toggle" } %>
                <%= label_tag "camp_ids[]", camp.name %>
              </div>

              <div class="row d-none" data-form--enrollment--camp-target="camp">

                <div class="col-6">
                  <%= f.label "Sport", class: "form-label d-block" %>

                  <% camp.activities.joins(:category).where(categories: { super_category: "Sport" })
                    .each do |activity| %>

                      <%# chaque activity a une super category, il faut vérifier si c'est une activité type sport ou éveil %>
                      <%# si c'est une activité type sport, on ne peut choisir qu'une seule activity %>
                      <%# si c'est une activité type éveil, on ne peut choisir qu'une seule activity %>

                      <%# 1er label, Sport : afficher les activités avec la super_category sport %>
                    <div class="form-check">
                      <%= check_box_tag "camp_id[#{camp.id}][sport_activity_id]", activity.id, false %>
                      <%= label_tag "camp_id[#{camp.id}][sport_activity_id]", activity.name %>
                    </div>


                  <% end %>
                </div>

                <div class="col-6">
                  <%= f.label "Éveil", class: "form-label d-block" %>
                  <% activities = camp.activities.joins(:category).where(categories: { super_category: "Eveil" }) %>

                  <% activities.each do |activity| %>
                    <div class="form-check">
                      <%= radio_button_tag "camp_id[#{camp.id}][eveil_activity_id]", activity.id, activities.one? %>
                      <%= label_tag "camp_id[#{camp.id}][eveil_activity_id]", activity.name %>
                    </div>
                  <% end %>
                </div>

              </div>

            </section>

          <% end %>


        </div>

        <div class="col-12 text-center">
          <% if @students.count <= 1 %>
            <%= f.submit "Inscrire", class: "btn btn-primary", role: "button" %>

          <% else %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Inscrire
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Souhaitez-vous inscrire un autre enfant ?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                  <section class="row g-3">
                    <div class="col-12">
                        <%= f.submit "Inscrire un autre enfant",
                          class: "btn btn-secondary",
                          name: "another_child",
                          data_bs_dismiss: "modal" %>
                    </div>

                    <div class="col-12">
                      <%= f.submit "Passer au règlement",
                          class: "btn btn-primary",
                          name: "another_child",
                          data_bs_dismiss: "modal" %>
                    </div>
                  </section>


                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      </section>

    <% end %>
  </section>
</main>
