<div class="yellow-title mb-0">MON PROFIL</div>


<div class="flexy">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="edit-container mt-3 mb-3 row">
      <div class="col-sm-6 col-lg-6">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :last_name,
                      label: "Nom" %>
          <%= f.input :first_name,
                      label: "Prénom" %>
          <%= f.input :phone_number,
                      label: "Téléphone" %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-6">
        <%= f.input :password,
                    required: false,
                    label: "Nouveau mot de passe",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmation du nouveau mot de passe",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Indiquer votre mot de passe actuel si vous souhaitez changer des informations",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>


      <div class="flex-btn">
        <%= f.button :submit, "Mettre à jour", class: "btn-etendart btn-smaller" %>
        <%= link_to "Annuler", :back, class: "btn-etendart-black btn-smaller" %>
      </div>
    </div>
  <% end %>
</div>
