<main id="no-user" class="row">

  <div class="rounded-4 bg-white container p-3 rounded-3 col-10 col-sm-8 col-lg-6 col-xl-4 mt-2 mb-4">
    <h2 class="p-2 rounded-4 text-center bg-black text-bg-dark rounded-3 mb-3">Inscription</h2>
    

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false, controller: "email-confirmation" }) do |f| %>
      <%#= f.error_notification unless flash[:alert].present? %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <div class="form-inputs">

        <div class="row">
          <div class="col-md-6">
            <%= f.input :first_name, label: "Prénom", required: true %>
          </div>
          <div class="col-md-6">
            <%= f.input :last_name, label: "Nom", required: true %>
          </div>

          <div class="col-12">
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email", data: { email_confirmation_target: "email" } }%>
          </div>

          <div class="col-12">
            <%= f.input :email_confirmation,
            label: "Confirmer l'email",
            required: true,
            input_html: {
              autocomplete: "email",
              data: {
                email_confirmation_target: "emailConfirmation",
                action: "blur->email-confirmation#checkConfirmation"
              }
            } %>
          </div>

          <div class="col-12">
            <span id="email-confirmation-message" data-email-confirmation-target="message"></span>
          </div>

          <div class="col-12 mt-3">
            <%= f.input :password,
                        label: "Mot de passe",
                        required: true,
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="col-12">
            <%= f.input :password_confirmation, label: "Confirmer le mot de passe",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="col-12 d-flex justify-content-center">
            <div class="g-recaptcha" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY'] %>"></div>
          </div>

        </div>
      </div>


      <div class="form-actions text-center">
        <%= f.button :submit, "S'inscrire", class: "btn btn-dark rounded-4 px-4 py-2 mb-3 mt-3" %>
      </div>
    <% end %>

    <hr>
    <p class="text-center">
      Vous avez déjà un compte ? <%= link_to "Connexion", new_user_session_path, class: "text-primary" %>
    </p>
    <p class="text-center">
      Si vous rencontrez un problème, contactez-nous à <a href="mailto:etendart@weareetendart.org" class="text-primary">etendart@weareetendart.org</a>
    </p>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p class="text-center">
      <%= link_to "Je n'ai pas reçu l'email de confirmation", new_confirmation_path(resource_name), class: "text-primary" %>
    </p>
    <% end %>

  </div>

</main>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
