<%# permet d'afficher tous les stages achetés et les cotisations en attente de paiement %>

<h1 class="bg-black parent-title text-center fs-4 py-3 fw-bold mb-0">
  MON PANIER
</h1>

<% if @cart.cart_items.any? %>
  <section class="container my-0 my-md-5 bg-white rounded-4 p-4">

    <div class="row">
      <div class="col-6 col-md-4">
        <h2 class="fs-5 fw-bold">
          Produits
        </h2>
      </div>

      <div class="d-none d-md-block col-md-3">
        <h2 class="fs-5 fw-bold">
          Méthode de paiement
        </h2>
      </div>

      <div class="col-6 col-md-3">
        <h2 class="fs-5 fw-bold text-end">
          Prix
        </h2>
      </div>

      <div class="d-none d-md-block col-md-2">

      </div>


    </div>

    <hr class="border-secondary">

    <% @membership_cart_items.each do |cart_item| %>
      <div class="row">
        <div class="col-8 col-md-4 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2">
          <%= cart_item.name %>
        </div>

        <div class="col-8 col-md-3 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2">
          <%= cart_item.payment_method %>
        </div>

        <div class="col-12 col-md-3 justify-content-end align-items-center d-flex">
          <%= number_with_precision(cart_item.price, precision: 2, delimiter: ',') %> €
        </div>
      </div>

      <div class="col-md-2"></div>

      <hr class="border-secondary-subtle">
    <% end %>

    <% @camp_enrollment_cart_items.each do |cart_item| %>
      <div class="row">
      <div class="col-8 col-md-4 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2">
        <%= cart_item.name %>
      </div>

      <div class="col-8 col-md-3 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2">
        <%= simple_form_for cart_item, url: commerce_cart_item_path(cart_item), data: { controller: "form--auto-submit" } do |f| %>
        <%= f.select :payment_method, options_for_select([['Carte bancaire', 'Carte bancaire'], ['Chèque', 'cheque'], ['Espèces', 'cash']], cart_item.payment_method), { }, { class: 'form-select', data: { action: "change->form--auto-submit#submit" } } %>
        <% end %>
      </div>

      <div class="col-12 col-md-3 justify-content-end justify-content-md-end align-items-center d-flex p-2">
        <%= number_with_precision(cart_item.price, precision: 2, delimiter: ',') %> €
      </div>

      <div class="col-12 col-md-2 justify-content-end align-items-center d-flex p-2">
        <%= link_to commerce_cart_item_path(cart_item), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer ce produit de votre panier ?' }, class: "btn btn-outline-dark border-0" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
        </svg>
        <% end %>
      </div>

      </div>

      <% if cart_item != @camp_enrollment_cart_items.last %>
        <hr class="border-secondary-subtle">
      <% else %>
        <hr class="border-secondary">
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-8 col-md-10 text-md-end">
        A régler par carte bancaire:
      </div>
      <div class="col-4 col-md-2 text-end">
        <%= number_with_precision(@total_cb, precision: 2, delimiter: ',') %> €
      </div>

      <div class="col-8 col-md-10 text-md-end">
        A régler le jour du stage:
      </div>
      <div class="col-4 col-md-2 text-end">
        <%= number_with_precision(@total_other, precision: 2, delimiter: ',') %> €
      </div>

      <div class="col-8 col-md-10 text-md-end">
        Total:
      </div>
      <div class="col-4 col-md-2 text-end">
        <%= number_with_precision(@cart.total_price, precision: 2, delimiter: ',') %> €
      </div>
    </div>

    <div class="text-center my-3">

      <% if @total_cb > 0 %>
        <%= link_to 'Procéder au paiement', commerce_new_checkout_path, data: { turbo: "false" }, class: 'btn btn-dark rounded-3 px-4 py-2' %>

      <% else %>
        <%= link_to 'Payer le jour du stage', commerce_checkout_success_path, data: { turbo: "false" }, class: 'btn btn-dark rounded-3 px-4 py-2' %>

      <% end %>

    </div>
  </section>

<% else %>
  <div class="container mt-5">
    <h6 class="text-center">Votre panier est actuellement vide.</h6>
    <h6 class="text-center mb-0 mt-4">
       <%= link_to 'Inscrire aux stages', parents_academies_path, class: "col-12 col-lg-6 btn rounded-4 px-4 py-3  mb-3 border btn-parent" %>
    </h6>
  </div>
<% end %>
