<%# permet d'afficher tous les stages achetés et les cotisations en attente de paiement %>

<h1 class="text-center my-3 bg-warning text-black p-1">
  Mon panier
</h1>

<% if @cart.cart_items.any? %>
  <div class="container mt-5">

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Étudiant</th>
          <th>Produit</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.sort_by { |cart_item| cart_item.student.first_name }.each do |cart_item| %>
          <tr>
            <td><%= cart_item.student.first_name %></td>
            <td><%= cart_item.name %></td>
            <td class="text-end"><%= number_with_precision(cart_item.price, precision: 2, delimiter: ',') %> €</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-end my-4">
      <h3>Total: <%= number_with_precision(@cart.total_price, precision: 2, delimiter: ',') %> €</h3>

      <div>
        <%= link_to 'Procéder au paiement', commerce_new_checkout_path, data: { turbo: "false" }, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <p class="alert alert-warning">Votre panier est vide.</p>
  </div>
<% end %>
