<%# permet d'afficher tous les stages achetés et les cotisations en attente de paiement %>

<h1 class="bg-black parent-title text-center fs-4 py-3 fw-bold mb-0">
  PAIEMENT
</h1>

<% if @cart.cart_items.any? %>
  <section class="container my-0 my-md-5 bg-white rounded-4 p-4">

    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <h2 class="fs-5 fw-bold">
          Produits
        </h2>
      </div>

      <div class="d-none d-md-block col-md-3">
        <h2 class="fs-5 fw-bold">
          Méthode de paiement
        </h2>
      </div>

      <div class="col-6 col-md-3">
        <h2 class="fs-5 fw-bold text-end">
          Prix
        </h2>
      </div>

      <div class="d-none d-md-block col-md-2">

      </div>


    </div>

    <hr class="border-secondary">

    <% @membership_cart_items.each do |cart_item| %>
      <div class="row align-items-center">
        <div class="col-8 col-md-4 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2">
          <%= cart_item.name %>
        </div>

        <div class="col-8 col-md-3 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2">
          <%= cart_item.payment_method %>
        </div>

        <div class="col-4 col-md-3 align-items-center justify-content-end d-flex">
          <%= number_with_precision(cart_item.price, precision: 2, delimiter: ',') %> €
        </div>
      </div>

      <div class="col-md-2"></div>

      <hr class="border-secondary-subtle">
    <% end %>

    <% @camp_enrollment_cart_items.each do |cart_item| %>
      <div class="row align-items-center">
      <div class="col-9 col-md-4 align-items-center d-flex d-md-block justify-content-start justify-content-md-center p-2 order-1">
        <%= cart_item.name %>
      </div>

      <div class="col-8 col-md-3 align-items-center d-flex d-md-block justify-content-md-center p-2 order-3 order-md-2">
        <% if cart_item.payment_method == 'offert' %>
           Gratuit
        <% else %>
          <%= simple_form_for cart_item, url: commerce_cart_item_path(cart_item), data: { controller: "form--auto-submit" } do |f| %>
          <%= f.select :payment_method, options_for_select([['Carte Bancaire', 'Carte bancaire'], ['Chèque', 'cheque'], ['Espèces', 'cash']], cart_item.payment_method), { }, { class: 'form-select', data: { action: "change->form--auto-submit#submit" } } %>
          <% end %>
        <% end %>
      </div>

      <div class="col-3 col-md-3 justify-content-md-end align-items-center d-flex p-2 order-2 order-md-3">
        <%= number_with_precision(cart_item.price, precision: 2, delimiter: ',') %> €
      </div>

      <div class="col-4 col-md-2 justify-content-end justify-content-md-end align-items-center d-flex p-2 order-4">
        <%= link_to commerce_cart_item_path(cart_item), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer ce produit de votre panier ?' } do %>
         <i class="fa-solid fa-circle-xmark fa-black fa-small"></i>
        <% end %>
      </div>

      </div>

      <% if cart_item != @camp_enrollment_cart_items.last %>
        <hr class="border-secondary-subtle">
      <% else %>
        <hr class="border-secondary">
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-8 col-md-10 text-md-end">
        A régler par carte bancaire:
      </div>
      <div class="col-4 col-md-2 text-end">
        <%= number_with_precision(@total_cb, precision: 2, delimiter: ',') %> €
      </div>
      <hr class="border-secondary mt-4 mb-4">

      <div class="col-8 col-md-10 text-md-end">
        A régler le jour du stage:
      </div>
      <div class="col-4 col-md-2 text-end">
        <%= number_with_precision(@total_other, precision: 2, delimiter: ',') %> €
      </div>
      <hr class="border-secondary mt-4 mb-4">
      <div class="col-8 col-md-10 text-md-end">
        <strong>Total:</strong>
      </div>
      <div class="col-4 col-md-2 text-end">
       <strong><%= number_with_precision(@cart.total_price, precision: 2, delimiter: ',') %> €</strong>
      </div>
    </div>

    <div class="text-center my-3 mt-4">

      <% if @total_cb > 0 %>
        <%= link_to 'Finaliser le paiement', commerce_new_checkout_path, data: { turbo: "false", disable_with: "Traitement en cours..." }, class: 'btn btn-dark rounded-3 px-4 py-2' %>

      <% elsif @total_other > 0 && @total_cb == 0 %>
        <%= link_to 'Finaliser les inscriptions', commerce_checkout_success_path(cart_id: @cart.id), data: { turbo: "false", disable_with: "Traitement en cours..." }, class: 'btn btn-dark rounded-3 px-4 py-2' %>
        <p class="fst-italic small mt-3">(et payer le premier jour du stage)</p>

      <% else # que des inscriptions gratuites %>
        <%= link_to 'Finaliser les inscriptions', commerce_checkout_success_path(cart_id: @cart.id), data: { turbo: "false", disable_with: "Traitement en cours..." }, class: 'btn btn-dark rounded-3 px-4 py-2' %>
      <% end %>
    </div>
  </section>

<% else %>
  <div class="container mt-5">
    <h6 class="text-center">Votre panier est actuellement vide.</h6>
    <h6 class="text-center mb-0 mt-4">
       <%= link_to 'Nouvelle inscription stage', parents_academies_path, class: "col-12 col-lg-6 btn rounded-4 px-4 py-3  mb-3 border btn-parent" %>
    </h6>
  </div>
<% end %>
