<div class="container" data-controller="hello">
  <div class="row">
    <div class="col-md-6 mb-3">
      <input type="text" id="searchInput" placeholder="Rechercher...">
    </div>
    <div class="col-md-6 mb-3">
      <button id="clear-filters" class="btn btn-primary float-end">Effacer les filtres</button>
    </div>
  </div>
  <table id="courses" class="table table-bordered">
    <thead>
      <tr>
        <th class="clickable-header">Nom</th>
        <th class="clickable-header">Jour</th>
        <th class="clickable-header">Heure de début</th>
        <th class="clickable-header">Heure de fin</th>
      </tr>
      <tr>
        <td>
          <select id="filter-name" class="form-select">
            <option value="">Tous</option>
            <% @courses.map{ |course| course.activity.name }.uniq.each do |name| %>
              <option value="<%= name %>"><%= name %></option>
            <% end %>
          </select>
        </td>
        <td>
          <select id="filter-day" class="form-select">
            <option value="">Tous</option>
            <% @courses.map{ |course| course.starts_at.strftime("%A %e %B") }.uniq.each do |day| %>
              <option value="<%= day %>"><%= day %></option>
            <% end %>
          </select>
        </td>
        <td>
          <select id="filter-start-time" class="form-select">
            <option value="">Tous</option>
            <% @courses.map{ |course| course.starts_at.strftime("%H:%M") }.uniq.each do |start_time| %>
              <option value="<%= start_time %>"><%= start_time %></option>
            <% end %>
          </select>
        </td>
        <td>
          <select id="filter-end-time" class="form-select">
            <option value="">Tous</option>
            <% @courses.map{ |course| course.ends_at.strftime("%H:%M") }.uniq.each do |end_time| %>
              <option value="<%= end_time %>"><%= end_time %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </thead>
    <tbody id="courses">
    <% @courses.each do |course|%>
      <tr class="clickable-tr" onclick="window.location.href='<%= managers_course_path(course) %>'">
        <td class="name"><%= course.activity.name %></td>
        <td class="day"><%= course.starts_at.strftime("%A %e %B") %></td>
        <td class="start"><%= course.starts_at.strftime("%H:%M") %></td>
        <td class="end"><%= course.ends_at.strftime("%H:%M") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
