<%= render "shared/academy_header" %>

<div class="header-nav">
  <div class="header-nav-item"><%= link_to @course.academy.name.upcase, managers_academy_path(@course.academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_academy_school_periods_path(@course.academy, @course.school_period) %></div>
  <div class="header-nav-item"><%= link_to "#{@course.school_period.name.upcase} - #{@course.school_period.year}", managers_academy_school_periods_path(@course.academy, @course.school_period) %></div>
  <div class="header-nav-item"><%= link_to @course.camp.name.upcase, managers_camp_path(@course.camp) %></div>
  <div class="header-nav-item"><%= link_to @course.activity.name.upcase, managers_activity_path(@course.activity) %></div>
  <div class="header-nav-item active"><%= l(@course.starts_at, format: :default) %></div>
</div>
<div class="yellow-title">FEUILLE D'APPEL</div>



<div class="container flexy" data-controller="presence-sheet">
  <div class="form-container">
    <%= form_with(url: update_enrollments_managers_course_path(@course), method: :put, class: "presence-sheet-form") do |form| %>
      <table class="table table-striped table-responsive table-center">
        <thead>
          <tr>
            <th>Nom-Prénom</th>
            <th></th>
            <th style="min-width:90px">Absent ?</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td class="min"><%= link_to "#{enrollment.student.last_name} #{enrollment.student.first_name}", managers_student_path(enrollment.student), class: "student-mr" %></td>
              <td class="min">
                <div class="form-switch form-switch-lg">
                  <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", id: "present-#{enrollment.id}", checked: enrollment.present }, 1, 0 %>
                  <label class="form-check-label form-switch-label" for="present-#{enrollment.id}"></label>
                </div>
              </td>
              <td class="min"><span class="status-text <%= enrollment.present ? 'd-none' : '' %>">Absent</span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="flexy">
        <%= form.submit "Valider", class: "btn-etendart" %>
      </div>
    <% end %>
  </div>
</div>
