<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">Academie : <%= @course.academy.name %></p>
    <p class="card-text">Période : <%= @course.school_period.name.upcase %></p>
    <p class="card-text">Stage : <%= @course.camp.name %></p>
    <p class="card-text">Cours : <%= @course.activity.name %></p>
    <p class="card-text">Date : <%= l(@course.starts_at, format: :default) %></p>

  </div>
  <div class="card-footer text-center">
    <%= link_to "Modifier", edit_managers_course_path(@course), class: "btn btn-primary" %>
    <%= link_to 'Supprimer', managers_course_path(@course), data: {turbo_method: :delete, turbo_confirm: 'Êtes vous '}, class: "btn btn-primary"  %>
    <%= link_to "Retour", managers_activity_path(@course.activity), class: "btn btn-primary" %>
  </div>
</div>


<h1>Feuille de présence</h1>
<%= form_with(url: update_enrollments_managers_course_path(@course), method: :put, class: "presence-sheet-form", data: { controller: "presence-sheet" }) do |form| %>
  <% @enrollments.each do |enrollment| %>
      <div class="form-switch">
        <%= form.label "Student #{enrollment.student.id}", nil, class: "form-check-label" %>
        <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input", id: "present-#{enrollment.id}", checked: enrollment.present }, 1, 0 %>
        <span class="status-text <%= enrollment.present ? 'd-none' : '' %>">Absent</span>
      </div>
  <% end %>
  <%= form.submit "Valider", class: "btn btn-primary mt-3" %>
<% end %>
