<div class="yellow-title mb-0">TABLEAU DE BORD</div>
<% if @today_courses.any? %>
  <div class="black-title mb-0">AUJOURD'HUI</div>
    <table class="container table table-striped table-responsive table-center coach-container mb-0">
    <thead>
      <tr>
        <th>Activité</th>
        <th>Date</th>
        <th>Appel</th>
      </tr>
    </thead>
    <tbody>
      <% @today_courses.each do |course| %>
        <tr class="clickable-coach-tr" onclick="window.location.href='<%= coaches_course_path(course) %>'">
          <td class="align-middle coach-font"><%= course.activity.name %></td>
          <td class="align-middle coach-font" style="white-space: nowrap"><%= l(course.starts_at, format: :default) %></td>
          <% if course.starts_at < Time.current %>
            <td class="align-middle coach-font">
              <% if course.status %>
                <i class="fa-solid fa-circle-check text-success fa-small"></i>
              <% else %>
                <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @missing_attendes.any? %>
  <div class="black-title mb-0">APPELS EN RETARD</div>
    <table class="container table table-striped table-responsive table-center coach-container mb-0">
    <thead>
      <tr>
        <th>Activité</th>
        <th>Date</th>
        <th>Appel</th>
      </tr>
    </thead>
    <tbody>
      <% @missing_attendes.each do |course| %>
        <tr class="clickable-coach-tr" onclick="window.location.href='<%= coaches_course_path(course) %>'">
          <td class="align-middle coach-font"><%= course.activity.name %></td>
          <td class="align-middle coach-font" style="white-space: nowrap"><%= l(course.starts_at, format: :default) %></td>
          <td class="align-middle coach-font">
            <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @next_courses.any? %>
  <div class="black-title mb-0">PROCHAINS COURS</div>
  <table class="container table table-striped table-responsive table-center coach-container">
    <thead>
      <tr>
        <th>Académie</th>
        <th>Activité</th>
        <th style="min-width:100px">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @next_courses.each do |course| %>
        <tr class="clickable-coach-tr" onclick="window.location.href='<%= coaches_course_path(course) %>'">
          <td class="align-middle coach-font"><%= course.academy.name %></td>
          <td class="align-middle coach-font"><%= course.activity.name %></td>
          <td class="align-middle coach-font" style="white-space: nowrap"><%= l(course.starts_at, format: :default) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "Voir tous", coaches_courses_path, class: "btn-add-student btn-add-student-small mb-3" %>
  </div>
<% end %>

<% if @students.any? %>
  <div class="black-title mb-0">LES ÉLÈVES</div>
  <table class="container table-striped table table-responsive table-center coach-container">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="clickable-coach-tr" onclick="window.location.href='<%= coaches_student_profile_path(student, url_origin: coaches_student_profiles_path) %>'">
          <td class="align-middle coach-font">
            <% if student.photo.attached? %>
                    <%= cl_image_tag student.photo_or_default,
                 class: "avatar-small",
                 crop: "thumb",
                 gravity: "face",
                 width: 300,
                 height: 300 %>
            <% else %>
              <i class="fa-solid fa-circle-user" style="font-size:80px"></i>
            <% end %>
          </td>
          <td class="align-middle coach-font"><%= student.last_name.try(:upcase) %></td>
          <td class="align-middle coach-font"><%= student.first_name %></td>
          <td class="align-middle coach-font"><%= student.age %> ans</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "Voir tous", coaches_student_profiles_path, class: "btn-add-student btn-add-student-small mb-3" %>
  </div>
<% end %>
