<div class="yellow-title mb-0">TABLEAU DE BORD</div>
<% if @missing_attendance.any? %>
  <div class="black-title">FEUILLE D'APPEL EN ATTENTE</div>
    <table class="container table table-striped table-responsive table-center coach-container mb-0">
    <thead>
      <tr>
        <th>Activité</th>
        <th>Date</th>
        <th>Appel</th>
      </tr>
    </thead>
    <tbody>
      <% @missing_attendance.each do |course| %>
      <tr class="clickable-tr" onclick="window.location.href='<%= coaches_course_path(course) %>'">
        <td class="align-middle coach-font"><%= course.activity.name %></td>
        <td class="align-middle coach-font"><%= l(course.starts_at, format: :default) %></td>
        <td class="align-middle coach-font">
          <% if course.status %>
            <i class="fa-solid fa-check text-success fa-big"></i>
          <% else %>
            <i class="fa-solid fa-xmark text-danger fa-big"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @next_courses.any? %>
  <div class="black-title">PROCHAINS COURS</div>
  <table class="container table table-striped table-responsive table-center coach-container">
    <thead>
      <tr>
        <th>Académie</th>
        <th>Activité</th>
        <th style="min-width:100px">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @next_courses.each do |course| %>
      <tr class="clickable-tr" onclick="window.location.href='<%= coaches_course_path(course) %>'">
        <td class="align-middle coach-font"><%= course.academy.name %></td>
        <td class="align-middle coach-font"><%= course.activity.name %></td>
        <td class="align-middle coach-font"  style="min-width:100px"><%= l(course.starts_at, format: :default) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "Voir tous", coaches_courses_path, class: "btn-etendart-small" %>
  </div>
<% end %>

<% if @students.any? %>
  <div class="black-title">LES ÉLÈVES</div>
  <table class="container table-striped table table-responsive table-center coach-container">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr class="clickable-tr" onclick="window.location.href='<%= coaches_student_profile_path(student) %>'">
        <td class="align-middle coach-font">
          <%= cl_image_tag student.photo_or_default, class: "avatar-small" %>
        </td>
        <td class="align-middle coach-font"><%= student.last_name %></td>
        <td class="align-middle coach-font"><%= student.first_name %></td>
        <td class="align-middle coach-font"><%= student.age %> ans</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "Voir tous", coaches_student_profiles_path, class: "btn-etendart-small" %>
  </div>
<% end %>
