<!--<div class="flexy col-5 col-sm-5 col-md-5 col-lg-4 col-xxl-4" data-controller="upload-photo">-->
  <%#= cl_image_tag @student.photo_or_default, class: "avatar", data: { upload_photo_target: "photo" } %>
<!--  <div class="loader-photo d-none" data-upload-photo-target="spinner"></div>-->
  <%# if @student.photo.attached? %>
    <%#= simple_form_for(@student, url: update_photo_managers_student_path(@student, origin: @url), method: :put, html: { multipart: true, data: { upload_preset: "student_avatar", upload_photo_target: "form" } }) do |form| %>
      <%#= form.input :photo, label: "Changer la photo", as: :file, input_html: { onchange: 'this.form.submit();', style: 'display:none;cursor:pointer', accept: "image/*", capture: "environment" }, label_html: { class: "btn-coach-photo" } %>
    <%# end %>
  <%# else %>
    <%#= simple_form_for(@student, url: update_photo_managers_student_path(@student, origin: @url), method: :put, html: { multipart: true, data: { upload_preset: "student_avatar", upload_photo_target: "form2" } }) do |form| %>
      <%#= form.input :photo, label: "Ajouter une photo", as: :file, input_html: { onchange: 'this.form.submit();', style: 'display:none;cursor:pointer', accept: "image/*", capture: "environment"  }, label_html: { class: "btn-coach-photo" } %>
    <%# end %>
  <%# end %>
<!--</div>-->

<div class="flexy col-5 mb-3"
     data-controller="update-photo-from-course"
     data-update-photo-from-course-target="studentPhoto">
    <input type="file" id="photo_<%= @student.id %>"
            data-action="change->update-photo-from-course#submit"
            data-update-photo-from-course-target="input"
            data-student-id="<%= student.id %>"
            data-origin="student_profile"
            accept="image/*" capture="environment"
            style="display:none;cursor:pointer;">
    <label for="photo_<%= student.id %>"
           data-update-photo-from-course-target="label"
           style="position:relative">
        <% if @student.photo.attached? %>
          <%= cl_image_tag @student.photo_or_default, class: "avatar", data: { upload_photo_target: "photo" } %>
          <div class="change-photo" id="change-photo-coach">
            <%= image_tag('camera-black.svg', style: "width:20px", alt: 'description de l\'image') %>
            <p style="margin:0;font-size:12px">Modifier</p>
          </div>
        <% else %>
          <div class="flexy student-photo-profile">
            <%= image_tag('camera-yellow.svg', style: "width:80px", alt: 'description de l\'image') %>
          </div>
        <% end %>
    </label>
    <div class="loader-container">
      <div class="loader-photo d-none" data-update-photo-from-course-target="spinner"></div>
    </div>
</div>
