<div class="yellow-title">LES ÉLÈVES</div>
<% if @students.any? %>
  <table class="container table table-striped table-responsive table-center coach-container">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="clickable-coach-tr" onclick="window.location.href='<%= coaches_student_profile_path(student, url_origin: coaches_student_profiles_path) %>'">
          <td class="align-middle coach-font">
            <% if student.photo.attached? %>
              <%= cl_image_tag student.photo.key, class: "avatar-small" %>
            <% else %>
              <i class="fa-solid fa-circle-user"></i>
            <% end %>
          </td>
          <td class="align-middle coach-font"><%= student.last_name.try(:upcase) %></td>
          <td class="align-middle coach-font"><%= student.first_name %></td>
          <td class="align-middle coach-font"><%= student.age %> ans</td>
       </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flexy">
    <%= link_to "Retour", "/", class: "btn-etendart-small" %>
  </div>
<% end %>
