<div class="yellow-title mb-0"><%= @student.full_name.upcase %></div>

<div class="special-container">
  <div class="row justify-content-center align-items-center student-info-container">
    <div class="flexy col-5 col-sm-5 col-md-5 col-lg-4 col-xxl-4" data-controller="upload-photo">
      <%= cl_image_tag @student.photo_or_default, class: "avatar", data: { upload_photo_target: "photo" } %>
      <div class="spinner-border text-primary d-none" role="status" data-upload-photo-target="spinner">
        <span class="sr-only">Loading...</span>
      </div>
      <% if @student.photo.attached? %>
        <%= simple_form_for(@student, url: update_photo_managers_student_path(@student), method: :put, html: { multipart: true, data: { upload_preset: "student_avatar", upload_photo_target: "form" } }) do |form| %>
          <%= form.input :photo, label: "Changer la photo", as: :file, input_html: { onchange: 'this.form.submit();', id: 'photo-input', style: 'display:none;cursor:pointer', accept: "image/*" }, label_html: { class: "btn-coach-photo" } %>
        <% end %>
      <% else %>
        <%= simple_form_for(@student, url: update_photo_managers_student_path(@student), method: :put, html: { multipart: true, data: { upload_preset: "student_avatar", upload_photo_target: "form" } }) do |form| %>
          <%= form.input :photo, label: "Changer la photo", as: :file, input_html: { onchange: 'this.form.submit();', id: 'photo-input', style: 'display:none;cursor:pointer', accept: "image/*" }, label_html: { class: "btn-coach-photo" } %>
        <% end %>
      <% end %>
    </div>
    <div class="col-7 col-sm-7 col-md-5 col-lg-5  col-xxl-5 coach-student-info">
      <p class="text-break">NOM : <strong><%= @student.last_name.upcase %></strong></p>
      <p class="text-break">PRÉNOM : <strong><%= @student.first_name.upcase %></strong></p>
      <p><%= @student.gender %> - <%= @student.age %> ans </p>
      <p class="text-break">EMAIL : <%= @student.email %></p>
      <p class="text-break">TEL : 0<%= @student.phone_number %></p>
    </div>
  </div>
</div>

<div class="yellow-title mt-0">FEEDBACKS</div>

<div data-controller="hidden-forms">
  <div class="flexy">
    <button class="btn-etendart-small btn-small-square mt-3" data-action="click->hidden-forms#displayFeedbackForm">Ajouter un feedback</button>
    <%= form_with(model: @feedback, url: coaches_feedbacks_path, method: :post, class: "hidden-form feedback-coach-container", data: { hidden_forms_target: "feedbackForm" }, local: true) do |form| %>
      <%= form.hidden_field :student_id, value: @student.id %>
      <%= form.text_area :content, class: "form-control", id:"feedback-content", placeholder: "Ecrivez votre commentaire ici...", required: true %>
      <div class="flex-btn mt-3">
        <%= form.submit "Valider", class: "btn-etendart-small btn-smaller mt-2" %>
        <button class="btn-etendart-small btn-smaller btn-grey mt-2" data-action="click->hidden-forms#hideFeedbackForm" type="button">Annuler</button>
      </div>
    <% end %>
  </div>
</div>

<% if @feedbacks.any? %>
  <table class="container table table-striped table-responsive coach-container">
    <thead>
      <tr>
        <th class="coach-font">Date</th>
        <th class="coach-font">Message</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
      <tr>
        <td class="align-middle coach-font"><%= l(feedback.created_at, format: :date_short) %></td>
        <td class="align-middle coach-font"><%= feedback.content %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
