<div class="yellow-title mb-0"><%= @student.full_name.try(:upcase) %></div>

<div class="special-container">
  <div class="row justify-content-center align-items-center student-info-container">
    <%= render partial: "coaches/student_profiles/student_photo", locals: { student: @student }%>
    <div class="col-7 coach-student-info">
      <p class="text-break">NOM : <strong><%= @student.last_name.try(:upcase) %></strong></p>
      <p class="text-break">PRÉNOM : <strong><%= @student.first_name.try(:upcase) %></strong></p>
      <p><%= @student.gender %> - <%= @student.age %> ans </p>
      <p class="text-break">EMAIL : <%= @student.email %></p>
      <p class="text-break">TEL : <%= @student.phone_number %></p>
      <% if params[:precedent] %>
        <%= link_to params[:precedent], class:"menu__item" do %>
          <i class="fa-solid fa-arrow-rotate-left icones"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if !@membership.status %>
  <div class="yellow-title mt-0 mb-0">COTISATION <%= "#{@start_year} - #{@start_year +  1}"  %></div>

  <div class="membership-container special-container mt-0">
    <%= simple_form_for @membership, url: managers_membership_path(@membership, url: @url), method: :patch do |f| %>
      <div class="d-flex justify-content-around">
          <%= f.input :payment_method,
                      label: false,
                      wrapper_html: { class: 'mt-3 mb-0', style: 'width:60%;'},
                      collection: [['Chèque', 'cheque'], ['Espèces', 'cash']],
                      prompt: "Mode de paiement" %>
          <%= f.hidden_field :receiver_id, value: current_user.id %>
        <%= f.submit "Valider", class: "btn-membership" %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="yellow-title mt-0">FEEDBACKS</div>

<div data-controller="hidden-forms">
  <div class="flexy">
    <button class="btn-etendart-small btn-small-square mt-3" data-action="click->hidden-forms#displayFeedbackForm">Ajouter un feedback</button>
    <%= form_with(model: @feedback, url: coaches_feedbacks_path, method: :post, class: "hidden-form feedback-coach-container", data: { hidden_forms_target: "feedbackForm" }, local: true) do |form| %>
      <%= form.hidden_field :student_id, value: @student.id %>
      <%= form.text_area :content, class: "form-control", id:"feedback-content", placeholder: "Ecrivez votre commentaire ici...", required: true %>
      <div class="flex-btn mt-3">
        <%= form.submit "Valider", class: "btn-etendart-small btn-smaller mt-2" %>
        <button class="btn-etendart-small btn-smaller btn-grey mt-2" data-action="click->hidden-forms#displayFeedbackForm" type="button">Annuler</button>
      </div>
    <% end %>
  </div>
</div>

<% if @feedbacks.any? %>
  <table class="container table table-striped table-responsive coach-container special-container">
    <thead>
      <tr>
        <th class="coach-font">Date</th>
        <th class="coach-font">Message</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
      <tr>
        <td class="align-middle coach-font"><%= l(feedback.created_at, format: :date_short) %></td>
        <td class="align-middle coach-font"><%= feedback.content %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
