<div id="camp_enrollment_<%= camp_enrollment.id %>">
  <% student = camp_enrollment.student %>
  <% camp = camp_enrollment.camp %>
  <% name_style = camp_enrollment.present && !camp_enrollment.paid && !all_students_with_free_judo.include?(student) ? 'color: #fc3535;font-weight:bold' : '' %>
  <div id="target-<%=camp_enrollment.id%>" class="row card-row card-row-higher card-row-no-transform clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_student_path(camp_enrollment.student) %>">
    <div class="col-2 flexy-row">
      <span class="ellipsis" style="<%= name_style %>"><%= student.last_name %></span>
    </div>
    <div class="col-2 flexy-row">
      <span class="ellipsis" style="<%= name_style %>"><%= student.first_name %></span>
    </div>
    <div class="col-2 flexy-row">
      <span class="ellipsis" style="<%= name_style %>" ><%= "#{camp_enrollment.camp.academy.name }-#{camp_enrollment.camp.school_period.name}-#{camp_enrollment.camp.name}" %></span>
    </div>
    <div class="col-1 flexy-row small-col">
      <span class="ellipsis" style="<%= name_style %>"><%= camp_enrollment.camp.school_period.price %>€</span>
    </div>
    <% if camp_enrollment.paid %>
      <div class="col-1 flexy-row">
        <span class="ellipsis"><%= camp_enrollment.payment_date ? l(camp_enrollment.payment_date, formats: :default) : '' %></span>
      </div>
      <div class="col-1 flexy-row">
        <span class="ellipsis"><%= camp_enrollment.payment_method %></span>
      </div>
      <div class="col-2 flexy-row">
        <span class="ellipsis"><%= camp_enrollment.receiver&.full_name %></span>
      </div>
      <div class="col-1 flexy-row small-col">
        <i class="fa-solid fa-circle-check text-success fa-small"></i>
      </div>
    <% elsif all_students_with_free_judo.include?(student) %>
      <div class="col-5 flexy-row">
        <span class="ellipsis">Judo Gratuit</span>
      </div>
    <% elsif camp_enrollment.present || (!camp_enrollment.present && camp.ends_at >= Date.current)%>
      <div class="col-4 flexy-row">
        <button type="button" class="btn-add-student btn-add-pink" data-bs-toggle="modal" data-bs-target="#campEnrollment<%=camp_enrollment.id%>Modal">
          <i class="fa-solid fa-square-plus fa-square-bigger"></i>PAYER<i class="fa-solid fa-square-plus fa-square-bigger"></i>
        </button>
      </div>
      <div class="col-1 flexy-row small-col">
        <i class="fa-solid fa-circle-xmark fa-pink fa-big fa-small"></i>
      </div>
    <% elsif !camp_enrollment.present && camp.ends_at < Date.current %>
      <div class="col-5 flexy-row">
        <span class="ellipsis">Absent de la semaine</span>
      </div>
    <% end %>
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="campEnrollment<%= camp_enrollment.id %>Modal" tabindex="-1" aria-labelledby="campEnrollment<%= camp_enrollment.id %>ModalLabel" aria-hidden="true" data-controller="close-modal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:80%;padding:0px">
        <div class="modal-header modal-header-deposit">
          <h5 class="modal-title"><%= "Stage #{camp_enrollment.camp.academy.name }-#{camp_enrollment.camp.school_period.name}-#{camp_enrollment.camp.name}" %><br><%= camp_enrollment.student.full_name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= simple_form_for camp_enrollment, url: managers_camp_enrollment_path(camp_enrollment), data: { controller: "payment-method", action: "submit->close-modal#closeModal", turbo: local_assigns[:reload] ? false : true }, method: :patch do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :source, value: "list" %>
            <%#= f.hidden_field :index, value: index %>
            <%= f.hidden_field :origin, value: show_camp_managers_finance_path(camp_enrollment.camp) %>
            <%= f.input :payment_method,
                        label: "Moyen de paiement",
                        required: true,
                        collection: [['Chèque', 'cheque'], ['Espèces', 'cash'], ['Hello Asso', 'hello_asso'], ['Pass', 'pass'], ['Virement', 'virement'], ['Offert', 'offert']],
                        prompt: "Sélectionner",
                        input_html: { data: { action: "change->payment-method#toggleReceiverRequired" } } %>
            <%= f.input :receiver_id,
                        label: "Personne ayant reçu le paiement",
                        collection: User.all.order(:last_name).map { |user| [user.full_name_reverse, user.id] },
                        selected: camp_enrollment.receiver_id.present? ? camp_enrollment.receiver_id : current_user.id,
                        prompt: "Sélectionner",
                        include_blank: true,
                        input_html: { data: { payment_method_target: "receiver" } } %>
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <%= f.submit "Valider", class: "btn-add-student btn-add-student-small" %>
            <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
