<div class="yellow-title yellow-title-flex">
  LISTE DES ÉLÈVES
  <%= link_to export_activity_students_managers_activity_path(activity: @activity, format: :csv) do %>
    <i class="fa-solid fa-download fa-download-black"></i>
  <% end %>
</div>
<div class="container" data-controller="clickable-table">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <% students.each do |student| %>
        <% membership = student.memberships.find_by(start_year: @start_year) %>
        <% name_style = membership&. == false ? "color: red;font-weight: bold" : "" %>
        <tr class="clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_student_path(student) %>">
          <td style="<%= name_style %>"><%= student.last_name %></td>
          <td style="<%= name_style %>"><%= student.first_name %></td>
          <td><%= student.age %> ans</td>
          <td><%= student.phone_number %></td>
          <td><%= student.email %></td>
          <td>
            <%= link_to managers_activity_enrollment_path(@activity.activity_enrollments.find_by(student_id: student.id)), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir enlever cet élève ?" } do %>
              <i class="fas fa-trash trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
