<div class="header-info">
  LISTE DES ÉLÈVES
  <%= link_to export_activity_students_managers_activity_path(activity: @activity, format: :csv) do %>
    <i class="fa-solid fa-download fa-download-white"></i>
  <% end %>
</div>

<div data-controller="clickable-table">
  <div class="card-row-container">
    <div class="row pb-2 pt-2 header-row align-items-center justify-content-center">
      <div class="col-2 flexy-row">
        <strong>Nom</strong>
      </div>
      <div class="col-2 flexy-row">
        <strong>Prénom</strong>
      </div>
      <div class="col-1 flexy-row small-col">
        <strong>Age</strong>
      </div>
      <div class="col-2 flexy-row">
        <strong>Téléphone</strong>
      </div>
      <div class="col-3 flexy-row">
        <strong>Email</strong>
      </div>
      <div class="col-2 flexy-row small-col">
        <strong>Supprimer</strong>
      </div>
    </div>

    <% students.each do |student| %>
      <% membership = student.memberships.find_by(start_year: @start_year) %>
      <% name_style = membership&.paid == false ? "color: red;font-weight: bold" : "" %>
      <div class="row justify-content-center card-row card-row-no-transform clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_student_path(student) %>">
        <div class="col-2 flexy-row" style="<%= name_style %>">
          <span class="ellipsis"><%= student.last_name %></span>
        </div>
        <div class="col-2 flexy-row" style="<%= name_style %>">
          <span class="ellipsis"><%= student.first_name %></span>
        </div>
        <div class="col-1 flexy-row small-col">
          <span class="ellipsis"><%= student.age %> ans</span>
        </div>
        <div class="col-2 flexy-row">
          <span class="ellipsis"><%= student.phone_number %></span>
        </div>
        <div class="col-3 flexy-row">
          <span class="ellipsis"><%= student.email %></span>
        </div>
        <div class="col-2 flexy-row small-col">
          <span class="ellipsis">
            <%= link_to managers_activity_enrollment_path(@activity.activity_enrollments.find_by(student_id: student.id)), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir enlever cet élève ?" } do %>
              <i class="fas fa-trash trash"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
