<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@school_period.name.upcase} - #{@school_period.year}", managers_school_period_path(@school_period) %></div>
  <div class="header-nav-item"><%= link_to @camp.name.upcase, managers_camp_path(@camp) %></div>
  <div class="header-nav-item active">NOUVELLE ACTIVITÉ</div>
</div>
<div class="yellow-title">NOUVELLE ACTIVITÉ</div>

<div class="flexy container">
  <div class="form-container form-min-width">
    <%= simple_form_for @activity, url: managers_activities_path(camp: @camp), method: :post, data: { controller: 'activity-form' } do |f| %>
      <%= f.input :name, label: "Nom", input_html: { class: "activity-input" } %>
      <%= f.input :category_id, as: :select, collection: Category.all.order(:name), label: "Categorie", label_method: :name, value_method: :id, input_html: { data: { activity_form_target: "category", academy_id: @camp.school_period.academy.id, action: 'change->activity-form#onCategoryChange' }, class: "activity-input" } %>
      <div class="d-none" data-activity-form-target="toto">
        <%= f.input :coach_id, as: :select, label: "Coach Principal", collection: User.all, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", data: { controller: "tom-select", activity_form_target: "coach" } } %>
        <%= f.input :coach_ids, as: :select, label: "Autres coachs", collection: User.all, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", multiple: true, data: { controller: "tom-select", activity_form_target: "coach" } } %>
      </div>

      <%= f.input :location_id, as: :select, collection: @locations, label: "Adresse", input_html: { class: "activity-input" }  %>


      <ul>
        <li>
          <%= f.simple_fields_for :days do |day_form| %>
            <div class="row align-items-center">
              <div class="col-4">
                <%= day_form.check_box :day_of_week, { multiple: true, checked: true }, "Lundi".to_s %>
                <%= day_form.label :day_of_week, "Lundi".to_s %>
              </div>
              <div class="col-4">
              <%= day_form.time_field :start_time_Lundi, value: Activity::DAYS[:Lundi][:start_time], data: { activity_form_target: 'mondayStartTime', action: 'change->activity-form#onMondayStartTimeInputChange' }, class: "form-control" %>
              </div>
              <div class="col-4">
                <%= day_form.time_field :end_time_Lundi, value: Activity::DAYS[:Lundi][:end_time], data: { activity_form_target: 'mondayEndTime', action: 'change->activity-form#onMondayEndTimeInputChange' }, class: "form-control" %>
              </div>
            </div>
            <% end %>
        </li>

        <% Activity::DAYS.except(:Lundi).each do |day, times| %>
          <li>
            <%= f.simple_fields_for :days do |day_form| %>
              <div class="row align-items-center">
                <div class="col-4">
                  <%= day_form.check_box :day_of_week, { multiple: true, checked: true }, day.to_s %>
                  <%= day_form.label :day_of_week, day.to_s %>
                </div>
                <div class="col-4">
                  <%= day_form.time_field :"start_time_#{day}", value: times[:start_time], data: { activity_form_target: 'startTime' }, class: "form-control" %>
                </div>
                <div class="col-4">
                  <%= day_form.time_field :"end_time_#{day}", value: times[:end_time], data: { activity_form_target: 'endTime' }, class: "form-control" %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="flexy">
        <%= f.submit "Valider", class: "btn-add-student btn-add-student-small" %>
      </div>
    <% end %>
  </div>
</div>
