<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@school_period.name.upcase} - #{@school_period.year}", managers_school_period_path(@school_period) %></div>
  <div class="header-nav-item"><%= link_to @camp.name.upcase, managers_camp_path(@camp) %></div>
  <div class="header-nav-item active">NOUVELLE ACTIVITÉ</div>
</div>
<div class="yellow-title">NOUVELLE ACTIVITÉ</div>

<div class="flexy container">
  <div class="form-container form-min-width" data-controller="activity-form" data-activity-form-academy-id-value="<%= @academy.id  %>">
    <%= simple_form_for @activity, url: managers_activities_path(camp: @camp), method: :post do |f| %>
      <%= f.input :name, label: "Nom", input_html: { class: "activity-input" } %>
      <%= f.hidden_field :age_restricted, value: false if @academy.name == "Éole" %>

      <% unless @academy.name == "Éole" %>
        <div class="mb-3">
          <%= f.label :age_restricted, "Activité concernée par une tranche d'âge ?", class: "form-label" %>
          <div>
            <%= f.radio_button :age_restricted, true, class: "activity-input", checked: @activity.age_restricted == true, required: true, data: { action: 'change->activity-form#addRanges' } %>
            <%= f.label :age_restricted_true, "Oui" %>

            <%= f.radio_button :age_restricted, false, class: "activity-input", checked: @activity.age_restricted == false, required: true, data: { action: 'change->activity-form#removeRanges' } %>
            <%= f.label :age_restricted_false, "Non" %>
          </div>
        </div>
      <% end %>

      <div data-activity-form-target="ageRanges">

      </div>
      <%= f.input :category_id, as: :select, collection: Category.all.order(:name), label: "Categorie", label_method: :name, value_method: :id, input_html: { data: { activity_form_target: "category", action: 'change->activity-form#onCategoryChange' }, class: "activity-input" } %>

      <div class="d-none" data-activity-form-target="subform">
        <%= f.input :coach_id, as: :select, label: "Coach Principal", collection: User.all, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", data: { controller: "tom-select", activity_form_target: "coach" } } %>
        <%= f.input :coach_ids, as: :select, label: "Autres coachs", collection: User.all, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", multiple: true, data: { controller: "tom-select", activity_form_target: "coach" } } %>
      </div>

      <%= f.input :location_id, as: :select, collection: @locations, label: "Adresse", input_html: { class: "activity-input" }  %>

      <div class="schedule-container mb-4">
        <label class="form-label">Jours et horaires</label>
        <div class="schedule-days">
          <div class="schedule-day">
            <%= f.simple_fields_for :days do |day_form| %>
              <div class="row align-items-center schedule-row">
                <div class="col-4">
                  <div class="day-checkbox" onclick="event.target.tagName !== 'INPUT' && this.querySelector('input[type=checkbox]').click();">
                    <%= day_form.check_box :day_of_week, { multiple: true, checked: true }, "Lundi".to_s %>
                    <%= day_form.label :day_of_week, "Lundi".to_s, class: "day-label" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="time-input-container">
                    <label class="time-label">Début</label>
                    <%= day_form.time_field :start_time_Lundi, data: { activity_form_target: 'mondayStartTime', action: 'change->activity-form#onMondayStartTimeInputChange' }, class: "activity-input time-input" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="time-input-container">
                    <label class="time-label">Fin</label>
                    <%= day_form.time_field :end_time_Lundi, data: { activity_form_target: 'mondayEndTime', action: 'change->activity-form#onMondayEndTimeInputChange' }, class: "activity-input time-input" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <% (Activity::DAYS - ["Lundi"]).each do |day| %>
            <div class="schedule-day">
              <%= f.simple_fields_for :days do |day_form| %>
                <div class="row align-items-center schedule-row">
                  <div class="col-4">
                    <div class="day-checkbox" onclick="event.target.tagName !== 'INPUT' && this.querySelector('input[type=checkbox]').click();">
                      <%= day_form.check_box :day_of_week, { multiple: true, checked: true }, day.to_s %>
                      <%= day_form.label :day_of_week, day.to_s, class: "day-label" %>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="time-input-container">
                      <label class="time-label">Début</label>
                      <%= day_form.time_field :"start_time_#{day}", data: { activity_form_target: 'startTime' }, class: "activity-input time-input" %>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="time-input-container">
                      <label class="time-label">Fin</label>
                      <%= day_form.time_field :"end_time_#{day}", data: { activity_form_target: 'endTime' }, class: "activity-input time-input" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div data-activity-form-target="errorMessage" class="alert alert-danger d-none" role="alert"></div>

      <div class="flexy">
        <%= f.submit "Valider", class: "btn-add-student btn-add-student-small", data: { activity_form_target: "submitButton" } %>
      </div>
    <% end %>
  </div>
</div>
