<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES PROGRAMMES", managers_annual_programs_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@annual_program.start_year} - #{@annual_program.end_year}", managers_annual_program_path(@annual_program) %></div>
  <div class="header-nav-item active">NOUVELLE ACTIVITÉ</div>
</div>
<div class="yellow-title">NOUVELLE ACTIVITÉ</div>

<div class="flexy container">
  <div class="form-container form-min-width">
    <%= simple_form_for @activity, url: create_for_annual_managers_activities_path(annual_program: @annual_program), method: :post, data: { controller: 'activity-form' } do |f| %>
      <%= f.input :name, label: "Nom", input_html: { class: "activity-input" } %>
      <%= f.input :category_id, as: :select, collection: Category.all.order(:name), label: "Categorie", label_method: :name, value_method: :id, input_html: { data: { activity_form_target: "category", academy_id: @academy.id, action: 'change->activity-form#onCategoryChange' }, class: "activity-input" } %>
      <div class="d-none" data-activity-form-target="toto">
        <%= f.input :coach_id, as: :select, label: "Coach Principal", collection: User.all, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", data: { controller: "tom-select", activity_form_target: "coach" } } %>
        <%= f.input :coach_ids, as: :select, label: "Autres coachs", collection: User.all, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", multiple: true, data: { controller: "tom-select", activity_form_target: "coach" } } %>
      </div>

      <%= f.input :location_id, as: :select, collection: @locations, label: "Adresse", required: true, input_html: { class: "activity-input" }  %>

      <%= f.simple_fields_for :day_attributes do |activity_period| %>
        <%= activity_period.input :day, as: :select, collection: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'], label: 'Jour', input_html: { class: 'activity-input' } %>
        <%= activity_period.input :start_time, as: :time, label: 'Heure de début', input_html: { class: 'activity-input' }, minute_step: 15 %>
        <%= activity_period.input :end_time, as: :time, label: 'Heure de fin', input_html: { class: 'activity-input' }, minute_step: 15 %>
      <% end %>
      <div class="flexy">
        <%= f.submit "Valider", class: "btn-etendart" %>
      </div>
    <% end %>
  </div>
</div>
