<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @activity.academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@school_period.name.upcase} - #{@school_period.year}", managers_school_period_path(@school_period) %></div>
  <div class="header-nav-item"><%= link_to @camp.name.upcase, managers_camp_path(@camp) %></div>
  <div class="header-nav-item active"><%= @activity.name.upcase %></div>
</div>

<div class="yellow-title"><%= @activity.name.upcase %></div>

<div class="row justify-content-center align-items-stretch">

  <div class="col-8">
    <%= render "managers/activities/next_courses", courses: @courses %>
  </div>

  <div class="col-4">
    <div class="header-info">COACH</div>
    <div class="form-container form-container-activity">
      <%= simple_form_for @activity, url: managers_activity_path(@activity, redirect_to: "camp" ), method: :patch do |f| %>

      <%= f.input :coach_id, as: :select, label: "Coach Principal", collection: @coaches, label_method: :full_name, value_method: :id, input_html: { class: "tom-select", data: { controller: "tom-select" } } %>
      <%= f.input :coach_ids, as: :select, label: "Autres coachs", collection: @coaches.reject { |coach| coach == @coach }, label_method: :full_name, input_html: { class: "tom-select", multiple: true, data: { controller: "tom-select" },  selected: @coaches.reject { |coach| coach == @coach } } %>
      <div class="flexy">
        <%= f.button :submit, "Valider", class: "btn btn-etendart-yellow" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "managers/activities/students_list", students: @students %>
