<div class="row">
  <% @courses.each do |course| %>
    <div class="col-3">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><%= l(course.starts_at, format: :long) %></p>
          <%= form_with(model: course, url: managers_course_path(course), method: :patch) do |form| %>
            <%= form.label :starts_at, "De" %>
            <%= form.time_field :starts_at, minute_step: 15, class: "form-control" %>
            <%= form.label :ends_at, "A" %>
            <%= form.time_field :ends_at, minute_step: 15, class: "form-control" %>
            <%= form.submit "Mettre à jour les horaires", class: "btn btn-primary mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
