<div class="flexy-admin">
  <div class="grid-container container">
    <%= link_to index_for_admin_managers_students_path, class: "grid-item" do %>
      <div class="card-academy card-admin" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path 'camps.jpeg' %>')">
        LES ÉLÈVES
      </div>
    <% end %>
    <%= link_to index_for_admin_managers_school_periods_path, class: "grid-item" do %>
      <div class="card-academy card-admin" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path 'locations.jpeg' %>')">
        BILAN DES STAGES
      </div>
    <% end %>
    <%= link_to membership_finances_overview_managers_finances_path, class: "grid-item" do %>
      <div class="card-academy card-admin" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path 'coachs.jpeg' %>')">
        SUIVI COTISATIONS
      </div>
    <% end %>
    <%= link_to camp_finances_overview_managers_finances_path, class: "grid-item" do %>
      <div class="card-academy card-admin" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path 'categories.jpeg' %>')">
        SUIVI STAGES
      </div>
    <% end %>
  </div>
</div>
