<section id="no-user">

  <div class="bg-white container-sm p-3 rounded-3">
    <%= link_to "Retour", parents_profile_path, class: "text-white" %>
    <h1 class="header-info mb-3">
      Modifier mon profil
    </h1>

      <%= simple_form_for @parent_profile, url: parents_profile_path do |f| %>
        <div class="form-inputs">

          <%= f.input :gender, label: "Genre", collection: ["Homme", "Femme", "Autre"], include_blank: false %>
          <%= f.input :relationship_to_child, label: "Relation avec l'enfant", collection: ["Père", "Mère", "Tuteur", "Autre"], include_blank: false, as: :select %>

          <%= f.input :phone_number, label: "Numéro de téléphone", placeholder: "06 12 34 56 78" %>
          <%= f.input :address, label: "Adresse", placeholder: "12 rue de la Paix" %>
          <%= f.input :zipcode, label: "Code postal", placeholder: "75000" %>
          <%= f.input :city, label: "Ville", placeholder: "Paris" %>
          <%= f.input :has_newsletter, label: "Je souhaite recevoir la newsletter", as: :boolean %>

          <div class="row">
            <div class="col-md-6 text-center">
              <%= link_to "Retour", parents_profile_path, class: "btn btn-outline-secondary" %>
            </div>
            <div class="col-md-6 text-center">
              <%= f.submit "Modifier", class: "btn btn-primary" %>
            </div>
          </div>

        </div>
      <% end %>

  </div>
</section>
