<div class="student-title"><%= @student.last_name %> - <%= @student.first_name %></div>
<div class="yellow-title">AJOUTER UN FEEDBACK</div>

<div class="container flexy">
  <div class="feedback-container">
    <%= form_with(model: @feedback, url: coaches_feedbacks_path, local: true) do |form| %>
      <%= form.hidden_field :student_id, value: params[:student_id] %>
      <div class="form-group">
        <%= form.text_area :content, class: "form-control", placeholder: "Ecrivez votre commentaire ici..." %>
      </div>
      <div class="flexy">
        <%= form.submit "Valider", class: "btn-etendart" %>
      </div>
    <% end %>
  </div>
</div>
