<div id="no-user" class="row">
  <div class="devise-edit-form">
    <h2 class="header-info mb-3">Réinitialisation du mot de passe</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="flex-btn">
          <%= f.button :submit, "Envoyer le lien", class: "btn-etendart" %>
          <%= link_to "Annuler", root_path, class: "btn-etendart-black" %>
        </div>
    <% end %>
  </div>
</div>
