<table class="table table-striped table-responsive table-center form-container" data-search-coach-target="list">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Cat 1</th>
        <th>Cat 2</th>
        <th>Cat 3</th>
        <th>Cat 4</th>
        <th>Cat 5</th>
        <th>Acad 1</th>
        <th>Acad 2</th>
        <th>Acad 3</th>
      </tr>
    </thead>
    <tbody>
      <% @coaches.each do |coach| %>
        <tr class="clickable-tr" onclick="window.location.href='<%= managers_coach_path(coach, academy_id: @academy.id) %>'">
          <td><%= coach.last_name %></td>
          <td><%= coach.first_name %></td>
          <td><%= coach.categories[0]&.name %></td>
          <td><%= coach.categories[1]&.name %></td>
          <td><%= coach.categories[2]&.name %></td>
          <td><%= coach.categories[3]&.name %></td>
          <td><%= coach.categories[4]&.name %></td>
          <td><%= coach.academies_as_coach.first.name %></td>
          <td><%= coach.academies_as_coach.second.name if coach.academies_as_coach.second %></td>
          <td><%= coach.academies_as_coach.third.name if coach.academies_as_coach.third %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
