<h1>Changer le mot de passe</h1>

<%= form_for @coach, url: user_password_path(@coach), method: :put do |f| %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Changer le mot de passe" %>
  </div>
<% end %>
