<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">LES COACHS</div>
</div>
<div class="yellow-title">LES COACHS</div>
<div class="container flexy">
  <%= link_to new_managers_coach_path(academy_id: @academy.id), class: 'btn-etendart-square mt-0' do %>
    <i class="fa-solid fa-square-plus"></i> AJOUTER <i class="fa-solid fa-square-plus"></i>
  <% end %>
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Categorie 1</th>
        <th>Categorie 2</th>
        <th>Categorie 3</th>
        <th>Académie 1</th>
        <th>Académie 2</th>
        <th>Académie 3</th>
      </tr>
    </thead>
    <tbody>
      <% @coaches.each do |coach| %>
        <tr class="clickable-tr" onclick="window.location.href='<%= managers_coach_path(coach, academy_id: @academy.id) %>'">
          <td><%= coach.last_name %></td>
          <td><%= coach.first_name %></td>
          <td><%= coach.email %></td>
          <td><%= coach.categories[0].name if coach.categories.present? %></td>
          <td><%= coach.categories[1].name if coach.categories[1] %></td>
          <td><%= coach.categories[2].name if coach.categories[2] %></td>
          <td><%= coach.academies_as_coach.first.name %></td>
          <td><%= coach.academies_as_coach.second.name if coach.academies_as_coach.second %></td>
          <td><%= coach.academies_as_coach.third.name if coach.academies_as_coach.third %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
