<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">LES COACHS</div>
</div>
<div class="yellow-title">LES COACHS</div>
<div class="container" data-controller="search-coach" data-search-coach-academy-id-value="<%= @academy.id  %>">
  <div class="student-list-header mt-2 mb-3">
    <div  style="width:350px">
      <%= form_with url: managers_coaches_path, method: :get, html: { class: "d-flex" } do |f| %>
        <%= f.text_field :query,
              class: "student-input-search",
              placeholder: "Rechercher par catégorie, académie...",
              value: params[:query],
              data: {
                search_coach_target: "input",
                action: "keyup->search-coach#update"
              },
              autofocus: false %>
      <% end %>
    </div>
      <%= link_to new_managers_coach_path(academy_id: @academy.id), class: 'btn-add-student mt-0' do %>
        <i class="fa-solid fa-square-plus fa-square-bigger"></i> AJOUTER <i class="fa-solid fa-square-plus fa-square-bigger"></i>
      <% end %>
  </div>
  <%= render "list", coaches: @coaches %>
  <div class="flexy mb-3">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
