<h1>Ajouter un coach</h1>

<%= form_with(model: @coach, url: managers_coaches_path, method: :post, class: "form") do |form| %>
  <%= form.label :email, "Email :" %>
  <%= form.email_field :email, class: "form-control" %>

  <%= form.label :first_name, "Prénom :" %>
  <%= form.text_field :first_name, class: "form-control" %>

  <%= form.label :last_name, "Nom :" %>
  <%= form.text_field :last_name, class: "form-control" %>

  <%= form.label :academy_1_id, "Académie 1 :" %>
  <%= form.collection_select :academy_1_id, @academies, :id, :name, { include_blank: true }, {class: "form-control"} %>

  <%= form.label :academy_2_id, "Académie 2 (optionnel) :" %>
  <%= form.collection_select :academy_2_id, @academies, :id, :name, { include_blank: true }, {class: "form-control"} %>

  <%= form.label :category_1_id, "Catégorie 1 :" %>
  <%= form.collection_select :category_1_id, @categories, :id, :name, { include_blank: true }, {class: "form-control"} %>

  <%= form.label :category_2_id, "Catégorie 2 (optionnel) :" %>
  <%= form.collection_select :category_2_id, @categories, :id, :name, { include_blank: true }, {class: "form-control"} %>

  <%= form.submit "Créer", class: "btn btn-primary" %>
<% end %>
