<% if current_user.admin? %>
  <div class="header text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= display_academy_image(@academy) %>')">
    <h5 class="mb-0"><%= @academy.name.upcase %></h5>
  </div>
<% else %>
  <%= link_to managers_academy_path(@academy) do %>
    <div class="header text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= display_academy_image(@academy) %>')">
     <h5 class="mb-0"><%= @academy.name.upcase %></h5>
    </div>
  <% end %>
<% end %>
