<nav class="navbar" data-controller="navbar" data-navbar-target="navbar">
  <%= link_to "Etendart", "/", class: "navbar-brand" %>
  <button class="navbar-toggle" data-navbar-target="navbarToggle" data-action="click->navbar#displayMenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse" data-navbar-target="navbarCollapse">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "DASHBOARD", "/", class: "nav-link" %>
        </li>
        <% if current_user.coach? %>
        <ul class="dashboard-details">
          <li class="nav-item nav-item-small">
            <%= link_to "MES ÉLÈVES", "#", class: "nav-link nav-link-small" %>
          </li>
          <li class="nav-item nav-item-small">
            <%= link_to "MES COURS", "#", class: "nav-link nav-link-small" %>
          </li>
          <li class="nav-item nav-item-small">
            <%= link_to "MES RÉUNIONS", "#", class: "nav-link nav-link-small" %>
          </li>
        </ul>
        <% end %>
        <li class="nav-item">
          <%= link_to "MON PROFIL", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SE DÉCONNECTER", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link"  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "SE CONNECTER", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
