<nav class="navbar navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Etendart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Etendart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="">

          <li class="nav-item">
            <%= link_to root_path, class: "nav-link active" do %>
              <span>
                Accueil
              </span>
              <i class="fa-solid fa-home"></i>
            <% end %>
          </li>

          <hr>

          <li class="nav-item">
            <%= link_to parents_academies_path, class: "nav-link active" do %>
              <span>
                Inscription aux stages
              </span>
              <i class="fa-solid fa-school"></i>
            <% end %>
          </li>

          <hr>


          <li class="nav-item">
            <%= link_to commerce_cart_path, class: "nav-link active" do %>
              Mon Panier <i class="fa-solid fa-shopping-cart"></i>
              <span class="">
                <%= current_user.carts.current_cart_for(current_user).cart_items.length if current_user.carts.current_cart_for(current_user).cart_items.any? %>
              </span>
            <% end %>
          </li>

          <hr>

          <li class="nav-item">
            <%= link_to parents_children_path, class: "nav-link active" do %>

              <span>
                Mes Enfants
              </span>
              <i class="fa-solid fa-children"></i>
            <% end %>
          </li>

          <hr>

          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "nav-link active" do %>
              <span>
                Mon Compte
              </span>
              <i class="fa-solid fa-user-edit"></i>
            <% end %>
          </li>

          <hr>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link active" do %>
              <span>
                Déconnexion
              </span>
              <i class="fa-solid fa-sign-out"></i>
            <% end %>
          </li>
          <%# <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> %>

        </ul>

      </div>
    </div>
  </div>
</nav>
