<%= turbo_frame_tag "selected_academy" do %>
  <div class="row justify-content-center align-items-stretch">
    <div class="col-lg-11 col-sm-12 mb-2">
      <div class="black-title yellow-title-border-top mb-0"><%= academy.name.upcase %></div>
      <div class="content-info">
        <table class="table table-responsive table-center table-striped table-align-middle">
          <thead>
            <tr>
              <th style="min-width:200px">Période</th>
              <th>Revenu attendu</th>
              <th>Perçu par les coachs</th>
              <th>Déposé par les coachs</th>
              <th>En attente de dépôt</th>
              <th>En attente de paiement élève</th>
              <th>Prix du stage</th>
              <th>Nb élèves présents</th>
              <th>Ayant payé (présents)</th>
              <% if academy == Academy.find_by(name: "Djokovic") %>
                <th>N'ayant pas payé (présents) <br> (dont Clarisse) </th>
              <% else %>
                <th>N'ayant pas payé (présents)</th>
              <% end %>
              <th>Ayant payé (absents)</th>
            </tr>
          </thead>
          <tbody>
            <% academy.school_periods.includes(:camps, :camp_enrollments).where(paid: true, new: true).order(created_at: :desc).each do |school_period| %>
                <% expected_revenue = school_period.expected_revenue %>
                <% received_revenue = school_period.received_revenue %>
                <% total_old_camp_deposits = school_period.total_old_camp_deposits %>
                <% camp_enrollments = school_period.camp_enrollments %>
              <tr class="clickable-tr" onclick="window.location.href='<%=  show_school_period_managers_finance_path(school_period) %>'">
                <td style="min-width:200px"><%= school_period.full_name %> </td>
                <td><%= replace_zero_with_dash(expected_revenue) %></td>
                <td><%= replace_zero_with_dash(received_revenue) %></td>
                <td><%= replace_zero_with_dash(total_old_camp_deposits) %></td>
                <td style="<%= (received_revenue - total_old_camp_deposits) != 0 ? 'color:red;' : '' %>"><%= replace_zero_with_dash(received_revenue - total_old_camp_deposits) %></td>
                <td style="<%= expected_revenue - received_revenue != 0 ? 'color:red;' : '' %>"><%= replace_zero_with_dash(expected_revenue - received_revenue) %></td>
                <td><%= school_period.price %>€</td>
                <td><%= camp_enrollments.attended.count %></td>
                <td><%= camp_enrollments.attended.paid.count%></td>
                <% if school_period.free_judo == true %>
                  <td><%= camp_enrollments.attended.unpaid.count %> (<%= school_period.student_with_judo_count %>) </td>
                <% else %>
                  <td><%= camp_enrollments.attended.unpaid.count %></td>
                <% end %>
                <td><%= replace_zero_with_dash(camp_enrollments.unattended.paid.count, false) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
