<div class="row justify-content-center align-items-stretch">
  <% @academies.each do |academy| %>
    <div class="col-lg-10 col-sm-12 mb-4 mt-4">
      <div class="yellow-title mb-0"><%= academy.name.upcase %></div>
      <div class="content-info">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Période</th>
              <th>Stage</th>
              <th>Revenu attendu</th>
              <th>Revenu perçu</th>
              <th>Revenu manquant</th>
              <th>Prix du stage</th>
              <th>Nb élèves présents</th>
              <th>Ayant payé</th>
              <th>N'ayant pas payé</th>
            </tr>
          </thead>
          <tbody>
            <% academy.school_periods.where(paid: true).order(created_at: :desc).each do |school_period| %>
              <% total_expected = 0 %>
              <% total_received = 0 %>
              <% total_missing = 0 %>
              <% total_present = 0 %>
              <% total_paid = 0 %>
              <% total_unpaid = 0 %>
              <% school_period.camps.each do |camp| %>
                <% total_expected += camp.expected_revenue %>
                <% total_received += camp.received_revenue %>
                <% total_missing += camp.missing_revenue %>
                <% total_present += camp.show_count %>
                <% total_paid += camp.camp_enrollments.where(has_paid: true).count %>
                <% total_unpaid += (camp.show_count - camp.camp_enrollments.where(has_paid: true).count) %>
                <tr>
                  <% if school_period.camps.first == camp %>
                    <td><%= school_period.full_name %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td><%= camp.name %></td>
                  <td><%= camp.expected_revenue %>€</td>
                  <td><%= camp.received_revenue %>€</td>
                  <td><%= camp.missing_revenue %>€</td>
                  <td><%= camp.school_period.price %>€</td>
                  <td><%= camp.show_count %></td>
                  <td><%= camp.camp_enrollments.where(has_paid: true).count %></td>
                  <td><%= camp.show_count - camp.camp_enrollments.where(has_paid: true).count %></td>
                </tr>
              <% end %>
              <!-- Correction de la ligne de total pour la période scolaire -->
              <tr style="font-weight: bold;background-color:#e3e3e3">
                <td colspan=2>Total <%= school_period.full_name %> </td>
                <td><%= total_expected %>€</td>
                <td><%= total_received %>€</td>
                <td><%= total_missing %>€</td>
                <td><%= school_period.price %>€</td>
                <td><%= total_present %></td>
                <td><%= total_paid %></td>
                <td><%= total_unpaid %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
