<div class="row justify-content-center align-items-stretch">
  <% @academies.each do |academy| %>
    <div class="col-lg-10 col-sm-12 mb-4 mt-4">
      <div class="yellow-title mb-0"><%= academy.name.upcase %></div>
      <div class="content-info">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="align-middle" style="max-width:100px">Période</th>
              <th class="align-middle" style="text-align:right">Stage</th>
              <th class="align-middle text-center">Revenu<br>attendu</th>
              <th class="align-middle text-center">Revenu<br>perçu</th>
              <th class="align-middle text-center">Revenu<br>manquant</th>
              <th class="align-middle text-center">Dont Clarisse</th>
              <th class="align-middle text-center">Prix du<br>stage</th>
              <th class="align-middle text-center">Nb élèves<br>présents</th>
              <th class="align-middle text-center">Ayant<br>payé</th>
              <th class="align-middle text-center">N'ayant<br>pas payé</th>
            </tr>
          </thead>
          <tbody>
            <% academy.school_periods.where(paid: true).order(created_at: :desc).each do |school_period| %>
              <% total_expected = 0 %>
              <% total_received = 0 %>
              <% total_missing = 0 %>
              <% total_present = 0 %>
              <% total_paid = 0 %>
              <% total_unpaid = 0 %>
              <% school_period.camps.each do |camp| %>
                <% total_expected += camp.expected_revenue %>
                <% total_received += camp.received_revenue %>
                <% total_missing += camp.missing_revenue %>
                <% total_present += camp.show_count %>
                <% total_paid += camp.camp_enrollments.where(has_paid: true).count %>
                <% total_unpaid += (camp.show_count - camp.camp_enrollments.where(has_paid: true).count) %>
                <tr>
                  <%# if school_period.camps.first == camp %>
                    <td style="max-width:100px"><%= school_period.full_name %></td>
                  <%# else %>
<!--                    <td></td>-->
                  <%# end %>
                  <td style="text-align:right"><%= camp.name %></td>
                  <td class="text-center"><%= camp.expected_revenue %>€</td>
                  <td class="text-center"><%= camp.received_revenue %>€</td>
                  <td class="text-center"><%= camp.missing_revenue %>€</td>
                  <td class="text-center"><%= camp.student_without_tennis.count %>€</td>
                  <td class="text-center"><%= camp.school_period.price %>€</td>
                  <td class="text-center"><%= camp.show_count %></td>
                  <td class="text-center"><%= camp.camp_enrollments.where(has_paid: true).count %></td>
                  <td class="text-center"><%= camp.show_count - camp.camp_enrollments.where(has_paid: true).count %></td>
                </tr>
              <% end %>
              <tr style="font-weight: bold;background-color:#e3e3e3">
                <td colspan=2 style="text-align:right;max-width:150px">Total <%= school_period.full_name %> </td>
                <td class="text-center"><%= total_expected %>€</td>
                <td class="text-center"><%= total_received %>€</td>
                <td class="text-center"><%= total_missing %>€</td>
                <td class="text-center"><%= school_period.price %>€</td>
                <td class="text-center"><%= total_present %></td>
                <td class="text-center"><%= total_paid %></td>
                <td class="text-center"><%= total_unpaid %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
