<div class="row justify-content-center align-items-stretch" data-controller="clickable-table">
    <div class="col-lg-12 col-sm-12 mb-4 mt-4">
      <div class="black-title yellow-title-border-top mb-0"><%= @school_period.academy.name.upcase %> - <%= @school_period.full_name.upcase %></div>
      <div class="content-info">
        <table class="table table-responsive table-center table-align-middle table-striped">
          <thead>
            <tr>
              <th style="text-align:right">Stage</th>
              <th>Revenu attendu (hors offert)</th>
              <th>Perçu par les coachs</th>
              <th>Déposé par les coachs</th>
              <th>En attente de dépôt</th>
              <th>En attente de paiement élève</th>
              <th>Prix du stage</th>
              <th>Nb élèves présents</th>
              <th>Ayant payé (présents)</th>
              <% if @school_period.academy == Academy.find_by(name: "Djokovic") %>
                <th>N'ayant pas payé (présents) <br> (dont Clarisse) </th>
              <% else %>
                <th>N'ayant pas payé (présents)</th>
              <% end %>
              <th>Ayant payé (absents)</th>
              <% if !@school_period.camps.first.new && (current_user.manager? || current_user.coordinator?) %>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @school_period.camps.each do |camp| %>
                <tr class="<%= 'clickable-tr' if camp.new %>" data-clickable-table-target="<%= 'clickable' if camp.new %>" data-url="<%= show_camp_managers_finance_path(camp) if camp.new %>">
                  <td style="text-align:right"><%= camp.name %></td>
                  <% expected_revenue = camp.expected_revenue %>
                  <td><%= replace_zero_with_dash(expected_revenue) %></td>
                  <td><%= replace_zero_with_dash(camp.total_received_revenue) %></td>
                  <% if camp.new? %>
                    <% deposit_amount =
                        camp.camp_deposits.sum(:cash_amount) +
                        camp.camp_deposits.sum(:cheque_amount) +
                        camp.camp_enrollments.paid.where.not(payment_method: ["cash", "cheque", "offert"]).count * @price %>
                  <% else %>
                    <% deposit_amount = camp.old_camp_deposits.sum(:amount) %>
                  <% end %>
                  <td><%= replace_zero_with_dash(deposit_amount) %></td>
                  <td style="<%= (camp.total_received_revenue - deposit_amount) != 0 ? 'color:red;' : '' %>"><%= replace_zero_with_dash(camp.total_received_revenue - deposit_amount) %></td>
                  <td style="<%= (expected_revenue - camp.total_received_revenue) != 0 ? 'color:red;' : '' %>"><%= replace_zero_with_dash(expected_revenue - camp.total_received_revenue) %></td>
                  <td><%= replace_zero_with_dash(camp.school_period.price) %></td>
                  <td><%= replace_zero_with_dash(camp.show_count, false) %></td>
                  <td><%= replace_zero_with_dash(camp.paid_students_count, false) %></td>
                  <% if camp.school_period.free_judo == true %>
                    <td><%= replace_zero_with_dash(camp.unpaid_students_count , false)%> (<%= replace_zero_with_dash(camp.present_students_with_free_judo_count, false) %>)</td>
                  <% else %>
                    <td><%= replace_zero_with_dash(camp.unpaid_students_count, false) %></td>
                  <% end %>
                  <td><%= replace_zero_with_dash(camp.absent_paid_students_count, false) %></td>
                    <% if !camp.new && (current_user.manager? || current_user.coordinator?) %>
                    <td>
                      <button type="button" style="margin:0" class="btn-etendart-yellow" data-bs-toggle="modal" data-bs-target="#modal-<%= camp.id %>">
                        Déposer
                      </button>
                      <div class="modal fade" id="modal-<%= camp.id %>" tabindex="-1" aria-labelledby="modalLabel-<%= camp.id %>" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content" style="width:80%;padding:0px">
                            <div class="modal-header modal-header-deposit">
                              <h1 class="modal-title fs-5" id="modalLabel-<%= camp.id %>"><%= camp.name %> le <%= l(Date.current, format: :default) %></h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <%= form_for OldCampDeposit.new, url: managers_old_camp_deposits_path(camp: camp) do |f| %>
                                <%= f.hidden_field :camp_id, value: camp.id %>
                                <div class="mb-3 row align-items-center">
                                  <%= f.label :amount, "Montant déposé (€) :", class: "col-5" %>
                                  <%= f.number_field :amount, class: "form-deposit col-4" %>
                                </div>
                                <div class="modal-footer d-flex justify-content-around">
                                  <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
                                  <div>
                                    <%= f.submit "Valider", class: "btn-add-student btn-add-student-small" %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <% if !@school_period.camps.first.new %>
      <div class="col-lg-12 col-sm-12 mb-4 mt-4">
        <div class="yellow-title mb-0">DERNIERS DÉPÔTS</div>
        <div class="content-info">
          <table class="table table-responsive table-center table-align-middle table-striped">
            <thead>
              <tr>
                <th style="text-align:right">Stage</th>
                <th>Montant</th>
                <th>Déposé le</th>
                <th>Par</th>
              </tr>
            </thead>
            <tbody>
              <% @school_period.old_camp_deposits.order(date: :desc).each do |deposit| %>
                  <tr>
                    <td style="text-align:right"><%= deposit.camp.name %></td>
                    <td><%= deposit.amount %>€</td>
                    <td><%= l(deposit.date, format: :default) %></td>
                    <td><%= deposit.manager.full_name %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
</div>
