<div class="yellow-title mb-3"><%= "#{@academy.name} - #{@school_period.name} - #{@camp.name}" %></div>
<div class="row justify-content-center align-items-stretch">
  <div class="col-lg-6 col-sm-12">
    <div class="header-info">Global</div>
    <div class="content-info">
      <table class="table table-center table-border-vertical table-align-middle">
        <thead>
          <tr>
            <th class="top-left-th"></th>
            <th class="text-center">Revenu attendu (hors offert)</th>
            <th class="text-center">Payé par les élèves</th>
            <th class="text-center">En attente de paiement élève</th>
            <th class="text-center">Offert</th>
            <th class="text-center">Montant déposé par les coachs</th>
            <th class="text-center">Montant en attente de dépôt coach</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:right;font-weight:700">Nombre d'élèves</td>
            <td><%= replace_zero_with_dash(@camp.expected_count_revenue, false) %></td>
            <td><%= replace_zero_with_dash(@paid_camp_enrollments_excluding_offer, false) %></td>
            <td style="<%= "color:red" if @unpaid_camp_enrollments.count > 0  %>"><%= replace_zero_with_dash(@unpaid_camp_enrollments.count, false) %></td>
            <td><%= replace_zero_with_dash(@offered_camp_enrollments_count, false) %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align:right;font-weight:700">Montant</td>
            <td><%= replace_zero_with_dash(@camp.expected_revenue) %></td>
            <td><%= replace_zero_with_dash(@paid_camp_enrollments_excluding_offer * @price) %></td>
            <td style="<%= "color:red" if @unpaid_camp_enrollments.count > 0  %>"><%= replace_zero_with_dash(@unpaid_camp_enrollments.count * @price) %></td>
            <td><%= replace_zero_with_dash(@offered_camp_enrollments_count * @price) %></td>
            <td><%= replace_zero_with_dash(@camp_deposits_amount) %></td>
            <td style="<%= "color:red" if (@paid_camp_enrollments_excluding_offer * @price - @camp_deposits_amount) > 0  %>"><%= replace_zero_with_dash(@paid_camp_enrollments_excluding_offer * @price - @camp_deposits_amount) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12">
    <div class="header-info">DÉTAILS PAR MOYEN DE PAIEMENT</div>
    <div class="content-info">
      <table class="table table-center table-border-vertical table-align-middle">
        <thead>
          <tr>
            <th>Total Reçu</th>
            <th>Cash</th>
            <th>Chèque</th>
            <th>Hello Asso</th>
            <th>Pass</th>
            <th>Virement</th>
            <th>Offert</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><%= replace_zero_with_dash(@paid_camp_enrollments_excluding_offer * @price) %></strong></td>
            <% CampEnrollment::PAYMENT_METHODS.compact.each do |method| %>
              <td><%= replace_zero_with_dash(@paid_camp_enrollments.where(payment_method: method).count * @price) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-10 col-sm-12 mt-4">
    <div class="header-info">DÉTAILS PAR UTILISATEUR</div>
    <div class="content-info">
      <table class="table table-center table-striped table-border-vertical table-align-middle">
        <thead>
          <tr>
            <th rowspan="2"></th>
            <th colspan="3">Total</th>
            <th colspan="3">Cash</th>
            <th colspan="3">Chèque</th>
            <th rowspan="2">Offert</th>
            <th rowspan="2">Dernier Dépôt</th>
            <% if current_user.manager? || current_user.coordinator? %>
              <th rowspan="2"></th>
            <% end %>
          </tr>
          <tr>
            <th style="border-left:1px solid #dee2e6">Reçu</th>
            <th>Déposé</th>
            <th>En attente</th>
            <th>Reçu</th>
            <th>Déposé</th>
            <th>En attente</th>
            <th>Reçu</th>
            <th>Déposé</th>
            <th>En attente</th>
          </tr>
        </thead>
        <tbody>
          <% @revenue_by_user.each do |receiver_id, total_received| %>
            <% receiver = User.find_by(id: receiver_id) %>
            <tr>
              <td><%= receiver&.full_name || "Utilisateur inconnu" %></td>
              <!-- Total columns (Reçu, Déposé, En attente de dépôt) -->
              <% cash_deposit = receiver.camp_deposits_as_depositor.where(camp: @camp).sum(:cash_amount) || 0 %>
              <% cheque_deposit = receiver.camp_deposits_as_depositor.where(camp: @camp).sum(:cheque_amount) || 0 %>
              <% total_deposit = cash_deposit + cheque_deposit %>
              <td><strong><%= replace_zero_with_dash(total_received) %></strong></td>
              <td><strong><%= replace_zero_with_dash(total_deposit) %></strong></td>
              <td style="<%= (total_received - total_deposit) != 0 ? 'color:red;' : '' %>"><strong><%= replace_zero_with_dash(total_received - total_deposit) %></strong></td>
              <!-- Cash -->
              <% cash_received = @payment_details_by_user[[receiver_id, "cash"]] || 0 %>
              <td><%= replace_zero_with_dash(cash_received) %></td>
              <td><%= replace_zero_with_dash(cash_deposit) %></td>
              <td style="<%= (cash_received - cash_deposit) != 0 ? 'color:red;' : '' %>"><%= replace_zero_with_dash(cash_received - cash_deposit)  %></td>
              <!-- Cheque -->
              <% cheque_received = @payment_details_by_user[[receiver_id, "cheque"]] || 0 %>
              <td><%= replace_zero_with_dash(cheque_received) %></td>
              <td><%= replace_zero_with_dash(cheque_deposit) %></td>
              <td style="<%= (cheque_received - cheque_deposit) != 0 ? 'color:red;' : '' %>"><%= replace_zero_with_dash(cheque_received - cheque_deposit) %></td>
              <!-- Others -->
              <td><%= replace_zero_with_dash(@payment_details_by_user[[receiver_id, "offert"]] || 0) %></td>
              <!-- Last deposit -->
              <td><%=  %></td>
              <% if current_user.manager? || current_user.coordinator? %>
                <td>
                  <button type="button" style="margin:0" class="btn-etendart-yellow" data-bs-toggle="modal" data-bs-target="#modal-<%= receiver.id %>">
                    Déposer
                  </button>
                  <div class="modal fade" id="modal-<%= receiver.id %>" tabindex="-1" aria-labelledby="modalLabel-<%= receiver.id %>" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content" style="width:80%;padding:0px">
                        <div class="modal-header modal-header-deposit">
                          <h1 class="modal-title fs-5" id="modalLabel-<%= receiver.id %>"><%= receiver.full_name %> le <%= l(Date.current, format: :default) %></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <%= form_for CampDeposit.new, url: managers_camp_deposits_path do |f| %>
                            <%= f.hidden_field :depositor_id, value: receiver.id %>
                            <%= f.hidden_field :camp_id, value: @camp.id %>
                            <div class="mb-3 row align-items-center">
                              <%= f.label :cash_amount, "Espèces (€) :", class: "col-5" %>
                              <%= f.number_field :cash_amount, class: "form-deposit col-4" %>
                            </div>
                            <div class="mb-3 row align-items-center">
                              <%= f.label :cheque_amount, "Chèque (€) :", class: "col-5"%>
                              <%= f.number_field :cheque_amount, class: "form-deposit col-4"%>
                            </div>
                            <div class="modal-footer d-flex justify-content-around">
                              <button type="button" class="btn-add-student btn-add-student-small btn-add-student-grey" data-bs-dismiss="modal">Annuler</button>
                              <div>
                                <%= f.submit "Valider", class: "btn-add-student btn-add-student-small" %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-10 col-sm-12 mt-4">
    <div class="header-info">DERNIERS DÉPÔTS</div>
    <div class="content-info">
      <table class="table table-striped table-align-middle">
        <thead>
          <tr>
            <th>Déposant</th>
            <th>Fait à</th>
            <th>Total</th>
            <th>Espèces</th>
            <th>Chèque</th>
            <th>Date du dépôt</th>
          </tr>
        </thead>
        <tbody>
          <% @camp.camp_deposits.reverse.each do |deposit| %>
            <tr>
              <td><%= deposit.depositor.full_name %></td>
              <td><%= deposit.manager.full_name %></td>
              <td><%= replace_zero_with_dash((deposit.cash_amount || 0) + (deposit.cheque_amount || 0)) %></td>
              <td><%= replace_zero_with_dash(deposit.cash_amount || 0) %></td>
              <td><%= replace_zero_with_dash(deposit.cheque_amount || 0) %></td>
              <td><%= l(deposit.date, format: :default) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if @camp_enrollments.any? %>
    <div class="col-lg-10 col-sm-12 mt-4" data-controller="clickable-table">
      <div class="header-info">LES ÉLÈVES</div>
      <div class="card-row-container card-row-container-no-padding">
        <div class="row pb-2 pt-2 header-row align-items-center">
          <div class="col-2 flexy-row">Nom</div>
          <div class="col-2 flexy-row">Prénom</div>
          <div class="col-2 flexy-row">Stage</div>
          <div class="col-1 flexy-row small-col">Prix</div>
          <div class="col-1 flexy-row medium-col text-wrap">Date du paiement</div>
          <div class="col-1 flexy-row medium-col text-wrap">Mode de paiement</div>
          <div class="col-2 flexy-row">Reçu par</div>
          <div class="col-1 flexy-row small-col">Statut</div>
        </div>
          <% @camp_enrollments.sort_by { |camp_enrollment| camp_enrollment.student.last_name.downcase }.each_with_index do |camp_enrollment, index| %>
            <%= render "managers/camp_enrollments/student", camp_enrollment: camp_enrollment, students_with_free_judo: @students_with_free_judo, index: index, reload: true %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
