

<%# Section avec titre et background avec image opaque avec class bootstrap %>
  <section class="bg-image text-black text-center py-5">
    <h1 class="text-center my-3">
      Etendart Academy, c'est l'association qui favorise le développement personnel des jeunes grâce à l'initiation au sport et aux arts.
    </h1>
  </section>

  <%# section "Notre approche" en parlant des projets et de la philosophie. bg-white avec 6 cards %>

  <section class="bg-white py-5 rounded-top-5">
    <div class="container">
      <h2>
        Notre approche
      </h2>
      <p>
        Tous nos projets combinent:
      </p>

      <div class="row">

        <div class="col-md-2">
          <%= render "pages/components/card",
          src: "home/card-1.jpg",
          h3: "L'inspiration",
          p: "Par une infrastructure, un parrain, des expériences pédagogiques" %>
        </div>

        <div class="col-md-2">
          <%= render "pages/components/card",
          src: "home/card-2.jpg",
          h3: "Un sport",
          p: "pilier de nos projets comme vecteur de développement et de transmission" %>
        </div>

        <div class="col-md-2">
          <%= render "pages/components/card",
          src: "home/card-3.jpg",
          h3: "Des activités artistiques",
          p: "par une infrastructure, un parrain, des expériences pédagogiques" %>
        </div>

        <div class="col-md-2">
          <%= render "pages/components/card",
          src: "home/card-4.jpg",
          h3: "Un format d'expérience",
          p: "stages, programmes annuels ou événements" %>
        </div>

        <div class="col-md-2">
          <%= render "pages/components/card",
          src: "home/card-5.JPG",
          h3: "Un projet éducatif",
          p: "chaque activité permet de travailler des axes de développement personnel" %>
        </div>

        <div class="col-md-2">
          <%= render "pages/components/card",
          src: "home/card-6.jpg",
          h3: "Des valeurs",
          p: "mixité sociale, parité, fair-play et partage" %>
        </div>

      </div>
    </div>

  </section>

  <%# section "Programmation à venir sur l'ensemble des académies" %>

  <section class="bg-black text-white py-5 rounded-top-5">
    <div class="container">
      <h2 class="mb-3">
        Programmation à venir sur l'ensemble des académies
      </h2>

      <ul class="d-flex gap-3 mb-3 flex-wrap">
        <li class="rounded-pill bg-white text-black px-4 py-2">
          Clichy
        </li>
        <li class="rounded-pill bg-white text-black px-4 py-2">
          Levallois
        </li>
        <li class="rounded-pill bg-white text-black px-4 py-2">
          Paris IX
        </li>
        <li class="rounded-pill bg-white text-black px-4 py-2">
          Aubervilliers
        </li>
        <li class="rounded-pill bg-white text-black px-4 py-2">
          Saint-Quentin
        </li>
      </ul>

      <div class="bg-white py-5 rounded-3 text-black">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Académie</th>
              <th>Prochaines périodes</th>
              <th>Activités</th>
            </tr>
          </thead>
          <tbody>
            <% @academies.each do |academy| %>
              <tr>
                <td><%= academy.name %></td>
                <td>
                  <% academy.next_school_periods.each do |school_period|  %>
                    <%= school_period.name %> <%= school_period.year %>
                  <% end %>
                </td>
                <td>
                  <% academy.next_school_periods.each do |school_period|  %>
                    <% school_period.activities.each do |activity| %>
                      <%= activity.name %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </section>

  <%# section "Notre impact" %>

  <section class="bg-white py-5 rounded-top-5">
    <div class="container">
      <h2>
        <strong>
          Notre impact
        </strong>
      </h2>
      <p>
        Pour plus d'informations, <%= link_to "téléchargez notre rapport d'impact", "#", class: "link-underline-dark" %>
      </p>

      <div class="row">
        <div class="col-md-3">
          <div class="card rounded-5" style="background-color: yellow">
            <div class="card-body">
              <h3 class="card-title">
                11
              </h3>
              <p class="card-text">
                Académies Etendart dans 9 villes à travers la France
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card rounded-5" style="background-color: yellow">
            <div class="card-body">
              <h3 class="card-title">
                + DE 4500
              </h3>
              <p class="card-text">
                jeunes accompagnés depuis notre lancement
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card rounded-5" style="background-color: yellow">
            <div class="card-body">
              <h3 class="card-title">
                + DE 30
              </h3>
              <p class="card-text">
                activités artistiques, académiques
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card rounded-5" style="background-color: yellow">
            <div class="card-body">
              <h3 class="card-title">
                5
              </h3>
              <p class="card-text">
                SPORTS
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <section class="bg-white rounded-top-5">
    <%= image_tag "home/bg-section-experience.jpg", class: "w-100 object-fit-cover rounded-top-5", style: "height: 16rem" %>
  </section>

  <%# section "Tu veux participer ?" %>

  <section class="" style="background-color: #FFD700">
    <div class="container py-5">
      <h2 class="text-center mb-1">
        <strong>
          Tu veux participer à une de nos expériences ?
        </strong>
      </h2>
      <p class="text-center mb-3">
        Si tu as entre 8 et 17 ans, tu peux adhérer à Etendart Academy et avoir accès à nos programmes éducatifs près de chez toi.
      </p>

      <div class="text-center">
        <%= link_to "Adhérer", "#", class: "btn btn-dark rounded-4 px-5" %>
      </div>
    </div>
  </section>

  <%# section "Nous soutenir" %>

  <section class="bg-white rounded-top-5">
    <div class="container py-5">
      <h2>
        Nous soutenir
      </h2>

      <div class="row space-y-3">
        <div class="col-md-6">
          <div class="card rounded-5 bg-black border-0" style="height: 40rem">
            <%= image_tag "home/soutenir.jpg", class: "card-img-top rounded-top-5 h-50 object-fit-cover" %>
            <div class="card-body">
              <p class="card-text text-white p-3">
                Vous souhaitez soutenir notre association ? En effectuant un don, vous soutenez nos programmes éducatifs et le déploiement de nouvelles actions.
              </p>
              <div class="text-center">
                <%= link_to "Faire un don", "#", class: "btn btn-warning px-4 rounded-5" %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card rounded-5 bg-black border-0" style="height: 40rem">
            <%= image_tag "home/benevole.JPG", class: "card-img-top rounded-top-5 h-50 object-fit-cover" %>
            <div class="card-body">
              <p class="card-text text-white p-3">
                Vous souhaitez soutenir notre association ? En effectuant un don, vous soutenez nos programmes éducatifs et le déploiement de nouvelles actions.
              </p>
              <div class="text-center">
                <%= link_to "Faire un don", "#", class: "btn btn-warning px-4 rounded-5" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <%# section "Ils parlent d'Etendart Academy" %>

  <section class="bg-black rounded-top-5">
    <div class="container py-5">

      <h2 class="text-white mb-5">
        Ils parlent d'Etendart Academy
      </h2>

      <div class="row justify-content-center space-x-3 mb-3">

        <div class="col-md-5">
          <div class="card rounded-5 bg-white border-0">
            <div class="card-body p-4">
              <p class="card-text">
                "Mes filles Jamelia et Shaina ont adoré sortir et découvrir un autre univers, loin de leur département. Je ne les ai jamais vues autant motivées à se lever le matin !"
              </p>
              <p class="">
                <strong>Grégory</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card rounded-5 bg-white border-0">
            <div class="card-body p-4">
              <p class="card-text">
                "2ème session pour mon fils Melvin. A chaque fois il est super motivé et rentre plus que ravi. Bravo et merci pour ces stages qui apportent beaucoup aux jeunes."
              </p>
              <p class="">
                <strong>Krystel</strong>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center space-x-3">

        <div class="col-md-5">
          <div class="card rounded-5 bg-white border-0">
            <div class="card-body p-4">
              <p class="card-text">
                "Les stages sont biens, good vibes, il y a une bonne ambiance. On s'entend tous bien, petits et grands, on joue tous ensemble. Il n'y a pas de jugement."
              </p>
              <p class="">
                <strong></strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card rounded-5 bg-white border-0">
            <div class="card-body p-4">
              <p class="card-text">
                "Merci, mes enfants ont beaucoup aimé le stage et ils sont motivés pour les prochaines vacances. Merci aux animateurs !"
              </p>
              <p class="">
                <strong></strong>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section style="background: linear-gradient(to bottom, black 50%, white 50%)">
    <div class="container">
      <div class="card p-5 rounded-5" style="background-color: #FFD700">
        <h2 class="card-title">
          <strong>
            Suivez-nous !
          </strong>
        </h2>

        <p class="card-text">
          Restez informés de toutes nos actualités en nous suivant sur les réseaux sociaux.
        </p>

        <div id="social-media">
          <a href="#" class="btn btn-dark rounded-pill px-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="btn btn-dark rounded-pill px-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="btn btn-dark rounded-pill px-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="btn btn-dark rounded-pill px-4">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <%# section "Suivez-Nous" %>

  <footer class="bg-white py-5">
      <div class="row justify-content-center gap-5 gap-md-0">

        <div class="col-md-2 col-6 text-center">
          <%= image_tag "home/logos/LOGO_EA_MINI_NOIR.png", class: "w-50" %>
        </div>

        <div class="col-md-10">
          <div class="row gap-3 gap-md-0">

            <div class="col-md-3">
              <ul>
                <li>
                  <strong>
                    <%= link_to "APPROCHE", "#notre-approche", class: "text-decoration-underline" %>
                  </strong>
                </li>
                <li>
                  <strong>
                    <%= link_to "PROGRAMMATION", "#programmation", class: "text-decoration-underline" %>
                  </strong>
                </li>
                <li>
                  <strong>
                    <%= link_to "IMPACT", "#impact", class: "text-decoration-underline" %>
                  </strong>
                </li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul>
                <li>
                  <strong>
                    <%= link_to "ADHERER", "#adherer", class: "text-decoration-underline" %>
                  </strong>
                </li>
                <li>
                  <strong>
                    <%= link_to "FAIRE UN DON", "#don", class: "text-decoration-underline" %>
                  </strong>
                </li>
                <li>
                  <strong>
                    <%= link_to "CONTACT", "#contact", class: "text-decoration-underline" %>
                  </strong>
                </li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul>
                <li>
                  <strong>
                    <%= link_to "CONTACT", "#contact", class: "text-decoration-underline" %>
                  </strong>
                </li>
                <li>
                  <p>
                    <%= mail_to "contact@weareetendart.org" %>
                    <br>
                    <%= link_to "6 rue des Bateliers", "https://www.google.com/maps/place/6+Rue+des+Bateliers,+92110+Clichy", target: "_blank", class: "text-decoration-underline" %>
                    <br>
                    <%= link_to "92110 Clichy", "https://www.google.com/maps/place/6+Rue+des+Bateliers,+92110+Clichy", target: "_blank", class: "text-decoration-underline" %>
                  </p>
                </li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul>
                <li>
                  <strong>
                    <%= link_to "ILS NOUS SOUTIENNENT", "#soutien", class: "text-decoration-underline" %>
                  </strong>
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
  </footer>


  <!--
    <% @academies.each do |academy| %>
      <div class="academy">
        <%= link_to academy_path(academy) do %>

          <h2 class="my-3">
            <%= academy.name %>
          </h2>

          <div class="row">
            <% academy.next_school_periods.each do |school_period|  %>
              <div class="col-md-4 border p-3">
                <h3><%= school_period.name %> <%= school_period.year %></h3>

                <div class="row">

                  <% school_period.activities.each do |activity| %>
                    <div class="col-md-6">
                      <h4><%= activity.name %></h4>
                    </div>
                  <% end %>

                </div>


              </div>

            <% end %>
          </div>

        <% end %>
      </div>
    <% end %>
  -->
