<h1>MANAGER</h1>

<ul>
<li><%= link_to "Les academies", managers_academies_path %></li>
<li><%= link_to "Les cours", managers_courses_path %></li>
<li><%= link_to "Les categories d'activité", managers_categories_path %></li>
<li><%= link_to "Les coachs", managers_coaches_path %></li>
</ul>

<h1>COACH</h1>

<ul>
<li><%= link_to "Les cours", coaches_courses_path %></li>
</ul>
