<table class="table table-striped">
  <thead>
    <tr>
      <th class="align-middle">Académie</th>
      <th class="align-middle">Stage</th>
      <th class="align-middle d-none d-md-table-cell">Semaine</th>
      <th class="align-middle">Montant</th>
      <th class="align-middle d-none d-md-table-cell">Date du paiement</th>
      <th class="align-middle d-none d-md-table-cell">Mode de paiement</th>
      <th class="align-middle text-center">Payé ?</th>
    </tr>
  </thead>
  <tbody>
    <% camp_enrollments.each do |camp_enrollment| %>
    <%# permet d'afficher les stages payés ou en attente de paiement par l'enfant %>
    <tr>
      <td class="align-middle"><%= camp_enrollment.camp.academy.name %></td>
      <td class="align-middle d-table-cell d-md-none"><%= camp_enrollment.school_period.full_name_short %>-<%= camp_enrollment.camp.short_name %></td>
      <td class="align-middle d-none d-md-table-cell"><%= camp_enrollment.school_period.name %> <%= camp_enrollment.school_period.year %> </td>
      <td class="align-middle d-none d-md-table-cell"><%= camp_enrollment.camp.name %></td>
      <td class="align-middle"><%= "#{camp_enrollment.school_period.price} €" %></td>

      <% if camp_enrollment.paid? %>
        <td class="align-middle d-none d-md-table-cell"><%= camp_enrollment.payment_date.strftime("%d/%m/%Y") %></td>
        <td class="align-middle d-none d-md-table-cell"><%= camp_enrollment.payment_method %></td>
      <% else %>
        <td colspan="2" class="align-middle text-center d-none d-md-table-cell">
            En attente de paiement
        </td>
      <% end %>
      <td class="align-middle text-center">
        <% if camp_enrollment.paid %>
          <i class="fa-solid fa-circle-check text-success fa-small"></i>
        <% else %>
          <i class="fa-solid fa-circle-xmark fa-pink fa-big fa-small"></i>
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>
