<div class="bg-black text-white text-center p-3">
  HISTORIQUE
</div>

<div class="content-info content-info-show-student">
  <div>
    <p><%= "STAGES : #{child.camps_count}" %></p>
    <p><%= "PROGRAMMES : #{child.annual_programs_count}" %></p>
    <p><%= "COURS : #{child.past_courses_count}" %></p>
    <p><%= "ABSENCES: #{child.unattended_courses_count}" %></p>
    <p><%= "TAUX ABS : #{child.unattended_rate}%" %></p>
  </div>
</div>

<%# render "parents/children/components/historic-card", child: @child %>
