<section class="row">
  <div class="col-12 col-md-3 text-center mb-3 mb-md-0 d-flex justify-content-center align-items-center">
    <% if child.photo.key? %>
      <%= cl_image_tag child.photo_or_default,
              data: { upload_photo_target: "photo" },
              crop: "thumb",
              class: "avatar-parent",
              gravity: "face",
              width: 300,
              height: 300 %>
    <% else %>
      <i class="fa-solid fa-circle-user" style="font-size: 10rem"></i>
    <% end %>
  </div>
  <div class="col-12 col-md-9">
    <section class="row justify-content-center" id="infos-card">
      <div class="col-md-6 col-12">
        <ul class="card-text">
          <li class="d-flex align-items-center p-1">
            COTISANT <%= @start_year %>-<%= @start_year + 1 %>
            <% if child&.current_membership&.paid %>
              <i class="fa-solid fa-circle-check text-success fa-smal ms-2"></i>
            <% else %>
              <i class="fa-solid fa-circle-xmark fa-pink fa-big fa-small ms-2"></i>
            <% end %>
          </li>
          <li class="p-1 mt-1">
            <%= child.gender %> né(e) le <%= child.french_date_of_birth %>
          </li>
          <li class="p-1 mt-1">
                Droit à l'image : <%= child.has_consent_for_photos ? "Oui" : "Non" %>
          </li>
          <% if child.medical_treatment_description.present? %>
            <li class="p-1 mt-1">
              TRAITEMENT MEDICAL : <%= child.medical_treatment_description %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
  <div class="text-center mt-3">
    <%= link_to edit_parents_child_path(child), class: "btn btn-dark rounded-4 px-4 py-2" do %>
      Modifier
    <% end %>
  </div>
</section>
