<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">LES ADRESSES</div>
</div>
<div class="yellow-title">LES ADRESSES</div>
<div class="container" style="max-width:1000px">
  <div data-controller="hidden-forms">
    <div class="flexy">
      <button class="btn-etendart-square mt-0" data-action="click->hidden-forms#displayLocationForm"><i class="fa-solid fa-square-plus"></i> AJOUTER <i class="fa-solid fa-square-plus"></i></button>
        <%= simple_form_for(@location, method: :post, :url => managers_locations_path(academy: @academy), html: {class: "hidden-form form-container-hidden", style: "width: 500px;"}, data: { hidden_forms_target: "locationForm" }) do |form| %>
          <div class="form-group">
            <%= form.input :name, class: "form-control", label: "Nom", placeholder: "Terrain pricipal", required: true %>
          </div>

          <div class="form-group">
            <%= form.input :address,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none form-control"},
              label: "Adresse",
              required: true,
              placeholder: '12 rue Jean Jaurès',
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV['MAPBOX_API_KEY']}}
            %>
          </div>

          <div class="flex-btn">
            <%= form.submit "Valider", class: "btn-etendart" %>
            <button class="btn-etendart-black" data-action="click->hidden-forms#displayLocationForm" type="button">Annuler</button>
          </div>
        <% end %>
    </div>
  </div>
  <table class="table table-striped form-container table-center table-responsive">
    <thead>
      <tr>
        <th>Académie</th>
        <th>Nom</th>
        <th>Adresse</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr class="clickable-tr" onclick="window.location.href='<%= edit_managers_location_path(location, academy: @academy) %>'">
          <td><%= @academy.name %></td>
          <td><%= location.name %></td>
          <td><%= location.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
