<%= render "shared/academy_header" %>
<div class="yellow-title">Les adresses</div>
<div class="container">
  <table class="table table-striped form-container table-center table-responsive">
    <thead>
      <tr>
        <th>Académie</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Ville</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr class="clickable-tr" onclick="window.location.href='<%= edit_managers_academy_location_path(@academy, location) %>'">
          <td><%= @academy.name %></td>
          <td><%= location.name %></td>
          <td><%= location.address %></td>
          <td><%= location.zipcode %></td>
          <td><%= location.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div data-controller="hidden-forms">
    <div class="flexy">
      <button class="btn btn-primary" id="add-location-btn">Ajouter une adresse</button>
        <%= simple_form_for(@location, method: :post, :url => managers_academy_locations_path(@academy), html: {id: "location-form", class: "hidden-form form-container", style: "width: 500px;"}) do |form| %>
          <div class="form-group">
            <%= form.input :name, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.input :address,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none form-control"},
              placeholder: 'Tape une adresse',
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV['MAPBOX_API_KEY']}}
            %>
          </div>

          <div class="form-group">
            <%= form.submit "Valider", class: "btn btn-primary" %>
            <button class="btn btn-secondary" id="cancel-location-btn" type="button">Annuler</button>
          </div>
        <% end %>
    </div>
  </div>
</div>
