<div id="no-user" class="row">
  <div class="devise-form">
    <h2 class="header-info mb-3">Connexion</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "Email" %>
        <%= f.input :password,
                    label: false,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "mot de passe" %>
        <%= f.input :remember_me, label: "Se souvenir de moi?", as: :boolean, wrapper_html: { class: "mt-3" } if devise_mapping.rememberable? %>
      </div>

      <div class="flexy">
        <%= f.button :submit, "Valider", class: "btn-etendart btn-connexion-bis mb-4", style:"width:100%" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
