<h1 class="text-center my-3 bg-warning text-black p-1">
  <%= @academy.name.upcase %> - <%= @school_period.name %> <%= @school_period.year %>
</h1>



<%# Il faut le nom du camp %>
<%# date du camp et prix du stage %>
<%# Les activités du camps en liste %>

<% @school_period.camps.each do |camp| %>
  <h3 class="text-white bg-black p-3 rounded-top-4">
    <%= camp.name %> - <%= l(camp.starts_at, format: :date) %> - <%= l(camp.ends_at, format: :date) %> - <%= @school_period.price %>€
  </h3>

  <div class="row">
    <% camp.activities.each do |activity| %>
      <div class="col-md-4">
        <h4>
          <%= activity.name %>
        </h4>

        <%= link_to "Voir", academy_school_period_activity_path(@academy, @school_period, activity), class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
