<%# academy_school_period_path(@academy, school_period) %>

<h1 class="text-center my-3 bg-yellow text-black py-3 my-3">
  <%= @academy.name.upcase %> - <%= @school_period.name %> <%= @school_period.year %>
</h1>



<%# Il faut le nom du camp %>
<%# date du camp et prix du stage %>
<%# Les activités du camps en liste %>
<section class="container">
  <div class="row gy-5">
    <% @school_period.camps.each do |camp| %>

      <div class="col-12">

        <h2 class="text-white bg-black p-3 rounded-top-4">
          <%= camp.name %> - <%= l(camp.starts_at, format: :date) %> - <%= l(camp.ends_at, format: :date) %> - <%= @school_period.price %>€
        </h2>

        <div class="row gy-1">
          <% camp.activities.each do |activity| %>

            <div class="col-md-4 col-6">

              <%= link_to academy_school_period_activity_path(@academy, @school_period, activity) do %>
                <div class="card h-100 rounded-4">

                  <div class="card-body">
                    <h3 class="card-title">
                      <%= activity.name %>
                    </h3>

                    <% if activity.activity_enrollments.find_children_activity_enrollments(@parent).any? %>
                      <ul class="list-group list-group-flush">
                        <% activity.activity_enrollments.find_children_activity_enrollments(@parent).each do |activity_enrollment| %>
                          <li class="list-group-item">
                            <%= activity_enrollment.student.full_name %>
                          </li>
                        <% end %>
                      </ul>

                    <% else %>
                      <p class="text-center">
                        <em>
                          Aucun de mes enfants n'est inscrit pour le moment.
                        </em>
                      </p>
                    <% end %>
                  </div>

                </div>
              <% end %>

            </div>

          <% end %>
        </div>

      </div>

    <% end %>
  </div>

</section>
