<div id="course_<%= course.id  %>">
  <div class="flexy justify-content-center">
    <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-12" style="width:100%;max-width:450px">
      <div class="header-info header-info-coach">INFOS</div>
      <div class="content-info content-info-coach">
        <div class="course-infos">
          <p style="word-break: break-all">LIEU : <strong><%= activity.location.name %></strong></p>
          <p>TOTAL ÉLÈVES : <strong><%= course.students.count %></strong></p>
          <% if course.status %>
            <p class="green-text">PRÉSENTS : <strong><%= present_students_count %></strong></p>
            <p class="red-text">ABSENTS : <strong><%= missing_students_count %></strong></p>
          <% end %>
          <% if school_period && school_period.paid %>
            <p>PRIX DU STAGE : <strong><%= school_period.price %>€</strong></p>
          <% end %>
          <% if academy.banished %>
            <p>EXCLUS : <strong><%= banished_students.count %></strong></p>
          <% end %>
        </div>
        <div class="course-status">
          <% if course.status %>
            <i class="fa-solid fa-circle-check text-success fa-bigger"></i>
            <p class="mb-0">VALIDÉ</p>
          <% else %>
            <i class="fa-solid fa-circle-xmark fa-pink fa-bigger"></i>
            <p class="mb-0">EN ATTENTE</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-container form-no-radius container-presence-sheet col-xxl-4 col-lg-6 col-md-8 col-sm-12" data-controller="presence-sheet">
      <div class="header-info header-info-coach">LISTE</div>
      <%= form_with(url: update_enrollments_managers_course_path(course), method: :put, class: "presence-sheet-form") do |form| %>
        <table class="table table-striped table-responsive course-table">
          <thead>
            <tr>
              <th class="presence-head align-middle"style="min-width: 60px;"></th>
              <th class="presence-head align-middle" style="text-align:left">Élève</th>
              <th class="presence-head align-middle" style="text-align:left; padding-right:5px">Présent ?</th>
              <% if school_period && school_period.tshirt %>
                <th class="presence-head align-middle" style="text-align:center">Tshirt ?</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% enrollments.each do |enrollment| %>
              <% student = enrollment.student %>
              <% camp_enrollment = student.camp_enrollments.find { |ce| ce.camp_id == camp&.id } %>
              <% name_style = camp_enrollment&.paid == false ? "color: #FF5656;font-weight:bold" : "" %>

              <tr>
                <%= render partial: "coaches/courses/student_photo", locals: { student: student, course: course }%>
                  <td class="align-middle" style="text-align:left; padding-left:10px; max-width: 110px; overflow: hidden; text-overflow: ellipsis;">
                    <%= link_to coaches_student_profile_path(student, origin: coaches_course_path(course), course_id: course.id), class: "full-width-link" do %>
                      <span class="student-mr" style="white-space: normal; <%= name_style %>"><%= student.last_name.try(&:upcase)%></span><br>
                      <span class="student-mr" style="white-space: normal; <%= name_style %>"><%= student.first_name %></span><br>
                      <% if category.super_category == 'Cuisine' || category.super_category == 'Accompagnement' %>
                        <span style="color: #FF5656; font-weight: bold;"><%= student.allergy if student.allergy != "Non" %></span>
                      <% end %>
                    <% end %>
                  </td>
                <td class="align-middle">
                  <div class="form-switch form-switch-lg">
                    <% if academy.banished %>
                      <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", checked: enrollment.present?, disabled: (course.ends_at + 3.hour) < Time.current || course.starts_at > Time.current }, 1, 0 %>
                    <% else %>
                      <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", checked: enrollment.present?, disabled: course.starts_at > Time.current }, 1, 0 %>
                    <% end %>
                  </div>
                </td>
                <% if school_period && school_period.tshirt %>
                  <td class="align-middle">
                    <div class="has-paid">
                      <% school_period_enrollment = student.school_period_enrollments.find { |spe| spe.school_period_id == school_period&.id } %>
                      <%# school_period_enrollment = student.school_period_enrollments.find_by(school_period: school_period) %>
                      <% has_tshirt = school_period_enrollment.tshirt_delivered %>
                      <% if has_tshirt == true %>
                        <%= form.check_box "enrollments[#{enrollment.id}][tshirt_delivered]", { class: "form-check-input green-check", checked: true, readonly: true, disabled: true } %>
                        <%= form.hidden_field "enrollments[#{enrollment.id}][tshirt_delivered]", value: true %>
                      <% else %>
                        <%= form.check_box "enrollments[#{enrollment.id}][tshirt_delivered]", { class: "form-check-input green-check", checked: false } %>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="flexy">
          <% if academy.banished %>
            <%= form.submit "Valider", class: "btn-add-student btn-presence #{'disabled' if (course.ends_at + 3.hour) < Time.current || course.starts_at > Time.current}", disabled: (course.ends_at + 3.hour) < Time.current || course.starts_at > Time.current %>
          <% else %>
            <%= form.submit "Valider", class: "btn-add-student btn-presence #{'disabled' if course.starts_at > Time.current}", disabled: course.starts_at > Time.current %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if school_period && academy.banished %>
      <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-12" style="width:100%;max-width:450px">
        <div class="header-info header-info-coach">ÉLÈVES EXCLUS</div>
        <div class="content-info content-info-coach">
          <% if banished_students.any? %>
            <ul>
              <% banished_students.each do |student| %>
                <li>
                <%= student.full_name %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-center">Aucun élève exclu</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
