<div class="yellow-title"><%= @course.activity.name.upcase %> - <%= l(@course.starts_at, format: :default) %></div>


<div class="flexy justify-content-center">
  <div class="form-container container container-info-presence-sheet col-xxl-3 col-lg-4 col-md-6 col-sm-12">
    <p>ADRESSE : <strong><%= @course.activity.location.address %></strong></p>
    <p>TOTAL ÉLÈVES : <strong><%= @course.students_count %></strong></p>
    <% if @course.status == true %>
      <p class="green-text">PRÉSENTS : <strong><%= @course.present_students_count %></strong></p>
      <p  class="red-text">ABSENTS : <strong><%= @course.missing_students_count %></strong></p>
    <% end %>
    <p>
      <% if @course.status %>
      <div class="presence-status container">
        APPEL VALIDÉ <i class="fa-solid fa-check text-success fa-big"></i>
      </div>
      <% else %>
      <div class="presence-status container">
        APPEL EN ATTENTE <i class="fa-solid fa-xmark text-danger fa-big"></i>
      </div>
      <% end %>
    </p>
  </div>

  <div class="form-container container-presence-sheet col-xxl-4 col-lg-6 col-md-8 col-sm-12" data-controller="presence-sheet">
    <%= form_with(url: update_enrollments_managers_course_path(@course), method: :put, class: "presence-sheet-form") do |form| %>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th></th>
            <th style="text-align:center">Elève</th>
            <th style="text-align:center">Présent ?</th>
            <% if false %>
            <th style="text-align:center"></th>
            <% end %>
            <th style="text-align:center">A payé ?</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td class="align-middle">
                <%= link_to coaches_student_profile_path(enrollment.student, url_origin: coaches_course_path(@course)) do %>
                  <%= content_tag :div, class: "avatar-link" do %>
                    <%= cl_image_tag enrollment.student.photo_or_default, class: "avatar-small" %>
                  <% end %>
                <% end %>
              </td>
              <td class="align-middle" style="text-align:center; max-width: 130px; overflow: hidden; text-overflow: ellipsis;">
                <%= link_to enrollment.student.last_name.try(:upcase), coaches_student_profile_path(enrollment.student, url_origin: coaches_course_path(@course)), class: "student-mr", style: "white-space: normal;" %><br>
                <%= link_to enrollment.student.first_name, coaches_student_profile_path(enrollment.student, url_origin: coaches_course_path(@course)), class: "student-mr" %>
              </td>
              <td class="align-middle">
                <div class="form-switch form-switch-lg">
                  <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", id: "present-#{enrollment.id}", checked: enrollment.present }, 1, 0 %>
                  <label class="form-check-label form-switch-label" for="present-#{enrollment.id}"></label>
                </div>
              </td>
              <% if false %>
              <td class="align-middle"><span class="status-text <%= enrollment.present ? 'd-none' : '' %>">Absent</span></td>
              <% end %>
              <td class="align-middle">
                <div class="has-paid">
                  <%= form.check_box "enrollments[#{enrollment.id}][has_paid]", { class: "form-check-input", id: "has-paid-#{enrollment.id}", checked: enrollment.student.camp_enrollments.find_by(camp: @course.activity.camp)&.has_paid || false } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="flexy">
        <%= form.submit "Valider", class: "btn-etendart" %>
      </div>
    <% end %>
  </div>
</div>
