<div class="yellow-title"><%= @course.activity.name.upcase %> - <%= l(@course.starts_at, format: :default) %> à <%= l(@course.ends_at, format: :hour_min) %></div>


<div class="flexy justify-content-center">
  <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-12" style="width:100%;max-width:450px">
    <div class="header-info header-info-coach">INFOS</div>
    <div class="content-info content-info-coach">
      <p>ADRESSE : <strong><%= @course.activity.location.address %></strong></p>
      <p>TOTAL ÉLÈVES : <strong><%= @activity.students.count %></strong></p>
      <% if @course.status %>
        <p class="green-text">PRÉSENTS : <strong><%= @course.present_students_count %></strong></p>
        <p class="red-text">ABSENTS : <strong><%= @course.missing_students_count %></strong></p>
      <% end %>
      <% if @academy.name == "Rudy Gobert" %>
        <p>EXCLUS : <strong><%= @banished_students.count %></strong></p>
      <% end %>
      <% if @course.status %>
        <p class="presence-status container">
          APPEL VALIDÉ <i class="fa-solid fa-check text-success fa-big"></i>
        </p>
      <% else %>
        <p class="presence-status container">
          APPEL EN ATTENTE <i class="fa-solid fa-xmark text-danger fa-big"></i>
        </p>
      <% end %>
    </div>
  </div>

  <div class="form-container form-no-radius container-presence-sheet col-xxl-4 col-lg-6 col-md-8 col-sm-12" data-controller="presence-sheet">
    <div class="header-info header-info-coach">LISTE</div>
    <%= form_with(url: update_enrollments_managers_course_path(@course), method: :put, class: "presence-sheet-form") do |form| %>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th class="presence-head"></th>
            <th class="presence-head" style="text-align:left">Élève</th>
            <th class="presence-head" style="text-align:left">Présent ?</th>
            <% if false %>
              <th class="presence-head" style="text-align:center"></th>
            <% end %>
            <% if @school_period && @school_period.paid %>
              <th class="presence-head" style="text-align:center">A payé ?</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td class="align-middle">
                <%= link_to coaches_student_profile_path(enrollment.student, url_origin: coaches_course_path(@course)) do %>
                    <%= cl_image_tag enrollment.student.photo_or_default, class: "avatar-small" %>
                <% end %>
              </td>
              <td class="align-middle" style="text-align:left; max-width: 130px; overflow: hidden; text-overflow: ellipsis;">
                <%= link_to enrollment.student.last_name.try(:upcase), coaches_student_profile_path(enrollment.student, url_origin: coaches_course_path(@course)), class: "student-mr", style: "white-space: normal;" %><br>
                <%= link_to enrollment.student.first_name, coaches_student_profile_path(enrollment.student, url_origin: coaches_course_path(@course)), class: "student-mr" %><br>
                <% if @category.super_category == 'Cuisine' || @category.super_category == 'Accompagnement' %>
                  <span style="color: red; font-weight: bold;"><%= enrollment.student.allergy %></span>
                <% end %>
              </td>
              <td class="align-middle">
                <div class="form-switch form-switch-lg">
                  <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", id: "present-#{enrollment.id}", checked: enrollment.present?, disabled: (@course.ends_at + 3.hour) < Time.current }, 1, 0 %>
                  <label class="form-check-label form-switch-label" for="present-#{enrollment.id}"></label>
                </div>
              </td>
              <% if false %>
                <td class="align-middle"><span class="status-text <%= enrollment.present ? 'd-none' : '' %>">Absent</span></td>
              <% end %>
              <% if @school_period && @school_period.paid %>
                <td class="align-middle">
                  <div class="has-paid">
                    <% if enrollment.student.camp_enrollments.find_by(camp: @course.activity.camp).has_paid %>
                      <%= form.check_box "enrollments[#{enrollment.id}][has_paid]", { class: "form-check-input", id: "has-paid-#{enrollment.id}", checked: true, readonly: true, disabled: true } %>
                      <%= form.hidden_field "enrollments[#{enrollment.id}][has_paid]", value: true %>
                    <% else %>
                      <%= form.check_box "enrollments[#{enrollment.id}][has_paid]", { class: "form-check-input", id: "has-paid-#{enrollment.id}", checked: false } %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="flexy">
        <%= form.submit "Valider", class: "btn-etendart btn-presence" %>
      </div>
    <% end %>
  </div>

  <% if @school_period && @academy.name == "Rudy Gobert" %>
    <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-12" style="width:100%;max-width:450px">
      <div class="header-info header-info-coach">ÉLÈVES EXCLUS</div>
      <div class="content-info content-info-coach">
        <% if @banished_students.any? %>
          <ul>
            <% @banished_students.each do |student| %>
              <li>
              <%= student.full_name %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-center">Aucun élève exclu</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
