<div class="yellow-title mb-0"><%= @activity.name.upcase %> - <%= l(@course.starts_at, format: :default) %> à <%= l(@course.ends_at, format: :hour_min) %></div>

<div class="flexy justify-content-center">
  <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-12" style="width:100%;max-width:450px">
    <div class="header-info header-info-coach">INFOS</div>
    <div class="content-info content-info-coach">
      <p class="mb-1">ADRESSE : <strong><%= @activity.location.address %></strong></p>
      <p class="mb-1">TOTAL ÉLÈVES : <strong><%= @course.students.count %></strong></p>
      <% if @course.status %>
        <p class="green-text mb-1">PRÉSENTS : <strong><%= @course.present_students_count %></strong></p>
        <p class="red-text mb-1">ABSENTS : <strong><%= @course.missing_students_count %></strong></p>
      <% end %>
      <% if @academy.banished %>
        <p class="mb-1">EXCLUS : <strong><%= @banished_students.count %></strong></p>
      <% end %>
      <% if @course.status %>
        <p class="presence-status container">
          APPEL VALIDÉ <i class="fa-solid fa-check text-success fa-big"></i>
        </p>
      <% else %>
        <p class="presence-status container">
          APPEL EN ATTENTE <i class="fa-solid fa-xmark text-danger fa-big"></i>
        </p>
      <% end %>
      <p class="text-center" style="">Merci de rappeler aux élèves en <span style="color:red;font-weight:bold">ROUGE</span> de payer leur cotisation annuelle (15€)<br>
        Pour valider le paiement par un élève, allez sur le profil de l'élève, sélectionnez un mode de paiement et validez</p>
    </div>
  </div>

  <div class="form-container form-no-radius container-presence-sheet col-xxl-4 col-lg-6 col-md-8 col-sm-12" data-controller="presence-sheet">
    <div class="header-info header-info-coach">LISTE</div>
    <%= form_with(url: update_enrollments_managers_course_path(@course), method: :put, class: "presence-sheet-form") do |form| %>
      <table class="table table-striped table-responsive course-table">
        <thead>
          <tr>
            <th class="presence-head align-middle"style="min-width: 60px;"></th>
            <th class="presence-head align-middle" style="text-align:left">Élève</th>
            <th class="presence-head align-middle" style="text-align:left; padding-right:5px">Présent ?</th>
            <% if @school_period && @school_period.paid %>
              <th class="presence-head align-middle" style="text-align:center; padding-right:5px">Payé ?</th>
            <% end %>
            <% if @school_period && @school_period.tshirt %>
              <th class="presence-head align-middle" style="text-align:center">Tshirt ?</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <% student = enrollment.student %>
            <% membership = student.memberships.find_by(start_year: @start_year) %>
            <% name_style = membership&.status == false ? "color: red;font-weight:bold" : "" %>

            <tr>
              <%= render partial: "coaches/courses/student_photo", locals: { student: student }%>
                <td class="align-middle" style="position:relative;text-align:left; padding-left:10px; max-width: 110px; overflow: hidden; text-overflow: ellipsis;">
                  <%= link_to coaches_student_profile_path(student, url_origin: coaches_course_path(@course)), class: "full-width-link" do %>
                    <span class="student-mr" style="white-space: normal; <%= name_style %>"><%= student.last_name.try(&:upcase)%></span><br>
                    <span class="student-mr" style="white-space: normal; <%= name_style %>"><%= student.first_name %></span><br>
                    <% if @category.super_category == 'Cuisine' || @category.super_category == 'Accompagnement' %>
                      <span style="color: red; font-weight: bold;"><%= student.allergy %></span>
                    <% end %>
                  <% end %>
                </td>
              <td class="align-middle">
                <div class="form-switch form-switch-lg">
                  <% if @academy.banished %>
                    <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", checked: enrollment.present?, disabled: (@course.ends_at + 3.hour) < Time.current || @course.starts_at > Time.current }, 1, 0 %>
                  <% else %>
                    <%= form.check_box "enrollments[#{enrollment.id}][present]", { class: "form-check-input form-switch-input", checked: enrollment.present?, disabled: @course.starts_at > Time.current }, 1, 0 %>
                  <% end %>
                </div>
              </td>
              <% if false %>
                <td class="align-middle"><span class="status-text <%= enrollment.present ? 'd-none' : '' %>">Absent</span></td>
              <% end %>
              <% if @school_period && @school_period.paid %>
                <td class="align-middle">
                  <div class="has-paid">
                    <% if student.camp_enrollments.find_by(camp: @camp).has_paid %>
                      <%= form.check_box "enrollments[#{enrollment.id}][has_paid]", { class: "form-check-input green-check", style: "background-color:green", checked: true, readonly: true, disabled: true } %>
                      <%= form.hidden_field "enrollments[#{enrollment.id}][has_paid]", value: true %>
                    <% else %>
                      <%= form.check_box "enrollments[#{enrollment.id}][has_paid]", { class: "form-check-input green-check", checked: false } %>
                    <% end %>
                  </div>
                </td>
              <% end %>
              <% if @school_period && @school_period.tshirt %>
                <td class="align-middle">
                  <div class="has-paid">
                    <% school_period_enrollment = student.school_period_enrollments.find_by(school_period: @school_period) %>
                    <% has_tshirt = school_period_enrollment.tshirt_delivered %>
                    <% if has_tshirt == true %>
                      <%= form.check_box "enrollments[#{enrollment.id}][tshirt_delivered]", { class: "form-check-input green-check", style: "background-color:green", checked: true, readonly: true, disabled: true } %>
                      <%= form.hidden_field "enrollments[#{enrollment.id}][tshirt_delivered]", value: true %>
                    <% else %>
                      <%= form.check_box "enrollments[#{enrollment.id}][tshirt_delivered]", { class: "form-check-input green-check", checked: false } %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="flexy">
        <% if @academy.banished %>
          <%= form.submit "Valider", class: "btn-etendart btn-presence #{'disabled' if (@course.ends_at + 3.hour) < Time.current || @course.starts_at > Time.current}", disabled: (@course.ends_at + 3.hour) < Time.current || @course.starts_at > Time.current %>
        <% else %>
          <%= form.submit "Valider", class: "btn-etendart btn-presence #{'disabled' if @course.starts_at > Time.current}", disabled: @course.starts_at > Time.current %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @school_period && @academy.banished %>
    <div class="col-xxl-4 col-lg-6 col-md-8 col-sm-12" style="width:100%;max-width:450px">
      <div class="header-info header-info-coach">ÉLÈVES EXCLUS</div>
      <div class="content-info content-info-coach">
        <% if @banished_students.any? %>
          <ul>
            <% @banished_students.each do |student| %>
              <li>
              <%= student.full_name %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-center">Aucun élève exclu</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
