<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<% if @resource.status == "creation" %>
  <h1>Bienvenue dans l'application</h1>
  <p>Bonjour <%= @resource.email %>,</p>
  <p>Vous avez demandé la réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>
  <%= link_to 'Changer mon mot de passe', edit_user_password_url(reset_password_token: @token) %>
  <p>Ce lien est valable pendant <%= @resource.class.reset_password_within / 3600 %> heures.</p>
  <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, vous pouvez ignorer cet e-mail.</p>
  <% else %>
  <h1>Réinitialisation de mot de passe</h1>
  <p>Bonjour <%= @resource.email %>,</p>
  <p>Vous avez demandé la réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>
  <%= link_to 'Changer mon mot de passe', edit_user_password_url(reset_password_token: @token) %>
  <p>Ce lien est valable pendant <%= @resource.class.reset_password_within / 3600 %> heures.</p>
  <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, vous pouvez ignorer cet e-mail.</p>
  <% end %>
</body>
</html>
