<h1 class="text-center my-3 bg-warning text-black p-1">
  <%= @academy.name.upcase %> - <%= @school_period.name %> <%= @school_period.year %> - <%= @camp.name %>
  <br>
  <%= @activity.name %>
</h1>

<section class="container-sm">

  <div class="row">

    <div class="col-md-8 col-12 my-3 justify-content-center">
      <h2 class="header-info">
        PROCHAINS COURS
      </h2>

      <table class="table">
        <tr>
          <th>Date</th>
          <th>Horaires</th>
          <th>Lieu</th>

        </tr>

        <% @courses.each do |course| %>
          <tr>
            <td><%= l(course.starts_at, format: :abbr) %></td>
            <td><%= course.starts_at.strftime("%H:%M") %> - <%= course.ends_at.strftime("%H:%M") %></td>
            <td><%= @activity.location.name %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-4 col-12 my-3">

        <h2 class="header-info">
          COACH
        </h2>

        <ul>
          <li>
            <strong>Coach Principal</strong>
            <br>
            <%= @activity.coach.full_name %>
          </li>
          <li>
            <strong>Autres coachs</strong>
            <br>
            <% @activity.coaches.each do |coach| %>
              <%= coach.full_name %>
            <% end %>
          </li>
        </ul>

        <h2 class="header-info">
          LIEU
        </h2>

        <p>
          <%= @activity.location.address %>
        </p>

    </div>


  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 col-12 my-3">

      <h2 class="header-info">
        Inscrire mes enfants
      </h2>

      <% @children.each do |child| %>
        <div class="row">

          <div class="col-md-6 my-3 align-self-center">
            <%= child.full_name %>
          </div>

          <div class="col-md-6 my-3 align-self-center text-center">

            <!-- Button trigger modal -->

          <% if child.is_enrolled_in_activity?(@activity) %>
          <%# il est inscrit et on veut le désinscrire %>

            <%= link_to "Désinscrire", activity_enrollment_path(child.activity_enrollments.find_by(activity: @activity).id), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir désinscrire votre enfant ?" }, class: "btn btn-danger" %>

          <% else %>
          <%# il n'est pas inscrit a cette activité %>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%= child.id %>">
              Inscrire
            </button>

            <!-- Modal -->
            <div class="modal fade" id="<%= child.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Inscrire <%= child.first_name %> à l'activité</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>


                      <%= simple_form_for @activity_enrollment, url: academy_school_period_activity_activity_enrollments_path(@academy, @school_period, @activity), method: :post do |f| %>
                        <div class="modal-body">
                          <p>
                            En privilégiant le paiement par carte bancaire, vous nous aidez à simplifier la gestion des inscriptions.
                          </p>

                            <%= f.hidden_field :student_id, value: child.id %>
                            <%= f.hidden_field :activity_id, value: @activity.id %>
                            <%= f.label :payment_method, "Méthode de Paiement" %>
                            <%= f.select :payment_method, [['Carte Bancaire', 'carte bancaire'], ['Autre', 'other']], {}, { class: 'form-select' } %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                          <%= f.submit "Inscrire", class: "btn btn-primary" %>
                        </div>
                      <% end %>
                </div>
              </div>
            </div>

          <% end %>





          </div>

        </div>
      <% end %>


    </div>

  </div>

</section>
