<h1 class="text-center my-3 bg-yellow text-black py-3 my-3">
  <%= @academy.name.upcase %> - Nos prochains stages
</h1>
<section class="container-sm p-3">

  <%# Il faut les school_periods avec l'année sur la row %>
  <%# les stages qui prennent une portion de row %>
  <%# il faut les lieux de l'academie %>

  <div class="row">

    <div class="col-md-8">

      <% if @academy.next_school_periods.any? %>

        <% @academy.next_school_periods.each do |school_period| %>

          <div class="mb-3">

            <h2 class="text-white bg-black p-3 rounded-top-4 text-center">
              <%= school_period.name %> - <%= school_period.year %>
            </h2>


            <div class="row">

              <% if school_period.camps.any? %>

                <% school_period.camps.each do |camp| %>

                  <div class="col-md-4 col-6">
                    <h3>
                      <%= camp.name %>
                    </h3>
                    <i class="fa-solid fa-people-group"></i> <%= camp.students_count %> / <%= camp.capacity %>

                    <hr class="mb-3">


                  <% if camp.activities.any? %>
                    <ul>
                      <% camp.activities.each do |activity| %>
                        <li>
                          <%= activity.category.name %>
                        </li>
                      <% end %>
                    </ul>

                  <% else %>
                    <p class="text-center">
                      <em>
                        Restez patients ! Les activités seront bientôt disponibles.
                      </em>
                    </p>
                  <% end %>

                  </div>

                <% end %>

                <div class="col-12 text-center">
                  <hr class="mb-3">
                  <%= link_to "Inscrire mon enfant", new_parents_academy_school_period_school_period_enrollment_path(@academy, school_period), class: "btn btn-primary" %>
                </div>

                <% else %>
                <p class="text-center">
                  <em>
                    Restez patients ! Les stages seront bientôt disponibles.
                  </em>
                </p>
              <% end %>
            </div>

          </div>



        <% end %>

      <% else %>
        <p class="text-center">
          <em>
            Restez patients ! Les stages seront bientôt disponibles.
          </em>
        </p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h2 class="header-info">
        LIEUX
      </h2>

      <ul>
        <% @academy.locations.each do |location| %>


          <li>
            <h3>
              <%= location.name %>
            </h3>
            <p>
              <%= location.address %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <%# Form pour inscrire mon enfant aux stages de la school_period %>
  <%# on ne peut s'inscrire qu'aux camps de la prochaine school_period %>
  <%# Il faut sélectionner un seul enfant à la fois %>
  <%# long form pour créer le camp enrollment %>
  <%# on ne peut choisir qu'une activité type sport %>
  <%# on ne peut choisir qu'une activité type éveil %>
  <%# on ne peut choisir que l'activité qui respecte l'age de l'enfant %>







</section>
