<h1 class="bg-black text-white text-center fs-4 py-3 px-2 fw-bold">
  <%= @academy.name.upcase %>
</h1>

  <%# Il faut les school_periods avec l'année sur la row %>
  <%# les stages qui prennent une portion de row %>
  <%# il faut les lieux de l'academie %>

  <div class="row justify-content-center mt-3">

    <div class="col-12 col-lg-6">
        <% @school_periods.each do |school_period| %>

          <div class="mb-3">

            <h4 class="fw-bold mb-0 p-3 bg-black text-white rounded-top-4 text-center"><%= school_period.name.upcase %> - <%= school_period.year %></h4>

            <div class="row bg-white py-3 p-2 justify-content-center rounded-bottom-4">

              <% if school_period.camps.any? %>

                <% school_period.camps.each do |camp| %>
                    <div class="col-12 col-sm-6 border-bottom mb-3 mb-sm-0">
                    <h5>
                      <%= camp.name.upcase %>
                    </h5>
                    <p class="d-block mb-2">Du <%= l(camp.starts_at, format: :birthday) %> au <%= l(camp.ends_at, format: :birthday) %></p>
                    <i class="fa-solid fa-people-group"></i> <%= camp.students_count %> / <%= camp.capacity %>


                    <% if camp.activities.any? %>
                      <ul class="mt-3">
                      <% camp.activities.pluck(:category_id).uniq.each do |category_id| %>
                        <h6>
                        <%= Category.find(category_id).name %>
                        </h6>
                      <% end %>
                      </ul>

                    <% else %>
                      <p class="text-center">
                      <em>
                        Soyez patients ! Les activités seront bientôt disponibles.
                      </em>
                      </p>
                    <% end %>

                    </div>

                <% end %>

                <div class="col-12 text-center mt-3">
                  <%= link_to "INSCRIPTION", new_parents_academy_school_period_school_period_enrollment_path(@academy, school_period), class: "btn btn-dark rounded-pill px-3" %>
                </div>

                <% else %>
                  <p class="text-center">
                    <em>
                      Restez patients ! Les stages seront bientôt disponibles.
                    </em>
                  </p>
              <% end %>
            </div>

          </div>

        <% end %>
    </div>

    <div class="col-12 col-lg-4">
      <h4 class="fw-bold mb-0 p-3 bg-black text-white rounded-top-4 text-center">
        LIEUX
      </h4>

      <ul class="row bg-white p-3 justify-content-center rounded-bottom-4">
        <% @academy.locations.each do |location| %>
          <li>
            <h5>
              <%= location.name %>
            </h5>
            <p>
              <%= location.address %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
