<%= render "shared/academy_header" %>
<div class="yellow-title">Les stages</div>
<div class="container" data-controller="clickable-table">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Académie</th>
        <th>Stage</th>
        <th>Année</th>
        <th>Élèves inscrits</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @school_periods.each do |period| %>
      <tr class="clickable-tr" data-url="<%= managers_school_period_path(@academy, period) %>">
        <td><%= period.academy.name %></td>
        <td><%= period.name %></td>
        <td><%= period.year %></td>
        <td></td>
        <td>
          <%= link_to managers_school_period_path(period), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette période scolaire ?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


  <button class="btn btn-primary" id="add-school-period-btn">Ajouter une période scolaire</button>
  <div data-controller="hidden-forms">
    <%= form_with(model: @school_period, url: managers_academy_school_periods_path(@academy), method: :post, class: "hidden-form", id: "school-period-form") do |form| %>
      <%= form.label :name, "Nom :" %>
      <%= form.text_field :name, { class: "form-control", required: true } %>
      <%= form.label :year, "Année :" %>
      <%= form.select :year, (Time.now.year..Time.now.year + 5).to_a, { include_blank: "Sélectionnez une année" }, { class: "form-control", required: true } %>
      <%= form.submit "Valider", class: "btn btn-primary" %>
      <button class="btn btn-secondary" id="cancel-school-period-btn" type="button">Annuler</button>
    <% end %>
  </div>
</div>
