<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">LES STAGES</div>
</div>
<div class="yellow-title">LES STAGES</div>
<div data-controller="hidden-forms">
  <div class="flexy">
    <button class="btn-etendart-square btn-flex mt-0" data-action="click->hidden-forms#displaySchoolPeriodForm">
      <i class="fa-solid fa-square-plus fa-square-bigger"></i>NOUVEAU<i class="fa-solid fa-square-plus fa-square-bigger"></i>
    </button>
    <%= form_with(model: @school_period, url: managers_school_periods_path(academy: @academy), method: :post, class: "hidden-form form-container-hidden", id: "school-period-form", data: { hidden_forms_target: "schoolPeriodForm" }) do |form| %>
      <%= form.label :name, "Nom :" %>
      <%= form.text_field :name, { class: "form-control", required: true } %>
      <%= form.label :year, "Année :" %>
      <%= form.select :year, (Time.current.year - 1..Time.current.year + 2).to_a, { include_blank: "Sélectionnez une année" }, { class: "form-control", required: true } %>
      <div>
        <%= form.label :paid, "Payant ?" %>
        <div>
          <%= form.radio_button :paid, true %>
          <%= form.label "Oui" %>
        </div>
        <div>
          <%= form.radio_button :paid, false %>
          <%= form.label "Non" %>
        </div>
      </div>
      <div>
        <%= form.label :price, "Si oui, prix :" %>
        <%= form.text_field :price, { class: "form-control" } %>
      </div>
      <div>
        <%= form.label :tshirt, "Distribution de T-shirt ?" %>
        <div>
          <%= form.radio_button :tshirt, true %>
          <%= form.label "Oui" %>
        </div>
        <div>
          <%= form.radio_button :tshirt, false %>
          <%= form.label "Non" %>
        </div>
      </div>
      <div class="flex-btn">
        <%= form.submit "Valider", class: "btn-etendart" %>
        <button class="btn-etendart-black" data-action="click->hidden-forms#displaySchoolPeriodForm" type="button">Annuler</button>
      </div>
    <% end %>
  </div>
</div>
<div class="container" data-controller="clickable-table">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Académie</th>
        <th>Stage</th>
        <th>Année</th>
        <th>Élèves inscrits</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @school_periods.each do |period| %>
      <tr class="clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_school_period_path(period) %>">
        <td><%= period.academy.name %></td>
        <td><%= period.name %></td>
        <td><%= period.year %></td>
        <td><%= period.students_count %></td>
        <td>
        <% if period.can_import? %>
          <%= link_to managers_school_period_path(period), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce stage ?" } do %>
            <i class="fas fa-trash trash"></i>
          <% end %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
