<%= render "shared/academy_header" %>
<div class="container">
  <h1>Les prochaines périodes</h1>
  <ul>
    <% @school_periods.each do |period| %>
      <li>
        <%= link_to "#{period.name}", managers_school_period_path(@academy, period)%>
      </li>
    <% end %>
  </ul>

  <button class="btn btn-primary" id="add-school-period-btn">Ajouter une période scolaire</button>
  <div data-controller="hidden-forms">
    <%= form_with(model: @school_period, url: managers_academy_school_periods_path(@academy), method: :post, class: "hidden-form", id: "school-period-form") do |form| %>
      <%= form.label :name, "Nom :" %>
      <%= form.text_field :name, { class: "form-control", required: true } %>
      <%= form.label :year, "Année :" %>
      <%= form.select :year, (Time.now.year..Time.now.year + 5).to_a, { include_blank: "Sélectionnez une année" }, { class: "form-control", required: true } %>
      <%= form.submit "Valider", class: "btn btn-primary" %>
      <button class="btn btn-secondary" id="cancel-school-period-btn" type="button">Annuler</button>
    <% end %>
  </div>
</div>
