<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @school_period.academy.name.upcase, managers_academy_path(@school_period.academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(academy: @academy) %></div>
  <div class="header-nav-item active"><%= @school_period.name.upcase %> - <%= @school_period.year %> </div>
</div>
<div class="yellow-title"><%= @school_period.name.upcase %> - <%= @school_period.year %></div>

<div class="container" data-controller="clickable-table">
  <div class="flexy">
    <%= link_to "BILAN", statistics_managers_school_period_path(@school_period), class: "btn-etendart-square mt-0" %>
  </div>
  <% if @school_period.camps.any? %>
    <table class="table table-striped table-responsive table-center form-container">
      <thead>
        <tr>
          <th>Académie</th>
          <th>Stage</th>
          <th>Semaine</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Élèves inscrits</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% @school_period.camps.each do |camp| %>
        <tr class="clickable-tr" data-clickable-table-target="clickable" data-url="<%= managers_camp_path(camp) %>">
          <td class="align-middle"><%= @school_period.academy.name %></td>
          <td class="align-middle"><%= @school_period.name %></td>
          <td class="align-middle"><%= camp.name %></td>
          <td class="align-middle"><%= l(camp.starts_at, format: :date) %></td>
          <td class="align-middle"><%= l(camp.ends_at, format: :date) %></td>
          <td class="align-middle"><%= camp.students_count %></td>
          <% if camp.can_import? %>
            <td class="align-middle">
              <%= link_to managers_camp_path(camp), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette semaine ?" } do %>
                <i class="fas fa-trash trash"></i>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="flexy" data-controller="hidden-forms">
  <button class="btn-etendart-square mt-0" data-action="click->hidden-forms#displayCampForm">AJOUTER UNE SEMAINE</button>
  <%= form_with(model: @camp, url: managers_camps_path(school_period: @school_period), method: :post, class: "hidden-form form-container-hidden", data: { hidden_forms_target: "campForm" } ) do |form| %>
    <%= form.label :name, "Nom :" %>
    <%= form.select :name, ["semaine1", "semaine2", "semaine3", "semaine4", "semaine5", "semaine6"], { include_blank: true }, { class: "form-select", required: true } %>
    <%= form.label :starts_at, "Date de début :" %>
    <%= form.date_field :starts_at, class: "form-control", required: true %>
    <%= form.label :ends_at, "Date de fin :" %>
    <%= form.date_field :ends_at, class: "form-control", required: true %>
    <div class="flex-btn">
      <%= form.submit "Valider", class: "btn-etendart" %>
      <button class="btn-etendart-black" data-action="click->hidden-forms#displayCampForm" type="button">Annuler</button>
    </div>
  <% end %>
</div>


<% if false %>
  <div class="yellow-title mb-3 mt-3">IMPORT CSV</div>
  <div class="flexy" data-controller="import-csv">
    <div class="loader d-none" data-import-csv-target="spinner"></div>
    <div class="container flexy">
      <div class="form-container">
        <%= simple_form_for(@school_period, url: managers_import_students_path, method: :post, data: { action: "change->import-csv#handleFileSelect" }) do |form| %>
          <%= form.input :school_period_id, as: :hidden, input_html: { value: @school_period.id } %>
          <div class="form-group">
            <%= form.input :csv_file, as: :file, label: false, input_html: { accept: '.csv', data: { import_csv_target: "csvFileInput" }, class: "form-control-file" } %>
          </div>
          <%= form.submit 'Importer', disabled: true, data: { import_csv_target: "importButton", action: "click->import-csv#showSpinner" }, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if false %>
  <%= link_to "Export par activité", export_bilan_csv_managers_school_period_path(@school_period, export_type: "activities", format: :csv), class: "btn btn-success mb-3" %>
  <%= link_to "Export par semaine", export_bilan_csv_managers_school_period_path(@school_period, export_type: "semaine", format: :csv), class: "btn btn-success mb-3" %>
  <%= link_to "Export par âge", export_bilan_csv_managers_school_period_path(@school_period, export_type: "age", format: :csv), class: "btn btn-success mb-3" %>
  <%= link_to "Export par département", export_bilan_csv_managers_school_period_path(@school_period, export_type: "department", format: :csv), class: "btn btn-success mb-3" %>
  <%= link_to "Export all", export_bilan_csv_managers_school_period_path(@school_period, export_type: "all", format: :csv), class: "btn btn-success mb-3" %>
<% end %>
