<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @school_period.academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item"><%= link_to "LES STAGES", managers_school_periods_path(@school_period, academy: @academy) %></div>
  <div class="header-nav-item"><%= link_to "#{@school_period.name.upcase} - #{@school_period.year}", managers_school_period_path(@school_period) %></div>
  <div class="header-nav-item active">BILAN</div>
</div>
<div class="yellow-title mb-0">BILAN - <%= @school_period.name.upcase %> - <%= @school_period.year %></div>


<div class="black-title mb-3">BILAN PAR SEMAINE</div>

<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Camp</th>
        <th>Inscrits</th>
        <th>Absents (%)</th>
        <th>Présents (%)</th>
        <th>Garçon (%)</th>
        <th>Fille (%)</th>
        <th>Âge moyen</th>
        <th>Taux abs</th>
      </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
        <tr>
          <td><%= camp.name %></td>
          <td><%= camp.has_begun? ? camp.students_count : "-" %></td>
          <td><%= camp.has_begun? ? "#{camp.no_show_count} (#{camp.no_show_rate}%)": "-" %></td>
          <td><%= camp.has_begun? ? "#{camp.show_count} (#{camp.show_rate}%)": "-" %></td>
          <td><%= camp.has_begun? ? "#{camp.percentage_of_students("Garçon")} %" : "-" %></td>
          <td><%= camp.has_begun? ? "#{camp.percentage_of_students("Fille")} %" : "-" %></td>
          <td><%= camp.has_begun? ? "#{camp.age_of_students} ans" : "-" %></td>
          <td><%= camp.has_begun? ? "#{camp.absenteeism_rate} %" : "-" %></td>
        </tr>
      <% end %>
        <tr class="total-row">
          <td>TOTAL</td>
          <td><%= @school_period.students_count %></td>
          <td><%= "#{@school_period.no_show_count} (#{@school_period.no_show_rate}%)"%></td>
          <td><%= "#{@school_period.show_count} (#{@school_period.show_rate}%)"%></td>
          <td><%= "#{@school_period.percentage_of_students("Garçon")} %" %></td>
          <td><%= "#{@school_period.percentage_of_students("Fille")} %" %></td>
          <td><%= @school_period.age_of_students %> ans</td>
          <td><%= "#{@school_period.absenteeism_rate} %" %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="black-title mb-3 mt-3">BILAN PAR ÂGE</div>
<div class="container">
  <table class="table table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Âge</th>
        <% @school_period.camps.each do |camp| %>
          <th><%= camp.name %></th>
        <% end %>
        <th class="total-row">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <% @school_period.participant_ages.each do |age| %>
        <tr>
          <td><%= "#{age} ans" %></td>
          <% @school_period.camps.each do |camp| %>
            <td><%= camp.has_begun? ? camp.number_of_students_by_age(age) : "-" %></td>
          <% end %>
          <td class="total-row"><%= @school_period.number_of_students_by_age(age) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="black-title mb-3 mt-3">BILAN PAR DEPARTEMENT</div>
<div class="container">
  <table class="table table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Département</th>
        <% @school_period.camps.each do |camp| %>
          <th><%= camp.name %></th>
        <% end %>
        <th class="total-row">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <% @sorted_departments.each do |department| %>
        <tr>
          <td><%= department %></td>
          <% @school_period.camps.each do |camp| %>
            <td><%= camp.has_begun? ? camp.number_of_students_by_dpt(department) : "-" %></td>
          <% end %>
          <td class="total-row"><%= @school_period.number_of_students_by_department(department) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="black-title mb-3">BILAN PAR CATÉGORIE</div>
<div class="container">
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Présents</th>
        <th>Garçon (%)</th>
        <th>Fille (%)</th>
        <th>Taux abs</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= @school_period.number_of_students_by_category(category) %></td>
          <td><%= "#{@school_period.percentage_of_students_by_category_and_gender(category, "Garçon")} %" %></td>
          <td><%= "#{@school_period.percentage_of_students_by_category_and_gender(category, "Fille")} %" %></td>
          <td><%= "#{@school_period.absenteeism_rate_by_category(category)} %" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="black-title mb-3 mt-3">BILAN PAR ACTIVITÉ</div>
<div class="container">
  <% @camps.each do |camp| %>
  <table class="table table-striped table-responsive table-center form-container">
    <thead>
      <tr>
        <th>Semaine</th>
        <th>Activité</th>
        <th>Présents</th>
        <th>Nb Garçon</th>
        <th>Nb Fille</th>
        <th>Âge moyen</th>
        <th>Taux abs</th>
      </tr>
    </thead>
    <tbody>
      <% camp.activities.each do |activity| %>
        <tr>
          <td><%= activity.camp.name %></td>
          <td><%= activity.name %></td>
          <td><%= camp.has_begun? ? activity.students_count : "-" %></td>
          <td><%= camp.has_begun? ? activity.number_of_students("Garçon") : "-" %></td>
          <td><%= camp.has_begun? ? activity.number_of_students("Fille") : "-" %></td>
          <td><%= camp.has_begun? ? "#{activity.age_of_students} ans" : "-" %></td>
          <td><%= camp.has_begun? ? "#{activity.absenteeism_rate} %" : "-" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
