<h1 class="text-center">
  Ajouter un enfant
</h1>

<%= simple_form_for @student, url: new_parents_student_path do |f| %>

  <%= f.input :first_name, label: "Prénom" %>
  <%= f.input :last_name, label: "Nom" %>
  <%= f.input :email, label: "Email (si l'enfant en a un)" %>
  <%= f.input :phone_number, label: "Numéro de téléphone (si l'enfant en a un)", as: :tel %>
  <%= f.input :date_of_birth, label: "Date de naissance", as: :date %>
  <%= f.input :gender, label: "Genre", collection: ["Garçon", "Fille", "Autre"], include_blank: false %>
  <%= f.input :photo, as: :file %>

  <%= f.button :submit, "Ajouter", class: "btn btn-primary" %>
<% end %>
