<%= link_to managers_course_path(course), id: "old_course_#{course.id}", class: "row card-row" do %>
  <div class="col-3 flexy-row"><%= course.activity.name %></div>
  <div class="col-3 flexy-row"><%= course.activity.coach.try(:full_name) || "" %></div>
  <div class="col flexy-row"><%= course.activity.coach.try(:phone_number) || "" %></div>
  <div class="col flexy-row"><%= l(course.starts_at, format: :short) %></div>
  <div class="col flexy-row">
    <% if course.starts_at < Time.current %>
      <% if course.status %>
        <i class="fa-solid fa-circle-check text-success fa-small"></i>
      <% else %>
        <i class="fa-solid fa-circle-xmark fa-pink fa-small"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
