<div class="col-12 col-xxl-11 mb-4">
  <div class="header-info header-info-academy">
    ÉLÈVES ABSENTS DE LA SEMAINE
    <%= link_to export_week_absent_students_csv_managers_academy_path(format: :csv) do %>
      <i class="fa-solid fa-download fa-download-white"></i>
    <% end %>
  </div>
  <div class="card-row-container">
    <div class="row pb-2 pt-2 header-row align-items-center">
      <div class="col flexy-row">Jour</div>
      <div class="col-3 flexy-row">Activité</div>
      <div class="col-3 flexy-row">Élève</div>
      <div class="col flexy-row">Téléphone</div>
      <div class="col-3 flexy-row">Email</div>
    </div>
    <% week_absent_enrollments do |enrollment| %>
      <%= link_to managers_student_path(enrollment.student), class: "row card-row"  do %>
        <div class="col flexy-row"><%= l(enrollment.course.starts_at, format: :day_name) %></div>
        <div class="col-3 flexy-row"><%= enrollment.activity.name %></div>
        <div class="col-3 flexy-row"><%= enrollment.student.full_name_separator %></div>
        <div class="col flexy-row"><%= enrollment.student.phone_number %></div>
        <div class="col-3 flexy-row"><%= enrollment.student.email %></div>
      <% end %>
    <% end %>
    <div class="flexy mt-2">
      <%= link_to "Voir tous", week_absent_students_managers_academy_path, class: "btn-add-student" %>
    </div>
  </div>
</div>
