<%= render "shared/academy_header" %>
<div class="row justify-content-center mt-3">
  <%= link_to managers_academy_school_periods_path(@academy), class: "col-sm-12 col-md-10 mb-4" do %>
    <div class="card-category mb-6" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= asset_path('students2.jpeg') %>')">
      LES STAGES
    </div>
  <% end %>

  <%= link_to managers_academy_students_path(@academy), class: "col-sm-12 col-md-5 mb-4" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= asset_path('students.jpeg') %>')">
      LES ÉLÈVES
    </div>
  <% end %>

  <%= link_to managers_academy_coaches_path(@academy), class: "col-sm-12 col-md-5 mb-4" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= asset_path('students4.jpeg') %>')">
      LES COACHS
    </div>
  <% end %>

  <%= link_to managers_academy_locations_path(@academy), class: "col-sm-12 col-md-5 mb-4" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= asset_path('students3.jpeg') %>')">
      LES ADRESSES
    </div>
  <% end %>

  <%= link_to managers_categories_path, class: "col-sm-12 col-md-5 mb-4" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= asset_path('students5.jpeg') %>')">
      LES CATÉGORIES
    </div>
  <% end %>
</div>
