<%= render "shared/academy_header" %>
<div class="cards container">
  <%= link_to managers_academy_school_periods_path(@academy) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path('students3.jpeg') %>')">
      Les stages
    </div>
  <% end %>

  <%= link_to managers_academy_locations_path(@academy) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path('students2.jpeg') %>')">
      Les Adresses
    </div>
  <% end %>

  <%= link_to managers_academy_coaches_path(@academy) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path('students4.jpeg') %>')">
      Les Coachs
    </div>
  <% end %>

  <%= link_to managers_academy_students_path(@academy) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path('students.jpeg') %>')">
      Les Élèves
    </div>
  <% end %>

  <%= link_to managers_categories_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path('students.jpeg') %>')">
      Les catégories
    </div>
  <% end %>
</div>
