<%#= turbo_stream_from "today_courses" %>
<%= render "shared/academy_header" %>
<div class="row justify-content-center align-items-center mt-3">
  <%= render "managers/academies/menu", academy: @academy %>
</div>

<div class="row justify-content-center align-items-stretch">
  <%# LES COURS DU JOUR %>
  <% if @today_courses.present? %>
    <%= render "managers/academies/today_courses", academy: @academy %>
  <% end %>

  <%# LES APPELS EN RETARD %>
  <% if @old_presence_sheet.present? %>
    <%= render "managers/academies/old_courses", old_presence_sheet: @old_presence_sheet %>
  <% end %>

  <%# LES ABSENTS DE LA JOURNÉE %>
  <% if @today_absent_students.present? %>
    <%= render "managers/academies/today_absent_students", today_absent_students: @today_absent_students %>
  <% end %>

  <%# LES ABSENTS DE LA SEMAINE %>
  <% if @week_absent_enrollments.present? %>
    <%= render "managers/academies/week_absent_students", week_absent_enrollments: @week_absent_enrollments %>
  <% end %>

  <%# LES EXCLUS %>
  <% if @academy.banished && @banished_students.present? %>
    <div class="col-12 col-xxl-11 mb-4">
      <div class="header-info header-info-academy">
        ÉLÈVES EXCLUS DE LA SEMAINE
        <%= link_to export_banished_students_csv_managers_camp_path(camp_id: @camp, format: :csv) do %>
          <i class="fa-solid fa-download fa-download-white"></i>
        <% end %>
      </div>
      <div class="content-info">
        <table class="table table-striped table-responsive table-center">
          <thead>
            <tr>
              <th>Élève</th>
              <th>Téléphone</th>
              <th>Email</th>
              <th>Exclu depuis</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @banished_students.each do |student| %>
              <tr class="banish-student-row">
                <td class="align-middle">
                  <%= link_to student.full_name_separator, managers_student_path(student), style:"color:inherit" %>
                </td>
                <td class="align-middle">
                  <%= link_to student.phone_number.present? ? student.phone_number : "", managers_student_path(student), style:"color:inherit" %>
                </td>
                <td class="align-middle">
                  <%= link_to student.email, managers_student_path(student), style:"color:inherit" %>
                </td>
                <% banishment_day = student.camp_enrollments.where(camp: @camp).first&.banishment_day %>
                <td class="align-middle">
                  <%= link_to banishment_day.present? ? l(banishment_day, format: :abbr_bis) : '-', managers_student_path(student), style:"color:inherit" %>
                </td>
                <td class="align-middle">
                  <%= link_to "Réintégrer", unban_student_managers_course_path(@course, camp_id: @camp.id, student_id: student.id), method: :post, data: { turbo_method: :post, turbo_confirm: "Êtes-vous sûr de vouloir réintégrer l'élève?" }, class: "btn btn-etendart btn-reintegrer" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <%# LES ETUDIANTS AVEC UN TRAITEMENT MEDICAL %>
  <% if @students_with_medical_treatment.present? %>
    <%= render "managers/academies/students_with_medical_treatment", students_with_medical_treatment: @students_with_medical_treatment %>
  <% end %>

  <%# LES FEEDBACKS %>
  <% if @feedbacks.present? %>
    <%= render "managers/academies/feedbacks", feedbacks: @feedbacks %>
  <% end %>

  <%# DEMAIN %>
  <% if @tomorrow_courses.present? %>
    <%= render "managers/academies/tomorrow_courses", tomorrow_courses: @tomorrow_courses %>
  <% end %>
</div>
