<%= render "shared/academy_header" %>
<div class="header-nav">
  <div class="header-nav-item"><%= link_to @academy.name.upcase, managers_academy_path(@academy) %></div>
  <div class="header-nav-item active">ÉLÈVES ABSENTS</div>
</div>
<div class="row justify-content-center align-items-stretch mt-3">
<div class="col-12 col-xxl-11 mb-4" data-controller="missing-students-table">
    <div class="header-info header-info-yellow header-info-academy">
      ÉLÈVES ABSENTS AUJOURD'HUI
      <%= link_to export_absent_students_csv_managers_academy_path(format: :csv) do %>
        <i class="fa-solid fa-download fa-download-black"></i>
      <% end %>
    </div>
    <div class="content-info">
    <% if @absent_students.present? %>
      <table id="missing-students" class="table table-striped table-responsive table-center">
        <thead>
          <tr>
            <th>Élève</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Heure</th>
            <th>Activité</th>
            <th>Academie</th>
          </tr>
        </thead>
        <tbody>
          <% @absent_students.each do |student| %>
            <% student.unattended_today_courses.each do |course_enrollment| %>
              <% if course_enrollment.course.academy.name == @academy.name %>
                <tr class="clickable-tr" onclick="window.location.href='<%= managers_student_path(student, academy_id: @academy) %>'">
                  <td class="align-middle"><%= student.full_name_separator %></td>
                  <td class="align-middle"><%= student.phone_modified %></td>
                  <td class="align-middle"><%= student.email %></td>
                  <td class="align-middle"><%= l(course_enrollment.course.starts_at, format: :hour_min) %></td>
                  <td class="align-middle"><%= course_enrollment.course.activity.name %></td>
                  <td class="align-middle"><%= course_enrollment.course.academy.name %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p style="text-align:center">Aucun élève absent aujourd'hui.</p>
    <% end %>
    </div>
  </div>
</div>
